/*
Theme Name: Nevara
Theme URI: http://demo.roadthemes.com/nevara/
Author: Roadthemes
Author URI: http://roadthemes.com/
Description:  Nevara is a new WordPress theme for Online Shopping. With this theme, we have presets and different layouts. With drag and drop home page layout manager, we can build many variations of home page layout. We also have ajax cart, wishlist, compare, zoom and fancybox to bring into a modern look of website. Some of amazing features like Revolution Slider, Mega Menu, Visual Composer, Product Tabs & Carousel, Contact Form with Google map will makes your website more attractive.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, post-formats, sticky-post, threaded-comments
Text Domain: nevara

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*------------------------------------------------------------------
[Table of contents]

This theme compiles .less files into .css files. Please open "less" folder to see all LESS file.

1. Theme variables
	1.1 Fonts
	1.2 Colors
	1.3 Defined colors
2. Reset style
	- Body / body
	- Anchor tag / a
	- Image / img
	- Heading / h1, h2, h3, h4, h5, h6
	- Button / .button, .buttonMixin()
	- List / ul, ol
	- Table / table
3. Global CSS
	3.1 Page layout / .wrapper
	3.2 Front page / .front-page
	3.3 Carousel buttons / .slick-slider
	3.4 Tooltip / .roadtip
	3.5 WooCommerce onsale label / .onsale
	3.7 Added to cart popup / .atc-notice-wrapper
	3.7 Quick view / .quickview-wrapper
	3.8 Header default / .header-container
		3.8.1 Top bar / .top-bar
		3.8.2 Top menu / .top-menu
		3.8.3 Language & Currency Switcher / .switcher
		3.8.4 Header shipping / .header-shipping
		3.8.5 Mini cart / .widget_shopping_cart
		3.8.6 Header search / .header-search
		3.8.7 Header / .header
			3.8.7.1 Menu / div.nav-menu
			3.8.7.2 Mega menu / #mega_main_menu_first
			3.8.7.3 Categories menu / .categories-menu
	3.9 Footer default / .footer
	3.10 Google map / .map-wrapper
	3.11 Content / .main-container
		3.11.1 Breadcrumbs / .woocommerce-breadcrumb, .breadcrumbs
		3.11.2 Shop toolbar / .toolbar
		3.11.3 List products / .shop-products
		3.11.4 Product page / .product-view
		3.11.5 Page header / .entry-header
		3.11.6 Page content / .page-content
		3.11.7 Cart page & checkout page / .woocommerce
		3.11.8 Full width template / .full-width
		3.11.9 Blog page / .blog-page
		3.11.10 Contact page / .contact-page
		3.11.11 Default page template / .default-page
		3.11.12 Error 404 page / .error404
		3.11.13 Sidebars / #secondary
		3.11.14 Portfolio page / .list_projects
		3.11.15 Single project / .single-project
		3.11.16 About page / .about-page
4. Home Blocks
5. Responsive CSS
-------------------------------------------------------------------*/

.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
	border: none;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 12px;
    line-height: 17px;
    margin: 3px 0 0;
    padding: 0 4px 5px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 12px;
	line-height: 2;
	color: #757575;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
table.compare-list .price td{
	text-decoration: none;
}
table.compare-list .price td .old-price{
	text-decoration:line-through;
	padding-left: 5px;
}