/* Layouts */

@import 'variables.less';

.home.blog .main-container {
    padding-top: 50px;
}
.home {
    .header-container {
        margin-bottom: 0;
    }
}
.heightzero {
    height: 0;
    overflow: hidden;
}
.wrapper .full-width {
    margin-left: 0;
    margin-right: 0;
    .row-container {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        width: 100%;
        .vc_column-inner{
            padding-left: 0;
            padding-right: 0;
        }
        .vc_row {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
.main-container .home-slider.full-width{ 

    .wpb_content_element {
        margin-bottom: 0;
    }

    .row-container {
        padding-right: 0;
        padding-left: 0;
    }
    .vc_column_container{
        padding-right: 0;
        padding-left: 0;
    }
}
.wrapper .no-gap {
    margin-left: 0;
    margin-right: 0;
    .row-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .vc_column-inner {
        padding-left: 0;
        padding-right: 0;
    }
}

.wrapper .full-width.no-gap {
    .row-container {
        padding-left: 0;
        padding-right: 0;
    }
}

.wrapper {
    .vc_col-has-fill > .vc_column-inner,
    .vc_row-has-fill > .vc_column_container > .vc_column-inner {
        padding-top: 0;
    }
}
/* IMAGE HOVER 
-----------------------------*/
// Image hover effect (in main-container, not include header, footer -> logo, image payment)
.main-container .wpb_single_image {
    > .wpb_wrapper {
        max-width: 100%; // for responsive FF and IE
    }
}
 
.header-container {
    &.header-2 {
        position: absolute;
        width: 100%;
        top: 0;
        .header {
            .horizontal-menu {
                #mega_main_menu_first {
                    & > .menu_holder {
                        .menu_inner {
                            & > ul {
                                & > li {
                                    &:hover {
                                        & > a.item_link {
                                            .link_text {
                                                color: @menucolor;
                                                text-decoration: underline;
                                            }
                                        }  
                                    }
                                    &.current-menu-ancestor, &.current-menu-item {
                                        &:hover {
                                            & > a.item_link {
                                                .link_text {
                                                    color: @menucolor;
                                                    text-decoration: underline;
                                                }
                                            }  
                                        }
                                        & > a.item_link {
                                            .link_text {
                                                color: @menucolor;
                                                text-decoration: underline;
                                            }
                                        }  
                                    }
                                    & > a.item_link {
                                        &:hover {
                                           .link_text {
                                                color: @menucolor;
                                                text-decoration: underline;
                                            } 
                                        }   
                                    } 
                                }
                            }
                        } 
                    }
                }
            }
        }
    }  
}
.main-container {
     
    .owl-carousel {
        width: auto;
        &:hover {
            .owl-controls {
                .owl-buttons {
                    div {
                        .opacity(1);
                    }
                }
            }
        }
        .owl-controls {
            .owl-buttons {
                div {
                    width: 48px;
                    height: 48px;
                    border: 1px solid #1a1a1a;
                    border-radius: 0;
                    font-size: 0;
                    position: absolute;
                    top: 50%;
                    margin-top: -24px;
                    background: #fff;
                    color: #444;
                    line-height: 0;
                    text-align: center;
                    z-index: 9;
                    .opacity(0);
                    .transition();
                    &:before {
                        font-family: 'FontAwesome';
                        font-size: 18px;
                        line-height: 46px;
                        display: block;
                    }
                    &.owl-prev {
                        left: -24px;
                        &:before {
                            content: "\f104";
                        }
                    }
                    &.owl-next {
                        right: -24px;
                        &:before {
                            content: "\f105";
                        }
                    }
                    &:hover {
                        background: #1a1a1a; 
                        color: #fff;
                    }
                }
            }
        }
    }
}

.footer { 
}
/* SLIDER REVOLUTION
-----------------------------*/
.wrapper .wpb_revslider_element {
    margin-bottom: 0;
    .tp-caption {
        a {
            color: inherit;
            display: block;
            position: relative;
            .transition(inherit);
            &:hover {
                color: inherit;
            }
        }
    }
}
 

.title1 { 
    text-align: center;
    margin-bottom: 30px !important; 
    h3 {
        font-size: 2em;
        display: inline-block;
        line-height: 1;
        text-transform: uppercase;
        &:before {
            content: "";
            width: 80px;
            height: 2px;
            background: @headingcolor;
            display: inline-block;
            vertical-align: middle;
            margin-right: 30px;
            margin-top: -4px;
        }
        &:after {
            content: "";
            width: 80px;
            height: 2px;
            background: @headingcolor;
            display: inline-block;
            vertical-align: middle;
            margin-left: 30px;
            margin-top: -4px;
        }
    } 
    p {
        font-family: @headingfont2;
        font-size: 1.142em;
        font-style: italic;
    }
}
 

.home-slider.full-width {
    margin-left: 0 !important;
    margin-right: 0 !important;
    & > .row-container {
        & > .vc_column_container {
            & > .vc_column-inner {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

//carouel products
.shop-products {
    &.owl-carousel { 
        .group {
            .item-col {
                width: 100%;  
                &:last-child {
                    margin: 0;
                }
            }
        }
         
    }
}
 
.top-categories {
    .box-categories {
        margin: 0;
        .box {
            p {
                margin: 0;
            }
            .box-inner {
                margin: 0;
                position: relative;
                overflow: hidden;
                .hoverstatic();
                .text {
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    z-index: 5;
                    h4 {
                        font-size: 1.142em;
                        font-weight: 400;
                        text-transform: uppercase;
                    }
                    p {
                        color: @greycolor;
                        font-size: 1.142em;
                        font-style: italic;
                    }
                }
            }
        }
    }
}

.button-container {
    margin: 0 !important;
    text-align: center;
}
.hoverstatic() {
    position: relative;
    overflow: hidden;
    &:hover {
        &:before {
            .opacity(1);
        }
        img {
            .scale(1.1;)
        }
    }
    &:before { 
        background: rgba(0, 0, 0, 0.1);
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        .transition();
        .opacity(0);
        z-index: 1;
    } 
    img {
        .scale(1);
        .transition();
    }
}

.home-static2 {
    .box-inner {
        margin: 0;
        text-align: center;
        padding: 100px 30px;
        .text {
            h2 {
                font-size: 3.43em;
                color: #fff;
                line-height: 1;
                margin-bottom: 20px;
            }
            p {
                font-size: 2.143em;
                font-weight: 600;
                line-height: 1.2;
                color: #fff;
            } 
            a.shop-now {
                color: #fff; 
            }
        }
    }
}

.home-static3 {
    .box {
        padding: 0 15px;
        p {
            margin: 0;
        }
        .box-inner {
            position: relative;
            overflow: hidden;
            margin: 0;
            .hoverstatic();
            .text {
                position: absolute;
                top: 50%;
                text-align: center;
                margin-top: -65px;
                left: 30px;
                z-index: 5;
            }
            p {
                font-size: 1.28em; 
            }
            h3 {
                font-size: 2.85em;
                font-weight: 700;
                line-height: 1;
                &:after {
                    content: "";
                    width: 50px;
                    height: 2px;
                    background: @headingcolor;
                    display: block;
                    margin: 20px auto 0;
                }
            }
            .shop-now {
                border: 0;
                padding: 0;
                font-size: 0.88em;
                margin-top: 20px;
                &:hover {
                    background: none;
                    border: 0;
                    color: @primarycolor;
                }
            }
        }
    }
}
.home-static4 {
    .box-inner {
        text-align: center;
        margin: 0;
        padding: 100px 10px;
        .hoverstatic();
        .text {
            z-index: 5;
            position: relative;
            h4 {
                font-size: 2.57em;
            }
            a.button {
                margin-top: 30px;
                background: rgba(26, 26, 26, 0.85);
                &:hover {
                    background: rgba(204, 0, 0, 0.85);
                }
            }
        }
    }
}

.home-static5 {
    .box-image {
        margin: 0;
        .hoverstatic();
    }
    .box-text {
        margin: 0;
        display: flex;
        min-height: 600px;
        & > .wpb_wrapper {
            margin: auto;
        }
        h4 {
            font-size: 2em;
            margin-bottom: 15px;
            &:before {
                content: "";
                height: 2px;
                width: 50px;
                border-top: 2px solid;
                display: block;
                margin-bottom: 15px;
            }
        }
        p {
            font-size: 1.57em;
            font-weight: 300;
        }
        a.shop-now {
            font-size: 0.9em;
        }
    }
}
 
 
/* HOME TABS GENERAL
-----------------------------*/
.home-tabs {
    position: relative;
    .wpb_content_element {
        display: none;
    }
    .title-container {
        max-width: 1170px;
        margin: 0 auto 20px;
        text-align: center;
        .home-tabs-title {
            list-style: none;
            li {
                display: inline-block; 
                &:not(:last-child) {
                    margin: 0 40px 0 0;  
                }
                a {
                    font-size: 1.142em;
                    font-weight: 400;
                    color: @textcolor;
                    line-height: 1;
                    display: inline-block;
                    padding: 10px 0;
                    position: relative;
                    text-transform: capitalize;
                    vertical-align: middle;
                    &:hover, &.active {
                        color: @headingcolor; 
                    }  
                } 
            }
        }
    }
    .shop-products {
        .group {  
            .item-col {
                width: 100%;
            }
        }
        .item-col { 
            -webkit-transition: none;
            transition: none;  
            &.first {
                clear: none;
            }
        }
    }
} 

.show-more-products { 
    .shop-products {
        .item-col {
            width: 25%;
            float: left;
            clear: none !important; 
            margin-bottom: 30px;
            text-align: center;
            &:nth-of-type(4n+1) {
                clear: both !important;
            }
            &:not(.active) {
                display: none;
            }
        } 
        .product-wrapper {
            .box-hover2 {
                display: flex;
            }
        }
    }

    .more-less {
        margin: 0;
        text-align: center;  
        height: 50px;
        position: relative;
        button {
            position: absolute; 
            left: 50%; 
            .translate(-50%, 0);
            &#showless { 
                display: none; 
            } 
        }
        
    }
}

.products-style2 {
    .shop-products {
        .product-wrapper {
            .product-name {
                font-size: 1.42em;
                font-weight: 600;
            }
            .price-box {
                font-size: 1.42em;
            }
            .add_to_cart_inline {
                a.button {
                    background: none;
                    border: 2px solid; 
                    color: #1a1a1a;
                    &:hover {
                        background: none;
                        color: @primarycolor;
                    }
                }
            }
            .add-to-cart {
                margin-top: 20px;
            }
            .quickview-inner, .list-col8 {
                display: none;
            }
        }
    }
}

 
/* TESTIMONIAL
-----------------------------*/
/* testimonial */
.testimonials-container {
    position: relative;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 2em;
        top: 2em;
        right: 2em;
        bottom: 2em;
        border: 1px dashed rgba(255, 255, 255, 0.3);
    }
    .icon-image {
        margin: 50px 0 0;
        padding: 30px;
    }
    .widget_woothemes_testimonials {
        .clearfix();
    }
    .testimonials {
        padding: 2em 1em;
        .clearfix(); 
        // remove padding and margin 
        .testimonials-text {
            background: none;
            border: none;
            color: @white;
            font-size: 1em;
            letter-spacing: .05em;
            line-height: 2.1; 
            padding: 0; 
            text-align: center;
            max-width: 780px;
            margin: 0 auto 4em;
            p {
                position: relative; 
            }
        }
        .quote {
            position: relative; 
            text-align: center;
            padding: 2em;
            .avatar-link {
                display: inline-block;
                position: relative;
                &:hover {
                    img {
                        .opacity(0.9);
                    }
                }
                &:before {
                    content: "";
                    top: -3px;
                    right: -3px;
                    bottom: -3px;
                    left: -3px;
                    border-radius: 100%;
                    position: absolute;
                    border: 1px solid #fff;
                    transform: rotate3d(0,0.4,1,42deg);
                }
                &:after {
                    content: "";
                    top: -5px;
                    right: -5px;
                    bottom: -5px;
                    left: -5px;
                    position: absolute;
                    border-radius: 100%;
                    border: 1px solid #f3b204;
                    transform: rotate3d(0,0.2,1,-70deg);
                }
            }
            .avatar {
                border-radius: 100%;
            }
        }
        .author {
            display: block;
            margin-top: 14px;
            position: relative;
            text-align: center;
            [itemprop='name'] {
                color: #fff;
                display: block;
                margin-bottom: 10px;
                font-size: 1.42857em; 
                letter-spacing: .05em;
                font-style: italic;
                font-family: @headingfont2;
            }
            .title {
                color: #fff;
                font-style: italic; 
            }
            [class*='url'] {
                display: none;
            }
            a {
                color: @primarycolor;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
     
}
 
/* BLOG CAROUSEL
-----------------------------*/
 
.latest-posts {  
    .posts-carousel {
        margin-left: -15px;
        margin-right: -15px;
        .item-col {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
     
    .post-wrapper {
        background: #fff;   
        .transition(); 
    }
    .post-info {  
        padding: 30px;
    }
    .post-thumb {  
        a {
            display: block;
            width: 100%;
            img {
                width: 100%;
            }
        }
        
    } 
    .post-meta { 
        letter-spacing: .05em;
        margin-bottom: 3px; 
        border-top: 1px solid @bordercolor;
        margin: 30px -30px 0;
        padding: 30px 30px 0;
        p {
            margin-bottom: 0;
        }
    }
    .post-date {
        display: inline-block;
        font-size: 1em;   
        float: right;
    }
    .post-author {
        display: inline-block;
        a {
            color: @greycolor;
            &:hover {
                color: @primarycolor;
            }
        }
    }
    .post-slash {
        margin: 0 5px;
        display: none;
    } 
    .post-comment {
        display: none;
    }
    .post-title {
        font-size: 1.07em;
        font-weight: 700;
        letter-spacing: .05em;
        margin: 0 0 15px 0;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 15px;
        &:after {
            content: "";
            width: 44px;
            border-bottom: 1px solid @bordercolor;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        a {
            color: @headingcolor;
            &:hover {
                color: @primarycolor;
            }
        }
    } 
    .post-excerpt { 
        color: #606060;
    }
    .readmore {
        display: none;
        color: #777;
        font-size: 0.9em; 
        margin-top: 10px;
        text-transform: capitalize;
        &:after {
            content: '\f105';
            font-family: FontAwesome; 
            margin-left: 10px;
        }
        &:hover {
            color: @primarycolor;
        }
    }
    .latest-post-inner {
        max-width: 1170px;
        margin: 0 auto !important;
        width: 100%;
    }
}

.featured-products {
     
    .shop-products {
        &.owl-carousel {  
            .owl-wrapper-outer { 
                .owl-item {
                    position: relative; 
                    &.first-active, &.last-active {
                        &:before {
                            content: "";
                            background: rgba(255, 255, 255, 0.5);
                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            z-index: 3;
                            display: block;
                        }
                    }
                }
            }
        }
    }
} 
  
.time_circles {
    position: relative;
    width: 100%;
    height: 100%;
    canvas {
        position: relative;
        z-index: 1;
    }
    .box-date {
        position: absolute;
        text-align: center;
        height: 100%;
        top: 0 !important;
        padding: 1em;
        &:before {
            content: "";
            background: #fff;
            border-radius: 100%;
            box-shadow: 10px 10px 40px 0 rgba(0,0,0,0.15);
            display: block;
            position: absolute;
            top: .5em;
            right: .5em;
            left: .5em;
            z-index: 0;
            bottom: .5em;
        }
        h4 {
            font-size: 1em;
            font-weight: 400;
            font-family: @headingfont2;
            color: #6c8e01;
            margin: 0;
            position: absolute;
            bottom: 2.5em;
            left: 1em;
            right: 1em;
        }
        span {
            font-size: 1.857em;
            font-family: @headingfont2;
            position: relative;
            color: #6c8e01;
            line-height: 1;
            margin-top: 0.7em;
            display: block;
        }
    }
}
 
 
/* BRAND CAROUSEL
-----------------------------*/
.brands-carousel {
    .slick-slider {
        margin: 0;
        button {
            &.slick-prev {
                left: -22px;
                right: auto;
            }
            &.slick-next {
                left: auto;
                right: -22px;
            }
        }
    }
    .slick-slide {
        text-align: center;
    }
    a {
        margin: 20px 0;
        &:hover {
            img {
                .transform(scale(1.1));
            }
        }
        img {
            .transition();
        }
    }
}
 
 
.shop-now {
    color: @headingcolor;
    border: 1px solid;
    display: inline-block;
    padding: 10px 25px;
    margin-top: 30px;
    line-height: 1;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    &:hover { 
        background: @primarycolor;
        border-color: @primarycolor;
        color: #fff;
    } 
}

