/* Responsive style sheet */
@import 'variables.less';
.visible-large {
    display: block;
}
.visible-small {
    display: none;
}
@media screen and ( min-width: 1500px ) {
    .header-container {
        &.header-3 {
            margin-left: -335px;
            width: auto;
            float: none; 
            .search-icon {
                display: none;
            }
            .header-search {
                margin: 33px 0;
            }
            .main-menu-wrapper {
                position: fixed;
                left: 0;
                padding: 60px 10px 20px 100px;
                height: 100%;
                width: 335px; 
                z-index: 9999;
            }
            .header {
                .horizontal-menu {
                    #mega_main_menu_first {
                        & > .menu_holder {
                            .menu_inner {
                                & > ul {
                                    padding: 0;
                                    margin: 0; 
                                    & > li {
                                        display: block;
                                        float: left;
                                        width: 100%;
                                        position: relative;
                                        & > a.item_link {
                                            width: 100%;
                                            padding: 0; 
                                            .link_content {
                                                float: none;
                                                .link_text {
                                                    display: block;
                                                    line-height: 60px;
                                                }
                                            }
                                        }
                                        & > ul.mega_dropdown {
                                            left: 100%;
                                            top: 0;
                                            z-index: 99999;
                                            &:after {
                                                content: "";
                                                clear: both;
                                                display: table;
                                            }
                                        }
                                        &.submenu_full_width {
                                            &.columns4 {
                                                & > ul.mega_dropdown {
                                                    width: 1200px; 
                                                }
                                            } 
                                            &.columns3 {
                                                & > ul.mega_dropdown {
                                                    width: 900px; 
                                                }
                                            } 
                                            &.columns2 {
                                                & > ul.mega_dropdown {
                                                    width: 600px; 
                                                }
                                            } 
                                        }  
                                        &.menu-item-has-children {
                                            & > a.item_link { 
                                                .link_text {
                                                    &:after {
                                                        float: right;
                                                        padding: 0 10px;
                                                        content: "\f105";
                                                        font-family: 'FontAwesome';
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .header-sticky {
                    &.ontop {   
                        .header-search {
                            margin: 3px 0;
                        }
                    }
                }
                .social-icons {
                    display: block;
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    padding: 10px 15px;
                    z-index: 9999;
                    li {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 20px;
                        a {
                            font-size: 24px;
                            color: #666;
                            &:hover {
                                color: #252525;
                            }
                        }
                    }
                }
                 
            }
        }
    }
    .wrapper  {
        .page-wrapper {
            &.side-bar-menu-sticky {
                padding-left: 335px; 
            } 
        } 
    }
}
@media screen and ( max-width: 1499px ) {
    .header-container {
        &.header-3 {
            .header-search {
                display: none;
            }
        }
    }
}
@media screen and ( max-width: 1400px ) {
    .box-container {
        padding: 0 30px;
    }
}
  
@media screen and ( max-width: 1199px ) {
    .wrapper {
        .row-container {
            max-width: 970px;
        }
        .vc_row {
            margin-left: 0;
            margin-right: 0;
        }
    }
    body {
        font-size: 12px !important;
    }
    h1.logo {
        text-align: center;
    }
    .wrapper .slick-slider button {
        .opacity(1);
        &.slick-prev {
            left: 15px;
        }
        &.slick-next {
            right: 15px;
        }
    }
    /* header */
    .header-container {  
        .header {
            .horizontal-menu { 
                #mega_main_menu_first {
                    & > .menu_holder {
                        .menu_inner {
                            & > ul {
                                & > li {
                                    & > a.item_link {
                                        padding: 0 15px;
                                        .link_text {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        } 
        .logo { 
            .vc_figure, .logo-inner {
                margin: auto; 
            }
        } 
    }

    .title1 {
        h3 {
            font-size: 1.5em; 
        }
    }
    .home-tabs {
        .title-container {
            position: static;
            margin-bottom: 30px;
            max-width: 940px;
        }
    }
    .home-static2 {
        .box-inner {
            .text {
                h2 {
                    font-size: 2.8em; 
                }
                p {
                    font-size: 1.5em;
                }
            }
        }
    }
    .home-static5 {
        .box-text {
            min-height: 470px;
        }
    }
}
@media screen and (max-width: 1023px) {
    .header-container {
        .widget_shopping_cart {
            .widget_shopping_cart_content {
                .mini_cart_content {
                    display: block;
                    height: 0;
                    overflow: hidden;
                }
            }
        }
    }   
}
 
@media screen and (max-width: 991px) {
    .vc_column_container {
        width: 100% !important;
    }
    
    .wrapper {
        .row-container {
            max-width: 750px;
        }
    }
    .yith_magnifier_mousetrap {
        display: none;
    }
    .visible-large {
        display: none;
    }
    .visible-small {
        display: block;
    }
    .main-menu-wrapper {
        width: 100%;
    }
    .mobile-menu {
        background: @primarycolor;
        float: left;
        height: 60px;
        margin: 0;
        position: relative;
        width: 100%;
        .mbmenu-toggler {
            color: #fff;
            cursor: pointer;
            float: right;
            font-family: @menufont;
            font-size: 16px;
            font-weight: 400;
            height: 60px;
            line-height: 60px;
            padding: 0 12px;
            text-align: left;
            text-transform: uppercase;
            width: 100%;
            span.mbmenu-icon {
                display: block;
                float: right;
                margin-left: 5px;
                width: 22px;
            }
        }
        .mobile-menu-container, div.nav-menu {
            background: #fff;
            border-radius: 3px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, .6);
            float: left;
            height: 0;
            left: 0;
            max-width: 100%;
            overflow: hidden;
            padding: 0 12px;
            position: absolute;
            top: 60px;
            width: 100%;
            -webkit-transition: all .5s ease;
                    transition: all .5s ease;
            z-index: 99999;
            &.open {
                display: block;
            }
            ul.nav-menu, & > ul {
                float: left;
                margin: 5px 0;
                padding: 0;
                text-align: left;
                width: 100%;
                & > li {
                    float: left;
                    list-style: none;
                    margin: 0;
                    position: relative;
                    width: 100%;
                    & > a {
                        border-top: 1px solid @bordercolor;
                        color: @greycolor;
                        display: block;
                        float: left;
                        font-size: 16px;
                        height: 40px;
                        line-height: 40px;
                        text-transform: uppercase;
                        width: 100%;
                        &:hover {
                            color: @primarycolor;
                        }
                    }
                    &:first-child {
                        a {
                            border-top: none;
                        }
                    }
                    .fa {
                        color: @greycolor;
                        cursor: pointer;
                        float: right;
                        height: 40px;
                        line-height: 40px;
                        position: absolute;
                        right: 0;
                        text-align: center;
                        top: 0;
                        width: 40px;
                        z-index: 2;
                        &:hover {
                            color: @primarycolor;
                        }
                    }
                    //first sub
                    & > ul.sub-menu, & > ul.children {
                        & > li {
                            & > a {
                                color: @greycolor;
                                &:hover {
                                    color: @primarycolor;
                                }
                            }
                        }
                    }
                   ul.sub-menu, ul.children {
                        float: left;
                        margin: 0;
                        padding: 0 0 0 10px;
                        width: 100%;
                        li {
                            float: left;
                            list-style: none;
                            margin: 0;
                            position: relative;
                            width: 100%;
                            a {
                                border-top: 1px solid #ddd;
                                color: @greycolor;
                                display: block;
                                float: left;
                                font-family: @menufont;
                                height: 40px;
                                line-height: 40px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .main-container {
        max-width: 100%;
        overflow: hidden;
    }
    #secondary {
        .sidebar-border {
            &.left {
                border-right: none;
                padding-right: 0;
            }
            &.right {
                border-left: none;
                padding-left: 0;
            }
        }
    }
    .main-container.error404 {
        .search-form-wrapper {
            padding: 80px 0;
            h1 {
                font-size: 100px;
                line-height: 100px;
            }
            h2 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
            }
            .form-input {
                width: 300px;
            }
            a.button {
                margin-top: 40px;
            }
        }
    }
    /* header */
    .header-container {
	    .logo {
            background: none;
            border: 0;
        } 
        
        .top-bar {
            text-align: center;
        }
        .box-right {
            text-align: center;
        } 
        .header-padding {
            padding: 0;
        }
        .widget_shopping_cart {
            .widget_shopping_cart_content {
                .mini_cart_content {
                    right: -85px;
                }
            }
        }
        .search-icon, .my-account, .widget_shopping_cart {
            border: 0;
        } 
        .main-menu-wrapper {
            &:before, &:after {
                display: none;
            }
        }
        
        .header-search {
            width: 100%;
        }
        &.header-2 {
            position: static;
            background: #222;
        }
    }  
     
    .home-tabs {
        .title-container {
            max-width: 720px;
        }
    }

    .top-categories {
        .box-categories {
            .box {
                text-align: center;
                .box-inner {
                    display: inline-block;
                }
            }
        }
    }
    .home-static3 {
        .box {
            text-align: center;
            .box-inner {
                display: inline-block;
            }
        }
    }

    .home-static5 {
        .box {
            text-align: center;
        }
        .box-image {
            display: inline-block;
        }
        .box-text {
                min-height: inherit;
                padding: 30px 15px 0;
            h4 {
                margin: 0 auto 15px;
            }
        }
    }
    .show-more-products { 
        .shop-products {
            .item-col {
                width: 33.33%; 
                &:nth-of-type(4n+1) {
                    clear: none !important;
                } 
                &:nth-of-type(3n+1) {
                    clear: both !important;
                } 
            }  
        }
    }
    .footer { 
        .logo-footer {
            text-align: center !important;
        }
        .f-col {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        .footer-top {
            .newsletter-container {
                text-align: center;
                .mc4wp-form-fields {
                    .title-container {
                        float: none;
                        display: inline-block;
                        text-align: left;
                        margin-bottom: 20px;
                    }
                    .from-input {
                        float: none;
                    }
                }
            }
        }
        .footer-bottom {
            .copyright, .payment {
                text-align: center;
            }
            .social-icons {
                text-align: center;
            }
        }
        .f-col {
            text-align: center; 
        }
        .footer-title {
            h3 {
                &:after {
                    margin: 8px auto 0;
                }
            }
        }
        .current {
            margin: 0;
            display: inline-block;
        }
        .toogle-content {
            display: none;
            margin-top: 15px;
        }
    }
    
}
@media screen and (max-width: 767px) {
    .front-page {
        .vc_row {
            margin-left: 0;
            margin-right: 0;
        }
    }
    
    .main-container .product-view .product .woocommerce-tabs {
        ul.tabs {
            li {
                margin: 0 0 25px 0;
                width: 100%;
                a {
                    border: none;
                    padding-bottom: 2px;
                }
            }
        }
    }
    .main-container.contact-page {
        .contact-input span {
            width: 100% !important;
        }
        .contact-desc .wpb_text_column {
            padding: 0;
            h2 {
                font-size: 40px !important;
            }
        }
    }
    .main-container.error404 {
        .search-form-wrapper .form-input {
            max-width: 95%;
        }
    }

    /* shop page only */
    /* header */
    .header-container {
        padding: 0 15px;
        .logo {
            height: 90px;
        }
        .header-nav-container {
            .wpb_text_column,
            .widget_product_search {
                float: none;
                margin: 0;
            }
            .widget_product_search {
                display: inline-block;
                margin-left: 50px;
            }
            .switcher {
                display: block;
                text-align: center;
                margin: 0 0 20px;
                .language,
                .currency {
                    display: inline-block;
                    vertical-align: middle;
                    float: none;
                }
            }
        }
         
        .header-text-container {
            .wpb_text_column {
                margin-bottom: 20px;
            }
        } 
    }
    /* footer */
    .footer {
        .footer-static {
            text-align: center;
            .wpb_column {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .wpb_text_column {
                min-width: 400px;
                display: inline-block;
                text-align: left;
            }
            
        }
        .footer-nav {
            border-bottom: none !important;
            .wpb_column {
                .vc_column-inner {
                    border-bottom: 1px solid @bordercolor;
                }
                &.vc_col-xs-6:nth-child(2n) {
                    .vc_column-inner {
                        border-right: none !important;
                    }
                }
            }
        }
        .footer-copyright {
            text-align: center;
            .wpb_text_column {
                margin-bottom: 30px;
            }
            .wpb_single_image {
                text-align: center;
            }
        }
    }
    
    .home-tabs {
        .title-container {
            padding: 0 15px; 
        }
    }
    .home-static2 {
        .box-inner {
            .text {
                h2 {
                    font-size: 2em; 
                }
                p {
                    font-size: 1.2em;
                }
            }
        }
    }
    .show-more-products { 
        .shop-products {
            .item-col {
                width: 50%; 
                &:nth-of-type(3n+1) {
                    clear: none !important;
                } 
                &:nth-of-type(2n+1) {
                    clear: both !important;
                } 
            } 
        }
    }
}
 
@media screen and (max-width: 639px) {
    /* checkout page */
    .shop_table.cart {
        th,
        td,
        tr {
            display: block;
        }
        th,
        td {
            border: none;
        }
        tr {
            border-bottom: 1px solid @bordercolor;
        }
    }
    .title2 { 
        padding: 0;
        margin-top: 0;
        &.layout2 {
            padding: 0;
        }
        &:before {
            display: none;
        } 
    }
    /* header */
    .header-container {
        .header-text-container {
            text-align: center;
            padding-bottom: 70px;
        }
        .header-nav-container {
            .switcher,
            .widget_product_search {
                float: none;
            }
            .widget_product_search {
                margin-left: 0;
            }
        } 
         
    }
    .title1 {
        h3 {
            &:before, &:after {
                display: none;
            } 
        }
    }
    .main-container .shop-products .product-wrapper .count-down .timebox {
        padding-left: 10px;
        padding-right: 10px;
    }
    .main-container .shop-products.list-view .listview {
        display: block;
    }
}
@media screen and (max-width: 479px) {
    [class*='vc_col'] {
        width: 100% !important;
    }
    /* inner page */
    .shop_table.cart {
        thead {
            display: none;
        }
        td,
        th {
            display: block;
        }
    }
    .main-container .buttons-cart .button {
        margin: 15px 15px 15px 0;
    }
    /* shop page only */
    // one item
    .shop_content .shop-products .item-col {
        clear: none !important;
        width: 100%;
    }
    .main-container {
        .product-view {
            .single-product-image {
                .thumbnails{
                    &.slider {
                        height: 100%;
                    }
                }
            }
        }
    }
    .show-more-products { 
        .shop-products {
            .item-col {
                width: 100%; 
                &:nth-of-type(2n+1) {
                    clear: none !important;
                }  
            }  
        }
    }
    /* footer */
    .footer .footer-static {
        .wpb_text_column {
            min-width: 0;
            text-align: center;
        }
        h5 {
            margin-bottom: 10px;
        }
        
    } 
}