@-moz-keyframes rotateY1 {
  0% {
    transform: rotate3d(0,1,0,16deg);
    -webkit-transform: rotate3d(0,1,0,16deg);
    -moz-transform: rotate3d(0,1,0,16deg);
  }
  100% {
    -webkit-transform: rotate3d(0,1,0,180deg);
    -moz-transform: rotate3d(0,1,0,180deg);
    transform: rotate3d(0,1,0,180deg);
  }
}
@keyframes rotateY1 {
  0% {
    transform: rotate3d(0,1,0,16deg);
    -webkit-transform: rotate3d(0,1,0,16deg);
    -moz-transform: rotate3d(0,1,0,16deg);
  }
  100% {
    -webkit-transform: rotate3d(0,1,0,180deg);
    -moz-transform: rotate3d(0,1,0,180deg);
    transform: rotate3d(0,1,0,180deg);
  }
}
@-webkit-keyframes rotateY1 {
  0% {
    transform: rotate3d(0,1,0,16deg);
    -webkit-transform: rotate3d(0,1,0,16deg);
    -moz-transform: rotate3d(0,1,0,16deg);
  }
  100% {
    -webkit-transform: rotate3d(0,1,0,180deg);
    -moz-transform: rotate3d(0,1,0,180deg);
    transform: rotate3d(0,1,0,180deg);
  }
}
.rotateY1 {
  -webkit-animation: rotateY1 2s infinite;
  animation: rotateY1 2s infinite;
  -moz-animation: rotateY1 2s infinite;
}
@-moz-keyframes rotateX1 {
  0% {
    transform: rotate3d(1,0,0,16deg);
    -webkit-transform: rotate3d(1,0,0,16deg);
    -moz-transform: rotate3d(1,0,0,16deg);
  }
  100% {
    transform: rotate3d(1,0,0,180deg);
    -webkit-transform: rotate3d(1,0,0,180deg);
    -moz-transform: rotate3d(1,0,0,180deg);
  }
}
@keyframes rotateX1 {
  0% {
    transform: rotate3d(1,0,0,16deg);
    -webkit-transform: rotate3d(1,0,0,16deg);
    -moz-transform: rotate3d(1,0,0,16deg);
  }
  100% {
    transform: rotate3d(1,0,0,180deg);
    -webkit-transform: rotate3d(1,0,0,180deg);
    -moz-transform: rotate3d(1,0,0,180deg);
  }
}
@-webkit-keyframes rotateX1 {
  0% {
    transform: rotate3d(1,0,0,16deg);
    -webkit-transform: rotate3d(1,0,0,16deg);
    -moz-transform: rotate3d(1,0,0,16deg);
  }
  100% {
    transform: rotate3d(1,0,0,180deg);
    -webkit-transform: rotate3d(1,0,0,180deg);
    -moz-transform: rotate3d(1,0,0,180deg);
  }
}
.rotateX1 {
  -webkit-animation: rotateX1 2s infinite;
  animation: rotateX1 2s infinite;
  -moz-animation: rotateX1 2s infinite;
}
@keyframes hoverCircle {
  0% {
    transform: rotate3d(0,0,0,0);
    -webkit-transform: rotate3d(0,0,0,0);
    -moz-transform: rotate3d(0,0,0,0);
    left: -4px;
    top: -3px;
    right: -1px;
    bottom: -3px;
  }
  100% {
    transform: rotate3d(0,0.1,1,180deg);
    -webkit-transform: rotate3d(0,0.1,1,180deg);
    -moz-transform: rotate3d(0,0.1,1,180deg);
    left: -2px;
    top: -5px;
    right: -2px;
    bottom: -5px;
  }
}
@-webkit-keyframes hoverCircle {
  0% {
    transform: rotate3d(0,0,0,0);
    -webkit-transform: rotate3d(0,0,0,0);
    -moz-transform: rotate3d(0,0,0,0);
    left: -4px;
    top: -3px;
    right: -1px;
    bottom: -3px;
  }
  100% {
    transform: rotate3d(0,0.1,1,180deg);
    -webkit-transform: rotate3d(0,0.1,1,180deg);
    -moz-transform: rotate3d(0,0.1,1,180deg);
    left: -2px;
    top: -5px;
    right: -2px;
    bottom: -5px;
  }
}
.hoverCircle {
  -webkit-animation: hoverCircle 2s infinite;
  animation: hoverCircle 2s infinite;
  -moz-animation: hoverCircle 2s infinite;
}
@keyframes countdowntiming {
  0% {
    bottom: -50px;
    position: relative;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    bottom: 0px;
    position: relative;
    filter: alpha(opacity=100);
    opacity: 1;
  }
}
@-webkit-keyframes AutoRun {
  0% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: translate(-30px,30px);
    -moz-transform: translate(-30px,30px);
    transform: translate(-30px,30px);
  }
  50% {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
  }
  100% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: translate(30px,-30px);
    -moz-transform: translate(30px,-30px);
    transform: translate(30px,-30px);
  }
}
@keyframes AutoRun {
  0% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: translate(-30px,30px);
    -moz-transform: translate(-30px,30px);
    transform: translate(-30px,30px);
  }
  50% {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
  }
  100% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: translate(30px,-30px);
    -moz-transform: translate(30px,-30px);
    transform: translate(30px,-30px);
  }
}
.AutoRun {
  -webkit-animation: AutoRun 1500ms ease-in-out infinite;
  -moz-animation: AutoRun 1500ms ease-in-out infinite;
  -ms-animation: AutoRun 1500ms ease-in-out infinite;
  -o-animation: AutoRun 1500ms ease-in-out infinite;
  animation: AutoRun 1500ms ease-in-out infinite;
}
.home.blog .main-container {
  padding-top: 50px;
}
.home .header-container {
  margin-bottom: 0;
}
.heightzero {
  height: 0;
  overflow: hidden;
}
.wrapper .full-width {
  margin-left: 0;
  margin-right: 0;
}
.wrapper .full-width .row-container {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  width: 100%;
}
.wrapper .full-width .row-container .vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}
.wrapper .full-width .row-container .vc_row {
  margin-left: 0;
  margin-right: 0;
}
.main-container .home-slider.full-width .wpb_content_element {
  margin-bottom: 0;
}
.main-container .home-slider.full-width .row-container {
  padding-right: 0;
  padding-left: 0;
}
.main-container .home-slider.full-width .vc_column_container {
  padding-right: 0;
  padding-left: 0;
}
.wrapper .no-gap {
  margin-left: 0;
  margin-right: 0;
}
.wrapper .no-gap .row-container {
  padding-left: 15px;
  padding-right: 15px;
}
.wrapper .no-gap .vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}
.wrapper .full-width.no-gap .row-container {
  padding-left: 0;
  padding-right: 0;
}
.wrapper .vc_col-has-fill > .vc_column-inner,
.wrapper .vc_row-has-fill > .vc_column_container > .vc_column-inner {
  padding-top: 0;
}
.main-container .wpb_single_image > .wpb_wrapper {
  max-width: 100%;
}
.header-container.header-2 {
  position: absolute;
  width: 100%;
  top: 0;
}
.header-container.header-2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li:hover > a.item_link .link_text {
  color: #808080;
  text-decoration: underline;
}
.header-container.header-2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-ancestor:hover > a.item_link .link_text,
.header-container.header-2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-item:hover > a.item_link .link_text {
  color: #808080;
  text-decoration: underline;
}
.header-container.header-2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-ancestor > a.item_link .link_text,
.header-container.header-2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-item > a.item_link .link_text {
  color: #808080;
  text-decoration: underline;
}
.header-container.header-2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link:hover .link_text {
  color: #808080;
  text-decoration: underline;
}
.main-container .owl-carousel {
  width: auto;
}
.main-container .owl-carousel:hover .owl-controls .owl-buttons div {
  filter: alpha(opacity=100);
  opacity: 1;
}
.main-container .owl-carousel .owl-controls .owl-buttons div {
  width: 48px;
  height: 48px;
  border: 1px solid #1a1a1a;
  border-radius: 0;
  font-size: 0;
  position: absolute;
  top: 50%;
  margin-top: -24px;
  background: #fff;
  color: #444;
  line-height: 0;
  text-align: center;
  z-index: 9;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.main-container .owl-carousel .owl-controls .owl-buttons div:before {
  font-family: 'FontAwesome';
  font-size: 18px;
  line-height: 46px;
  display: block;
}
.main-container .owl-carousel .owl-controls .owl-buttons div.owl-prev {
  left: -24px;
}
.main-container .owl-carousel .owl-controls .owl-buttons div.owl-prev:before {
  content: "\f104";
}
.main-container .owl-carousel .owl-controls .owl-buttons div.owl-next {
  right: -24px;
}
.main-container .owl-carousel .owl-controls .owl-buttons div.owl-next:before {
  content: "\f105";
}
.main-container .owl-carousel .owl-controls .owl-buttons div:hover {
  background: #1a1a1a;
  color: #fff;
}
.wrapper .wpb_revslider_element {
  margin-bottom: 0;
}
.wrapper .wpb_revslider_element .tp-caption a {
  color: inherit;
  display: block;
  position: relative;
  -webkit-transition: all inherit ease-out;
  -moz-transition: all inherit ease-out;
  -ms-transition: all inherit ease-out;
  -o-transition: all inherit ease-out;
}
.wrapper .wpb_revslider_element .tp-caption a:hover {
  color: inherit;
}
.title1 {
  text-align: center;
  margin-bottom: 30px !important;
}
.title1 h3 {
  font-size: 2em;
  display: inline-block;
  line-height: 1;
  text-transform: uppercase;
}
.title1 h3:before {
  content: "";
  width: 80px;
  height: 2px;
  background: #1a1a1a;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  margin-top: -4px;
}
.title1 h3:after {
  content: "";
  width: 80px;
  height: 2px;
  background: #1a1a1a;
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  margin-top: -4px;
}
.title1 p {
  font-family: Libre Baskerville, Arial, Helvetica, sans-serif;
  font-size: 1.142em;
  font-style: italic;
}
.home-slider.full-width {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.home-slider.full-width > .row-container > .vc_column_container > .vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}
.shop-products.owl-carousel .group .item-col {
  width: 100%;
}
.shop-products.owl-carousel .group .item-col:last-child {
  margin: 0;
}
.top-categories .box-categories {
  margin: 0;
}
.top-categories .box-categories .box p {
  margin: 0;
}
.top-categories .box-categories .box .box-inner {
  margin: 0;
  position: relative;
  overflow: hidden;
}
.top-categories .box-categories .box .box-inner:hover:before {
  filter: alpha(opacity=100);
  opacity: 1;
}
.top-categories .box-categories .box .box-inner:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.top-categories .box-categories .box .box-inner:before {
  background: rgba(0,0,0,0.1);
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 1;
}
.top-categories .box-categories .box .box-inner img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.top-categories .box-categories .box .box-inner .text {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 5;
}
.top-categories .box-categories .box .box-inner .text h4 {
  font-size: 1.142em;
  font-weight: 400;
  text-transform: uppercase;
}
.top-categories .box-categories .box .box-inner .text p {
  color: #808080;
  font-size: 1.142em;
  font-style: italic;
}
.button-container {
  margin: 0 !important;
  text-align: center;
}
.home-static2 .box-inner {
  margin: 0;
  text-align: center;
  padding: 100px 30px;
}
.home-static2 .box-inner .text h2 {
  font-size: 3.43em;
  color: #fff;
  line-height: 1;
  margin-bottom: 20px;
}
.home-static2 .box-inner .text p {
  font-size: 2.143em;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
}
.home-static2 .box-inner .text a.shop-now {
  color: #fff;
}
.home-static3 .box {
  padding: 0 15px;
}
.home-static3 .box p {
  margin: 0;
}
.home-static3 .box .box-inner {
  position: relative;
  overflow: hidden;
  margin: 0;
}
.home-static3 .box .box-inner:hover:before {
  filter: alpha(opacity=100);
  opacity: 1;
}
.home-static3 .box .box-inner:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.home-static3 .box .box-inner:before {
  background: rgba(0,0,0,0.1);
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 1;
}
.home-static3 .box .box-inner img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.home-static3 .box .box-inner .text {
  position: absolute;
  top: 50%;
  text-align: center;
  margin-top: -65px;
  left: 30px;
  z-index: 5;
}
.home-static3 .box .box-inner p {
  font-size: 1.28em;
}
.home-static3 .box .box-inner h3 {
  font-size: 2.85em;
  font-weight: 700;
  line-height: 1;
}
.home-static3 .box .box-inner h3:after {
  content: "";
  width: 50px;
  height: 2px;
  background: #1a1a1a;
  display: block;
  margin: 20px auto 0;
}
.home-static3 .box .box-inner .shop-now {
  border: 0;
  padding: 0;
  font-size: 0.88em;
  margin-top: 20px;
}
.home-static3 .box .box-inner .shop-now:hover {
  background: none;
  border: 0;
  color: #cc0000;
}
.home-static4 .box-inner {
  text-align: center;
  margin: 0;
  padding: 100px 10px;
  position: relative;
  overflow: hidden;
}
.home-static4 .box-inner:hover:before {
  filter: alpha(opacity=100);
  opacity: 1;
}
.home-static4 .box-inner:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.home-static4 .box-inner:before {
  background: rgba(0,0,0,0.1);
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 1;
}
.home-static4 .box-inner img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.home-static4 .box-inner .text {
  z-index: 5;
  position: relative;
}
.home-static4 .box-inner .text h4 {
  font-size: 2.57em;
}
.home-static4 .box-inner .text a.button {
  margin-top: 30px;
  background: rgba(26,26,26,0.85);
}
.home-static4 .box-inner .text a.button:hover {
  background: rgba(204,0,0,0.85);
}
.home-static5 .box-image {
  margin: 0;
  position: relative;
  overflow: hidden;
}
.home-static5 .box-image:hover:before {
  filter: alpha(opacity=100);
  opacity: 1;
}
.home-static5 .box-image:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.home-static5 .box-image:before {
  background: rgba(0,0,0,0.1);
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 1;
}
.home-static5 .box-image img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.home-static5 .box-text {
  margin: 0;
  display: flex;
  min-height: 600px;
}
.home-static5 .box-text > .wpb_wrapper {
  margin: auto;
}
.home-static5 .box-text h4 {
  font-size: 2em;
  margin-bottom: 15px;
}
.home-static5 .box-text h4:before {
  content: "";
  height: 2px;
  width: 50px;
  border-top: 2px solid;
  display: block;
  margin-bottom: 15px;
}
.home-static5 .box-text p {
  font-size: 1.57em;
  font-weight: 300;
}
.home-static5 .box-text a.shop-now {
  font-size: 0.9em;
}
.home-tabs {
  position: relative;
}
.home-tabs .wpb_content_element {
  display: none;
}
.home-tabs .title-container {
  max-width: 1170px;
  margin: 0 auto 20px;
  text-align: center;
}
.home-tabs .title-container .home-tabs-title {
  list-style: none;
}
.home-tabs .title-container .home-tabs-title li {
  display: inline-block;
}
.home-tabs .title-container .home-tabs-title li:not(:last-child) {
  margin: 0 40px 0 0;
}
.home-tabs .title-container .home-tabs-title li a {
  font-size: 1.142em;
  font-weight: 400;
  color: #808080;
  line-height: 1;
  display: inline-block;
  padding: 10px 0;
  position: relative;
  text-transform: capitalize;
  vertical-align: middle;
}
.home-tabs .title-container .home-tabs-title li a:hover,
.home-tabs .title-container .home-tabs-title li a.active {
  color: #1a1a1a;
}
.home-tabs .shop-products .group .item-col {
  width: 100%;
}
.home-tabs .shop-products .item-col {
  -webkit-transition: none;
  transition: none;
}
.home-tabs .shop-products .item-col.first {
  clear: none;
}
.show-more-products .shop-products .item-col {
  width: 25%;
  float: left;
  clear: none !important;
  margin-bottom: 30px;
  text-align: center;
}
.show-more-products .shop-products .item-col:nth-of-type(4n+1) {
  clear: both !important;
}
.show-more-products .shop-products .item-col:not(.active) {
  display: none;
}
.show-more-products .shop-products .product-wrapper .box-hover2 {
  display: flex;
}
.show-more-products .more-less {
  margin: 0;
  text-align: center;
  height: 50px;
  position: relative;
}
.show-more-products .more-less button {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
}
.show-more-products .more-less button#showless {
  display: none;
}
.products-style2 .shop-products .product-wrapper .product-name {
  font-size: 1.42em;
  font-weight: 600;
}
.products-style2 .shop-products .product-wrapper .price-box {
  font-size: 1.42em;
}
.products-style2 .shop-products .product-wrapper .add_to_cart_inline a.button {
  background: none;
  border: 2px solid;
  color: #1a1a1a;
}
.products-style2 .shop-products .product-wrapper .add_to_cart_inline a.button:hover {
  background: none;
  color: #cc0000;
}
.products-style2 .shop-products .product-wrapper .add-to-cart {
  margin-top: 20px;
}
.products-style2 .shop-products .product-wrapper .quickview-inner,
.products-style2 .shop-products .product-wrapper .list-col8 {
  display: none;
}
.testimonials-container {
  position: relative;
}
.testimonials-container:before {
  content: "";
  display: block;
  position: absolute;
  left: 2em;
  top: 2em;
  right: 2em;
  bottom: 2em;
  border: 1px dashed rgba(255,255,255,0.3);
}
.testimonials-container .icon-image {
  margin: 50px 0 0;
  padding: 30px;
}
.testimonials-container .widget_woothemes_testimonials:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.testimonials-container .testimonials {
  padding: 2em 1em;
}
.testimonials-container .testimonials:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.testimonials-container .testimonials .testimonials-text {
  background: none;
  border: none;
  color: #fff;
  font-size: 1em;
  letter-spacing: .05em;
  line-height: 2.1;
  padding: 0;
  text-align: center;
  max-width: 780px;
  margin: 0 auto 4em;
}
.testimonials-container .testimonials .testimonials-text p {
  position: relative;
}
.testimonials-container .testimonials .quote {
  position: relative;
  text-align: center;
  padding: 2em;
}
.testimonials-container .testimonials .quote .avatar-link {
  display: inline-block;
  position: relative;
}
.testimonials-container .testimonials .quote .avatar-link:hover img {
  filter: alpha(opacity=90);
  opacity: 0.9;
}
.testimonials-container .testimonials .quote .avatar-link:before {
  content: "";
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border-radius: 100%;
  position: absolute;
  border: 1px solid #fff;
  transform: rotate3d(0,0.4,1,42deg);
}
.testimonials-container .testimonials .quote .avatar-link:after {
  content: "";
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  position: absolute;
  border-radius: 100%;
  border: 1px solid #f3b204;
  transform: rotate3d(0,0.2,1,-70deg);
}
.testimonials-container .testimonials .quote .avatar {
  border-radius: 100%;
}
.testimonials-container .testimonials .author {
  display: block;
  margin-top: 14px;
  position: relative;
  text-align: center;
}
.testimonials-container .testimonials .author [itemprop='name'] {
  color: #fff;
  display: block;
  margin-bottom: 10px;
  font-size: 1.42857em;
  letter-spacing: .05em;
  font-style: italic;
  font-family: Libre Baskerville, Arial, Helvetica, sans-serif;
}
.testimonials-container .testimonials .author .title {
  color: #fff;
  font-style: italic;
}
.testimonials-container .testimonials .author [class*='url'] {
  display: none;
}
.testimonials-container .testimonials .author a {
  color: #cc0000;
}
.testimonials-container .testimonials .author a:hover {
  text-decoration: underline;
}
.latest-posts .posts-carousel {
  margin-left: -15px;
  margin-right: -15px;
}
.latest-posts .posts-carousel .item-col {
  padding-left: 15px;
  padding-right: 15px;
}
.latest-posts .post-wrapper {
  background: #fff;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.latest-posts .post-info {
  padding: 30px;
}
.latest-posts .post-thumb a {
  display: block;
  width: 100%;
}
.latest-posts .post-thumb a img {
  width: 100%;
}
.latest-posts .post-meta {
  letter-spacing: .05em;
  margin-bottom: 3px;
  border-top: 1px solid #e5e5e5;
  margin: 30px -30px 0;
  padding: 30px 30px 0;
}
.latest-posts .post-meta p {
  margin-bottom: 0;
}
.latest-posts .post-date {
  display: inline-block;
  font-size: 1em;
  float: right;
}
.latest-posts .post-author {
  display: inline-block;
}
.latest-posts .post-author a {
  color: #808080;
}
.latest-posts .post-author a:hover {
  color: #cc0000;
}
.latest-posts .post-slash {
  margin: 0 5px;
  display: none;
}
.latest-posts .post-comment {
  display: none;
}
.latest-posts .post-title {
  font-size: 1.07em;
  font-weight: 700;
  letter-spacing: .05em;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 15px;
}
.latest-posts .post-title:after {
  content: "";
  width: 44px;
  border-bottom: 1px solid #e5e5e5;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
.latest-posts .post-title a {
  color: #1a1a1a;
}
.latest-posts .post-title a:hover {
  color: #cc0000;
}
.latest-posts .post-excerpt {
  color: #606060;
}
.latest-posts .readmore {
  display: none;
  color: #777;
  font-size: 0.9em;
  margin-top: 10px;
  text-transform: capitalize;
}
.latest-posts .readmore:after {
  content: '\f105';
  font-family: FontAwesome;
  margin-left: 10px;
}
.latest-posts .readmore:hover {
  color: #cc0000;
}
.latest-posts .latest-post-inner {
  max-width: 1170px;
  margin: 0 auto !important;
  width: 100%;
}
.featured-products .shop-products.owl-carousel .owl-wrapper-outer .owl-item {
  position: relative;
}
.featured-products .shop-products.owl-carousel .owl-wrapper-outer .owl-item.first-active:before,
.featured-products .shop-products.owl-carousel .owl-wrapper-outer .owl-item.last-active:before {
  content: "";
  background: rgba(255,255,255,0.5);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
}
.time_circles {
  position: relative;
  width: 100%;
  height: 100%;
}
.time_circles canvas {
  position: relative;
  z-index: 1;
}
.time_circles .box-date {
  position: absolute;
  text-align: center;
  height: 100%;
  top: 0 !important;
  padding: 1em;
}
.time_circles .box-date:before {
  content: "";
  background: #fff;
  border-radius: 100%;
  box-shadow: 10px 10px 40px 0 rgba(0,0,0,0.15);
  display: block;
  position: absolute;
  top: .5em;
  right: .5em;
  left: .5em;
  z-index: 0;
  bottom: .5em;
}
.time_circles .box-date h4 {
  font-size: 1em;
  font-weight: 400;
  font-family: Libre Baskerville, Arial, Helvetica, sans-serif;
  color: #6c8e01;
  margin: 0;
  position: absolute;
  bottom: 2.5em;
  left: 1em;
  right: 1em;
}
.time_circles .box-date span {
  font-size: 1.857em;
  font-family: Libre Baskerville, Arial, Helvetica, sans-serif;
  position: relative;
  color: #6c8e01;
  line-height: 1;
  margin-top: 0.7em;
  display: block;
}
.brands-carousel .slick-slider {
  margin: 0;
}
.brands-carousel .slick-slider button.slick-prev {
  left: -22px;
  right: auto;
}
.brands-carousel .slick-slider button.slick-next {
  left: auto;
  right: -22px;
}
.brands-carousel .slick-slide {
  text-align: center;
}
.brands-carousel a {
  margin: 20px 0;
}
.brands-carousel a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
.brands-carousel a img {
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.shop-now {
  color: #1a1a1a;
  border: 1px solid;
  display: inline-block;
  padding: 10px 25px;
  margin-top: 30px;
  line-height: 1;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.shop-now:hover {
  background: #cc0000;
  border-color: #cc0000;
  color: #fff;
}
