@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes countdowntiming {
  0% {
    bottom: -50px;
    position: relative;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    bottom: 0px;
    position: relative;
    filter: alpha(opacity=100);
    opacity: 1;
  }
}
.home.blog .main-container {
  padding-top: 50px;
}
.heightzero {
  height: 0;
  overflow: hidden;
}
.wrapper .full-width .row-container {
  margin-left: 0;
  margin-right: 0;
  max-width: 100% !important;
  width: 100%;
}
.wrapper .no-gap {
  margin-left: 0;
  margin-right: 0;
}
.wrapper .no-gap .row-container {
  padding-left: 15px;
  padding-right: 15px;
}
.wrapper .no-gap .vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}
.wrapper .full-width.no-gap .row-container {
  padding-left: 0;
  padding-right: 0;
}
.wrapper .vc_col-has-fill > .vc_column-inner,
.wrapper .vc_row-has-fill > .vc_column_container > .vc_column-inner {
  padding-top: 0;
}
.main-container .wpb_single_image > .wpb_wrapper {
  max-width: 100%;
}
.main-container .wpb_single_image a,
.main-container .image-hover-effect {
  display: block;
  overflow: hidden;
  position: relative;
}
.main-container .wpb_single_image a:before,
.main-container .wpb_single_image a:after,
.main-container .image-hover-effect:before,
.main-container .image-hover-effect:after {
  background-color: rgba(255,255,255,0.15);
  content: '';
  height: 0;
  position: absolute;
  width: 0;
  -webkit-transition: all .3s ease-out 0s;
  -moz-transition: all .3s ease-out 0s;
  -ms-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}
.main-container .wpb_single_image a:before,
.main-container .image-hover-effect:before {
  left: 0;
  top: 0;
}
.main-container .wpb_single_image a:after,
.main-container .image-hover-effect:after {
  bottom: 0;
  right: 0;
}
.main-container .wpb_single_image a:hover:before,
.main-container .wpb_single_image a:hover:after,
.main-container .image-hover-effect:hover:before,
.main-container .image-hover-effect:hover:after {
  height: 100%;
  width: 100%;
}
.wrapper .wpb_revslider_element {
  margin-bottom: 0;
}
.wrapper .wpb_revslider_element .tp-caption a {
  color: inherit;
  display: block;
  position: relative;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -ms-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.wrapper .wpb_revslider_element .tp-caption a:hover {
  color: inherit;
}
[class*='products-carousel'] .columns-1 .shop-products .item-col {
  margin-bottom: 0;
}
[class*='products-carousel'] .shop-products .item-col.first {
  clear: none;
}
[class*='products-carousel'] .shop-products .item-col.last {
  margin-bottom: 0;
}
[class*='products-carousel'] .shop-products .group .item-col {
  max-width: 400px;
  width: 100%;
}
[class*='products-list-carousel'] .columns-1 .shop-products .item-col {
  margin-bottom: 0;
}
[class*='products-list-carousel'] .shop-products .item-col.first {
  clear: none;
}
[class*='products-list-carousel'] .shop-products .item-col.last {
  margin-bottom: 0;
}
[class*='products-list-carousel'] .shop-products .group .item-col {
  width: 100%;
}
[class*='products-list-carousel'] .shop-products .product-wrapper .onsale,
[class*='products-list-carousel'] .shop-products .product-wrapper .quickviewbtn,
[class*='products-list-carousel'] .shop-products .product-wrapper .add-to-wishlist,
[class*='products-list-carousel'] .shop-products .product-wrapper .add-to-compare {
  display: none !important;
}
[class*='products-list-carousel'] .shop-products .product-wrapper .gridview:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
[class*='products-list-carousel'] .shop-products .product-wrapper .list-col4 {
  float: left;
  margin: 0 25px 0 0;
  width: 50%;
}
[class*='products-list-carousel'] .shop-products .product-wrapper .list-col8 {
  width: 50%;
  float: left;
}
[class*='products-list-carousel'] .shop-products .product-wrapper .product-name {
  text-align: left;
}
[class*='products-list-carousel'] .shop-products .product-wrapper .ratings {
  text-align: left;
}
[class*='products-list-carousel'] .shop-products .product-wrapper .price-box {
  text-align: left;
}
[class*='products-list-carousel'] .shop-products .product-wrapper .actions {
  text-align: left;
}
[class*='products-list-carousel'] .shop-products .product-wrapper .actions li {
  max-width: 100%;
  margin: 0;
}
[class*='home-tabs'] .wpb_content_element {
  display: none;
}
[class*='home-tabs'] .shop-products .group {
  width: 300px;
}
[class*='home-tabs'] .shop-products .group .item-col {
  width: 100%;
}
[class*='home-tabs'] .shop-products .item-col {
  margin: 0 0 30px;
  padding: 0 12px;
  -webkit-transition: none;
  transition: none;
  width: 300px;
}
[class*='home-tabs'] .shop-products .item-col.first {
  clear: none;
}
.testimonial-newsletter .row-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.testimonial-newsletter .vc_column-inner {
  height: 100%;
}
.testimonial-newsletter .wpb_wrapper {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.testimonial-newsletter .wpb_wrapper .wpb_wrapper {
  position: static;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
.testimonials-container.style1 .widget_woothemes_testimonials:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.testimonials-container.style1 .testimonials {
  float: right;
  max-width: 900px;
  padding: 0 50px;
  width: 100%;
}
.testimonials-container.style1 .testimonials:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.testimonials-container.style1 .testimonials .slick-list {
  padding: 0;
}
.testimonials-container.style1 .testimonials .slick-slider button {
  background: none;
  top: 50px;
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
.testimonials-container.style1 .testimonials .slick-slider button:before {
  color: #fff;
  font-family: FontAwesome;
  font-size: 40px;
}
.testimonials-container.style1 .testimonials .slick-slider button.slick-prev {
  left: 30%;
}
.testimonials-container.style1 .testimonials .slick-slider button.slick-prev:before {
  content: '\f104';
}
.testimonials-container.style1 .testimonials .slick-slider button.slick-next {
  right: 30%;
}
.testimonials-container.style1 .testimonials .slick-slider button.slick-next:before {
  content: '\f105';
}
.testimonials-container.style1 .testimonials .slick-slider button:hover:before {
  color: #95a83f;
}
.testimonials-container.style1 .testimonials .slick-dots {
  margin-top: 20px;
  padding: 0;
}
.testimonials-container.style1 .testimonials .testimonials-text {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.143em;
  letter-spacing: .05em;
  line-height: 2.1;
  margin-bottom: 25px;
  padding: 182px 70px 0 70px;
  text-align: center;
}
.testimonials-container.style1 .testimonials .testimonials-text p {
  position: relative;
}
.testimonials-container.style1 .testimonials .testimonials-text p:before {
  color: #95a83f;
  content: '“';
  display: inline-block;
  font-family: 'Playfair Display', Arial, san-serif;
  font-size: 180px;
  left: -76px;
  line-height: 1;
  position: absolute;
  top: -50px;
  z-index: 9;
}
.testimonials-container.style1 .testimonials .quote {
  position: relative;
}
.testimonials-container.style1 .testimonials .quote > .avatar,
.testimonials-container.style1 .testimonials .quote > a.avatar-link {
  background: #fff;
  border: 10px solid #95a83f;
  height: 155px;
  left: 50%;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 155px;
  z-index: 99;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.testimonials-container.style1 .testimonials .author {
  display: block;
  margin-top: 14px;
  position: relative;
  text-align: center;
}
.testimonials-container.style1 .testimonials .author [itemprop='name'] {
  color: #95a83f;
  display: block;
  font-family: Lobster Two, Arial, Helvetica, sans-serif;
  font-size: 1.429em;
  font-weight: normal;
  letter-spacing: .05em;
  padding-top: 27px;
}
.testimonials-container.style1 .testimonials .author .title {
  color: #fff;
  display: block;
  font-size: .857em;
  font-weight: normal;
  left: 50%;
  letter-spacing: .05em;
  margin: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  transform: translate(-50%);
}
.testimonials-container.style1 .testimonials .author .title:before {
  content: '(';
  display: inline-block;
  margin-right: 2px;
}
.testimonials-container.style1 .testimonials .author .title:after {
  content: ')';
  display: inline-block;
  margin-left: 2px;
}
.testimonials-container.style1 .testimonials .author [class*='url'] {
  display: none;
}
.testimonials-container.style1 .testimonials .author a {
  color: #95a83f;
}
.testimonials-container.style1 .testimonials .author a:hover {
  text-decoration: underline;
}
.testimonials-container.style2 .widget_woothemes_testimonials:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.testimonials-container.style2 .testimonials {
  margin: auto;
  max-width: 900px;
  padding: 0 50px;
}
.testimonials-container.style2 .testimonials:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.testimonials-container.style2 .testimonials .slick-list {
  padding: 0;
}
.testimonials-container.style2 .testimonials .slick-slider button {
  background: none;
  top: 50px;
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
.testimonials-container.style2 .testimonials .slick-slider button:before {
  color: #4c4c4c;
  font-family: FontAwesome;
  font-size: 40px;
}
.testimonials-container.style2 .testimonials .slick-slider button.slick-prev {
  left: 30%;
}
.testimonials-container.style2 .testimonials .slick-slider button.slick-prev:before {
  content: '\f104';
}
.testimonials-container.style2 .testimonials .slick-slider button.slick-next {
  right: 30%;
}
.testimonials-container.style2 .testimonials .slick-slider button.slick-next:before {
  content: '\f105';
}
.testimonials-container.style2 .testimonials .slick-slider button:hover:before {
  color: #95a83f;
}
.testimonials-container.style2 .testimonials .slick-dots {
  margin-top: 20px;
  padding: 0;
}
.testimonials-container.style2 .testimonials .testimonials-text {
  background: none;
  border: none;
  font-size: 1.143em;
  letter-spacing: .05em;
  line-height: 2.1;
  margin-bottom: 35px;
  padding: 210px 70px 0 70px;
  text-align: center;
}
.testimonials-container.style2 .testimonials .testimonials-text p {
  position: relative;
}
.testimonials-container.style2 .testimonials .testimonials-text p:before {
  color: #dfdfdf;
  content: '“';
  display: inline-block;
  font-family: 'Playfair Display', Arial, san-serif;
  font-size: 180px;
  left: -76px;
  line-height: 1;
  position: absolute;
  top: -50px;
  z-index: 9;
}
.testimonials-container.style2 .testimonials .quote {
  position: relative;
}
.testimonials-container.style2 .testimonials .quote > .avatar,
.testimonials-container.style2 .testimonials .quote > a.avatar-link {
  background: #fff;
  border: 10px solid #95a83f;
  height: 155px;
  left: 50%;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 155px;
  z-index: 99;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.testimonials-container.style2 .testimonials .author {
  display: block;
  margin-top: 14px;
  position: relative;
  text-align: center;
}
.testimonials-container.style2 .testimonials .author [itemprop='name'] {
  color: #95a83f;
  display: block;
  font-family: Lobster Two, Arial, Helvetica, sans-serif;
  font-size: 1.429em;
  font-weight: normal;
  letter-spacing: .05em;
  padding-top: 27px;
}
.testimonials-container.style2 .testimonials .author .title {
  display: block;
  font-size: .857em;
  font-weight: normal;
  left: 50%;
  letter-spacing: .05em;
  margin: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  transform: translate(-50%);
}
.testimonials-container.style2 .testimonials .author .title:before {
  content: '(';
  display: inline-block;
  margin-right: 2px;
}
.testimonials-container.style2 .testimonials .author .title:after {
  content: ')';
  display: inline-block;
  margin-left: 2px;
}
.testimonials-container.style2 .testimonials .author [class*='url'] {
  display: none;
}
.testimonials-container.style2 .testimonials .author a {
  color: #95a83f;
}
.testimonials-container.style2 .testimonials .author a:hover {
  text-decoration: underline;
}
.testimonials-container.style3 .widget_woothemes_testimonials:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.testimonials-container.style3 .testimonials {
  max-width: 1000px;
  padding: 0 50px;
  width: 100%;
  margin: auto;
}
.testimonials-container.style3 .testimonials:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.testimonials-container.style3 .testimonials .slick-list {
  padding: 0;
}
.testimonials-container.style3 .testimonials .slick-slider button {
  background: none;
  top: 50px;
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
.testimonials-container.style3 .testimonials .slick-slider button:before {
  color: #4c4c4c;
  font-family: FontAwesome;
  font-size: 40px;
}
.testimonials-container.style3 .testimonials .slick-slider button.slick-prev {
  left: 30%;
}
.testimonials-container.style3 .testimonials .slick-slider button.slick-prev:before {
  content: '\f104';
}
.testimonials-container.style3 .testimonials .slick-slider button.slick-next {
  right: 30%;
}
.testimonials-container.style3 .testimonials .slick-slider button.slick-next:before {
  content: '\f105';
}
.testimonials-container.style3 .testimonials .slick-slider button:hover:before {
  color: #95a83f;
}
.testimonials-container.style3 .testimonials .slick-dots {
  margin-top: 20px;
  padding: 0;
}
.testimonials-container.style3 .testimonials .testimonials-text {
  background: none;
  border: none;
  color: #888;
  font-size: 1.143em;
  letter-spacing: .05em;
  line-height: 2.1;
  margin-bottom: 25px;
  padding: 182px 70px 0 70px;
  text-align: center;
}
.testimonials-container.style3 .testimonials .testimonials-text p {
  position: relative;
}
.testimonials-container.style3 .testimonials .testimonials-text p:before {
  color: #95a83f;
  content: '“';
  display: inline-block;
  font-family: 'Playfair Display', Arial, san-serif;
  font-size: 180px;
  left: -76px;
  line-height: 1;
  position: absolute;
  top: -50px;
  z-index: 9;
}
.testimonials-container.style3 .testimonials .quote {
  position: relative;
}
.testimonials-container.style3 .testimonials .quote > .avatar,
.testimonials-container.style3 .testimonials .quote > a.avatar-link {
  background: #fff;
  border: 10px solid #95a83f;
  height: 155px;
  left: 50%;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 155px;
  z-index: 99;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.testimonials-container.style3 .testimonials .author {
  display: block;
  margin-top: 14px;
  position: relative;
  text-align: center;
}
.testimonials-container.style3 .testimonials .author [itemprop='name'] {
  color: #95a83f;
  display: block;
  font-family: Lobster Two, Arial, Helvetica, sans-serif;
  font-size: 1.429em;
  font-weight: normal;
  letter-spacing: .05em;
  padding-top: 27px;
}
.testimonials-container.style3 .testimonials .author .title {
  color: #888;
  display: block;
  font-size: .857em;
  font-weight: normal;
  left: 50%;
  letter-spacing: .05em;
  margin: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  transform: translate(-50%);
}
.testimonials-container.style3 .testimonials .author .title:before {
  content: '(';
  display: inline-block;
  margin-right: 2px;
}
.testimonials-container.style3 .testimonials .author .title:after {
  content: ')';
  display: inline-block;
  margin-left: 2px;
}
.testimonials-container.style3 .testimonials .author [class*='url'] {
  display: none;
}
.testimonials-container.style3 .testimonials .author a {
  color: #95a83f;
}
.testimonials-container.style3 .testimonials .author a:hover {
  text-decoration: underline;
}
.newsletter-form.style1 .wpb_text_column {
  margin: 0;
}
.newsletter-form.style1 h4 {
  color: #fff;
  font-size: 2.143em;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
}
.newsletter-form.style1 h3 {
  color: #fff;
  font-size: 3.571em;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 35px;
  text-transform: capitalize;
}
.newsletter-form.style1 h3 strong {
  display: block;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  font-style: normal;
  text-transform: uppercase;
}
.newsletter-form.style1 input {
  outline: none;
}
.newsletter-form.style1 input[type='email'] {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1em;
  line-height: 45px;
  max-width: 100%;
  padding: 0 20px;
  width: 300px;
}
.newsletter-form.style1 input[type='email']::-webkit-input-placeholder {
  color: #fff;
}
.newsletter-form.style1 input[type='email']:-moz-placeholder {
  color: #fff;
}
.newsletter-form.style1 input[type='email']::-moz-placeholder {
  color: #fff;
}
.newsletter-form.style1 input[type='email']:-ms-input-placeholder {
  color: #fff;
}
.newsletter-form.style1 button[type='submit'] {
  background: #fff;
  border: none;
  color: #6d604c;
  display: block;
  font-size: 1.286em;
  margin-top: 35px;
  padding: 9px 27px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.newsletter-form.style1 button[type='submit'] i {
  margin-left: 8px;
}
.newsletter-form.style1 button[type='submit']:hover {
  background: #4c4c4c;
  color: #fff;
}
.newsletter-form.style2 .mc4wp-form {
  position: relative;
}
.newsletter-form.style2 .mc4wp-form:before {
  background: #e5e5e5;
  content: '';
  display: block;
  height: 48px;
  left: -27px;
  position: absolute;
  top: 50%;
  width: 2px;
  z-index: 99;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.newsletter-form.style2 .wpb_text_column {
  margin: 0;
}
.newsletter-form.style2 h4,
.newsletter-form.style2 h3,
.newsletter-form.style2 input,
.newsletter-form.style2 button {
  display: inline-block;
}
.newsletter-form.style2 h4,
.newsletter-form.style2 h3 {
  color: #4c4c4c;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.714em;
  font-weight: normal;
  margin: 0;
}
.newsletter-form.style2 strong {
  font-weight: normal;
}
.newsletter-form.style2 input {
  outline: none;
}
.newsletter-form.style2 input[type='email'] {
  background: #fff;
  border: 1px solid #e5e5e5;
  color: #4c4c4c;
  font-size: 1em;
  line-height: 45px;
  margin-left: 10px;
  max-width: 100%;
  padding: 0 20px;
  width: 300px;
}
.newsletter-form.style2 input[type='email']::-webkit-input-placeholder {
  color: #4c4c4c;
}
.newsletter-form.style2 input[type='email']:-moz-placeholder {
  color: #4c4c4c;
}
.newsletter-form.style2 input[type='email']::-moz-placeholder {
  color: #4c4c4c;
}
.newsletter-form.style2 input[type='email']:-ms-input-placeholder {
  color: #4c4c4c;
}
.newsletter-form.style2 button[type='submit'] {
  background: #fff;
  border: 2px solid #95a83f;
  color: #6d604c;
  font-size: 1.286em;
  margin-left: 10px;
  padding: 9px 27px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.newsletter-form.style2 button[type='submit'] i {
  margin-left: 8px;
}
.newsletter-form.style2 button[type='submit']:hover {
  background: #95a83f;
  color: #fff;
}
.newsletter-form.style3 .mc4wp-form {
  position: relative;
}
.newsletter-form.style3 .mc4wp-form:before {
  background: #e5e5e5;
  content: '';
  display: block;
  height: 48px;
  left: -27px;
  position: absolute;
  top: 50%;
  width: 2px;
  z-index: 99;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.newsletter-form.style3 .wpb_text_column {
  margin: 0;
}
.newsletter-form.style3 h4,
.newsletter-form.style3 h3,
.newsletter-form.style3 input,
.newsletter-form.style3 button {
  display: inline-block;
}
.newsletter-form.style3 h4,
.newsletter-form.style3 h3 {
  color: #4c4c4c;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: normal;
  margin: 0;
}
.newsletter-form.style3 strong {
  font-weight: normal;
}
.newsletter-form.style3 input {
  outline: none;
}
.newsletter-form.style3 input[type='email'] {
  background: #fff;
  border: 1px solid #e5e5e5;
  color: #4c4c4c;
  font-size: 1em;
  line-height: 45px;
  margin-left: 10px;
  max-width: 100%;
  padding: 0 20px;
  width: 300px;
}
.newsletter-form.style3 input[type='email']::-webkit-input-placeholder {
  color: #4c4c4c;
}
.newsletter-form.style3 input[type='email']:-moz-placeholder {
  color: #4c4c4c;
}
.newsletter-form.style3 input[type='email']::-moz-placeholder {
  color: #4c4c4c;
}
.newsletter-form.style3 input[type='email']:-ms-input-placeholder {
  color: #4c4c4c;
}
.newsletter-form.style3 button[type='submit'] {
  background: #fff;
  border: 2px solid #95a83f;
  color: #6d604c;
  font-size: 1.286em;
  margin-left: 10px;
  padding: 9px 27px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.newsletter-form.style3 button[type='submit'] i {
  margin-left: 8px;
}
.newsletter-form.style3 button[type='submit']:hover {
  background: #95a83f;
  color: #fff;
}
.latest-posts.style1 .post-wrapper {
  margin-bottom: 20px;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.latest-posts.style1 .post-wrapper:hover {
  -webkit-box-shadow: 0px 7px 30px 2px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 7px 30px 2px rgba(0,0,0,0.14);
  box-shadow: 0px 7px 30px 2px rgba(0,0,0,0.14);
}
.latest-posts.style1 .post-info {
  background: #fff;
  padding: 20px 20px 45px 20px;
  text-align: center;
}
.latest-posts.style1 .post-thumb a {
  display: block;
  width: 100%;
}
.latest-posts.style1 .post-thumb a img {
  width: 100%;
}
.latest-posts.style1 .post-meta {
  font-size: .857em;
  letter-spacing: .05em;
  margin-bottom: 3px;
}
.latest-posts.style1 .post-meta p {
  margin-bottom: 0;
}
.latest-posts.style1 .post-author {
  display: inline-block;
}
.latest-posts.style1 .post-author a {
  color: #95a83f;
}
.latest-posts.style1 .post-author a:hover {
  text-decoration: underline;
}
.latest-posts.style1 .post-slash {
  margin: 0 8px;
}
.latest-posts.style1 .post-comment {
  display: inline-block;
}
.latest-posts.style1 .post-title {
  font-family: Lobster Two, Arial, Helvetica, sans-serif;
  font-size: 1.429em;
  font-weight: normal;
  letter-spacing: .05em;
  margin: 0 0 15px 0;
}
.latest-posts.style1 .post-title a {
  color: #4c4c4c;
}
.latest-posts.style1 .post-title a:hover {
  color: #95a83f;
}
.latest-posts.style1 .post-date {
  display: none;
}
.latest-posts.style1 .post-excerpt {
  color: #888;
}
.latest-posts.style1 .readmore {
  color: #6d604c;
  font-size: 1em;
  letter-spacing: .4em;
  margin-top: 10px;
  text-transform: uppercase;
}
.latest-posts.style1 .readmore:after {
  content: '\f178';
  font-family: FontAwesome;
  font-size: 16px;
  margin-left: 40px;
}
.latest-posts.style1 .readmore:hover {
  color: #95a83f;
}
.latest-posts.style2 .title {
  margin-bottom: 65px;
}
.latest-posts.style2 .post-thumb {
  display: none;
}
.latest-posts.style2 .post-thumb a {
  display: block;
  width: 100%;
}
.latest-posts.style2 .post-thumb a img {
  width: 100%;
}
.latest-posts.style2 .post-info {
  padding-left: 130px;
  padding-right: 15px;
  position: relative;
}
.latest-posts.style2 .post-date {
  background: #95a83f;
  color: #fff;
  display: table;
  height: 115px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.latest-posts.style2 .post-date .post-date-inner {
  display: table-cell;
  vertical-align: middle;
}
.latest-posts.style2 .post-date .day {
  display: block;
  font-family: Lobster Two, Arial, Helvetica, sans-serif;
  font-size: 4.286em;
  font-style: italic;
  line-height: 1;
}
.latest-posts.style2 .post-date .month {
  display: block;
  font-size: .857em;
  text-transform: uppercase;
}
.latest-posts.style2 .post-date .month:before {
  background: #fff;
  content: '';
  display: inline-block;
  height: 4px;
  margin-right: 20px;
  vertical-align: middle;
  width: 14px;
}
.latest-posts.style2 .post-date .year {
  display: none;
}
.latest-posts.style2 .post-meta {
  font-size: .857em;
  letter-spacing: .05em;
  margin-bottom: 10px;
}
.latest-posts.style2 .post-meta p {
  margin-bottom: 0;
}
.latest-posts.style2 .post-author {
  display: inline-block;
}
.latest-posts.style2 .post-author a {
  color: #95a83f;
  display: inline-block;
  vertical-align: baseline;
}
.latest-posts.style2 .post-author a:hover {
  text-decoration: underline;
}
.latest-posts.style2 .post-slash {
  margin: 0 8px;
}
.latest-posts.style2 .post-comment {
  display: inline-block;
}
.latest-posts.style2 .post-title {
  font-family: Lobster Two, Arial, Helvetica, sans-serif;
  font-size: 1.429em;
  font-weight: normal;
  letter-spacing: .05em;
  margin: 0 0 20px 0;
}
.latest-posts.style2 .post-title a {
  color: #4c4c4c;
}
.latest-posts.style2 .post-title a:hover {
  color: #95a83f;
}
.latest-posts.style2 .post-excerpt {
  color: #888;
}
.latest-posts.style2 .readmore {
  color: #6d604c;
  font-size: 1em;
  letter-spacing: .4em;
  margin-top: 20px;
  text-transform: uppercase;
}
.latest-posts.style2 .readmore:after {
  content: '\f178';
  font-family: FontAwesome;
  font-size: 16px;
  margin-left: 40px;
}
.latest-posts.style2 .readmore:hover {
  color: #95a83f;
}
.brands-carousel .slick-slider {
  margin: 0;
}
.brands-carousel .slick-slider button.slick-prev {
  left: -22px;
  right: auto;
}
.brands-carousel .slick-slider button.slick-next {
  left: auto;
  right: -22px;
}
.brands-carousel .slick-slide {
  text-align: center;
}
.brands-carousel a {
  margin: 20px 0;
}
.brands-carousel a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
.brands-carousel a img {
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.banner.layout1 .wpb_single_image {
  margin-bottom: 0;
}
.products-carousel-1.layout1 .slick-slide {
  filter: alpha(opacity=30);
  opacity: .3;
}
.products-carousel-1.layout1 .slick-slide .product-wrapper .count-down {
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
}
.products-carousel-1.layout1 .slide-center-active {
  filter: alpha(opacity=100);
  opacity: 1;
}
.products-carousel-1.layout1 .slide-center-active .product-wrapper .count-down {
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-animation: countdowntiming .4s linear 0s;
  -moz-animation: countdowntiming .4s linear 0s;
  -o-animation: countdowntiming .4s linear 0s;
  animation: countdowntiming .4s linear 0s;
}
.fullbanner.layout1 .wpb_text_column {
  text-align: center;
}
.fullbanner.layout1 h4 {
  color: #6d604c;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2em;
  letter-spacing: .5em;
  line-height: 1;
  margin: 0;
  text-decoration: underline;
}
.fullbanner.layout1 h2 {
  color: #95a83f;
  font-size: 10em;
  font-style: italic;
  line-height: 1;
  margin-bottom: 25px;
}
.fullbanner.layout1 h3 {
  border: 2px solid #6d604c;
  color: #6d604c;
  display: inline-block;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2.857em;
  font-weight: 800;
  line-height: 1.15;
  margin-bottom: 50px;
  padding: 0 12px;
  text-transform: uppercase;
}
.fullbanner.layout1 p {
  color: #959595;
  font-size: 1.429em;
  letter-spacing: .05em;
  line-height: 1.4;
}
.fullbanner.layout1 a {
  background: #fff;
  border: 2px solid #e5e5e5;
  color: #4c4c4c;
  display: inline-block;
  font-size: 1.1em;
  line-height: 1;
  margin-top: 50px;
  padding: 17px 27px;
  text-transform: uppercase;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.fullbanner.layout1 a:hover {
  background: #95a83f;
  border-color: #95a83f;
  color: #fff;
}
.fullbanner.layout1 a i {
  font-size: 1.273em;
  margin-left: 12px;
}
.home-tabs.layout1 .home-tabs-title {
  list-style-type: none;
  margin-bottom: 35px;
  padding: 0;
  text-align: center;
}
.home-tabs.layout1 .home-tabs-title li {
  display: inline-block;
  margin: 0 23px;
  vertical-align: middle;
}
.home-tabs.layout1 .home-tabs-title li a {
  color: #4c4c4c;
  cursor: pointer;
  font-family: Lobster Two, Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
  position: relative;
}
.home-tabs.layout1 .home-tabs-title li a:after {
  background: #95a83f;
  bottom: -14px;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  right: 50%;
  z-index: 9;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.home-tabs.layout1 .home-tabs-title li a:hover,
.home-tabs.layout1 .home-tabs-title li a.active {
  color: #95a83f;
}
.home-tabs.layout1 .home-tabs-title li a.active:after {
  left: -18px;
  right: -18px;
}
.products-carousel-1.layout2 .slick-slide {
  filter: alpha(opacity=30);
  opacity: .3;
}
.products-carousel-1.layout2 .slide-center-active {
  filter: alpha(opacity=100);
  opacity: 1;
}
.products-carousel-1.layout2 .slick-slider button.slick-prev {
  left: 20%;
}
.products-carousel-1.layout2 .slick-slider button.slick-next {
  right: 20%;
}
.fullbanner.layout2 .wpb_text_column {
  text-align: center;
}
.fullbanner.layout2 h4 {
  color: #6d604c;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2em;
  letter-spacing: .5em;
  line-height: 1;
  margin: 0;
  text-decoration: underline;
}
.fullbanner.layout2 h2 {
  color: #95a83f;
  font-size: 10em;
  font-style: italic;
  line-height: 1;
  margin-bottom: 25px;
}
.fullbanner.layout2 h3 {
  border: 2px solid #6d604c;
  color: #6d604c;
  display: inline-block;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2.857em;
  font-weight: 800;
  line-height: 1.15;
  margin-bottom: 50px;
  padding: 0 12px;
  text-transform: uppercase;
}
.fullbanner.layout2 p {
  color: #959595;
  font-size: 1.429em;
  letter-spacing: .05em;
  line-height: 1.4;
}
.fullbanner.layout2 a {
  background: #fff;
  border: 2px solid #e5e5e5;
  color: #4c4c4c;
  display: inline-block;
  font-size: 1.1em;
  line-height: 1;
  margin-top: 50px;
  padding: 17px 27px;
  text-transform: uppercase;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.fullbanner.layout2 a:hover {
  background: #95a83f;
  border-color: #95a83f;
  color: #fff;
}
.fullbanner.layout2 a i {
  font-size: 1.273em;
  margin-left: 12px;
}
.products-list-carousel.layout2 h3 {
  font-size: 1.714em;
}
.products-list-carousel.layout2 .product-wrapper .gridview {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.products-list-carousel.layout2 button.slick-prev {
  left: 0;
}
.products-list-carousel.layout2 button.slick-next {
  right: 0;
}
.fullbanner-1.layout3 h3 {
  font-size: 2.5em;
  letter-spacing: .05em;
  margin-bottom: 35px;
}
.fullbanner-1.layout3 h4 {
  color: #959595;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.429em;
  font-weight: normal;
  letter-spacing: .05em;
  margin-bottom: 15px;
}
.fullbanner-1.layout3 p {
  color: #959595;
  font-size: 1.143em;
}
.fullbanner-1.layout3 a {
  color: #6d604c;
  display: inline-block;
  font-size: 1em;
  margin-top: 27px;
  text-transform: uppercase;
}
.fullbanner-1.layout3 a i {
  margin-left: 10px;
}
.fullbanner-1.layout3 a:hover {
  color: #95a83f;
}
.fullbanner-2.layout3 {
  text-align: center;
}
.fullbanner-2.layout3 .wpb_column {
  padding: 30px 15px;
}
.fullbanner-2.layout3 .wpb_text_column {
  border: 1px solid rgba(255,255,255,0.3);
  display: table;
  min-height: 435px;
  margin: 0;
  padding: 0 70px;
  position: relative;
  width: 100%;
}
.fullbanner-2.layout3 .wpb_text_column:before,
.fullbanner-2.layout3 .wpb_text_column:after {
  content: '';
  display: block;
  height: 27px;
  position: absolute;
  width: 27px;
  z-index: 99;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}
.fullbanner-2.layout3 .wpb_text_column:before {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  left: 0;
  top: 0;
}
.fullbanner-2.layout3 .wpb_text_column:after {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  bottom: 0;
  right: 0;
}
.fullbanner-2.layout3 .wpb_text_column:hover:before,
.fullbanner-2.layout3 .wpb_text_column:hover:after {
  height: 100%;
  width: 100%;
}
.fullbanner-2.layout3 .wpb_text_column .wpb_wrapper {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  z-index: 201;
}
.fullbanner-2.layout3 h4 {
  color: #fff;
  font-size: 1.714em;
  margin-bottom: 32px;
}
.fullbanner-2.layout3 h4:after {
  background: #fff;
  content: '';
  display: block;
  height: 2px;
  margin: 14px auto 0 auto;
  width: 70px;
}
.fullbanner-2.layout3 p {
  color: #fff;
  line-height: 1.7;
  margin: 0;
}
.fullbanner-2.layout3 a {
  background: transparent;
  border: 2px solid #90815b;
  color: #90815b;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: .08em;
  margin-top: 40px;
  padding: 9px 20px;
  text-transform: uppercase;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.fullbanner-2.layout3 a:hover {
  background: #95a83f;
  border-color: #95a83f;
  color: #fff;
}
.fullbanner-2.layout3 a i {
  font-size: 16px;
  margin-left: 7px;
}
.products-carousel-1.layout3 .slick-slide {
  filter: alpha(opacity=30);
  opacity: .3;
}
.products-carousel-1.layout3 .slide-center-active {
  filter: alpha(opacity=100);
  opacity: 1;
}
.products-carousel-1.layout3 .slick-slider button.slick-prev {
  left: 350px;
}
.products-carousel-1.layout3 .slick-slider button.slick-next {
  right: 350px;
}
.products-carousel-2.layout3 .product-wrapper .actions .add-to-wishlist,
.products-carousel-2.layout3 .product-wrapper .actions .add-to-compare {
  display: none;
}
.products-carousel-1.layout4 .slick-slide {
  filter: alpha(opacity=30);
  opacity: .3;
}
.products-carousel-1.layout4 .slide-center-active {
  filter: alpha(opacity=100);
  opacity: 1;
}
.products-carousel-1.layout4 .slick-slider button.slick-prev {
  left: 350px;
}
.products-carousel-1.layout4 .slick-slider button.slick-next {
  right: 350px;
}
.fullbanner-1.layout4 {
  text-align: center;
}
.fullbanner-1.layout4 .wpb_column {
  padding: 30px 15px;
}
.fullbanner-1.layout4 .wpb_text_column {
  border: 1px solid rgba(255,255,255,0.3);
  display: table;
  min-height: 435px;
  margin: 0;
  padding: 0 70px;
  position: relative;
  width: 100%;
}
.fullbanner-1.layout4 .wpb_text_column:before,
.fullbanner-1.layout4 .wpb_text_column:after {
  content: '';
  display: block;
  height: 27px;
  position: absolute;
  width: 27px;
  z-index: 99;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}
.fullbanner-1.layout4 .wpb_text_column:before {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  left: 0;
  top: 0;
}
.fullbanner-1.layout4 .wpb_text_column:after {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  bottom: 0;
  right: 0;
}
.fullbanner-1.layout4 .wpb_text_column:hover:before,
.fullbanner-1.layout4 .wpb_text_column:hover:after {
  height: 100%;
  width: 100%;
}
.fullbanner-1.layout4 .wpb_text_column .wpb_wrapper {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  z-index: 201;
}
.fullbanner-1.layout4 h4 {
  color: #fff;
  font-size: 1.714em;
  margin-bottom: 32px;
}
.fullbanner-1.layout4 h4:after {
  background: #fff;
  content: '';
  display: block;
  height: 2px;
  margin: 14px auto 0 auto;
  width: 70px;
}
.fullbanner-1.layout4 p {
  color: #fff;
  line-height: 1.7;
  margin: 0;
}
.fullbanner-1.layout4 a {
  background: transparent;
  border: 2px solid #90815b;
  color: #90815b;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: .08em;
  margin-top: 40px;
  padding: 9px 20px;
  text-transform: uppercase;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.fullbanner-1.layout4 a:hover {
  background: #95a83f;
  border-color: #95a83f;
  color: #fff;
}
.fullbanner-1.layout4 a i {
  font-size: 16px;
  margin-left: 7px;
}
.home-tabs.layout4 .home-tabs-title {
  list-style-type: none;
  margin-bottom: 35px;
  padding: 0;
  text-align: center;
}
.home-tabs.layout4 .home-tabs-title li {
  display: inline-block;
  margin: 0 23px;
  vertical-align: middle;
}
.home-tabs.layout4 .home-tabs-title li a {
  color: #4c4c4c;
  cursor: pointer;
  font-family: Lobster Two, Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
  position: relative;
}
.home-tabs.layout4 .home-tabs-title li a:after {
  background: #95a83f;
  bottom: -14px;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  right: 50%;
  z-index: 9;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.home-tabs.layout4 .home-tabs-title li a:hover,
.home-tabs.layout4 .home-tabs-title li a.active {
  color: #95a83f;
}
.home-tabs.layout4 .home-tabs-title li a.active:after {
  left: -18px;
  right: -18px;
}
.block1.layout5 .wpb_wrapper {
  position: relative;
}
.block1.layout5 .wpb_column:first-child .wpb_text_column {
  right: 0;
}
.block1.layout5 .wpb_column:last-child .wpb_text_column {
  left: 0;
  padding-left: 25px;
  padding-right: 0;
}
.block1.layout5 .wpb_single_image * {
  width: 100%;
}
.block1.layout5 .wpb_text_column {
  display: table;
  font-size: .857em;
  letter-spacing: .05em;
  line-height: 1.8;
  margin-bottom: 0;
  max-width: 48%;
  padding-right: 25px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 99;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.block1.layout5 .wpb_text_column .wpb_wrapper {
  display: table-cell;
  vertical-align: middle;
}
.block1.layout5 h5 {
  color: #95a83f;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.167em;
  letter-spacing: .05em;
  margin-bottom: 7px;
}
.block1.layout5 h4 {
  color: #6d604c;
  font-size: 2.833em;
  font-weight: normal;
  letter-spacing: .05em;
  line-height: 1;
  margin-bottom: 20px;
  padding-right: 100px;
}
.block1.layout5 a {
  background: #95a83f;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  padding: 7px 25px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.block1.layout5 a:hover {
  background: #748331;
}
.block2.layout5 {
  text-align: center;
}
.block2.layout5 h3 {
  color: #6d604c;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2.571em;
  font-weight: normal;
  text-transform: uppercase;
}
.block2.layout5 p {
  color: #959595;
}
.products-carousel-1.layout5 .wpb_text_column {
  margin-bottom: 20px;
}
.products-carousel-1.layout5 .wpb_text_column h3 {
  font-size: 2em;
  position: relative;
  letter-spacing: 0.05em;
}
.products-carousel-1.layout5 .wpb_text_column h3:after {
  content: "";
  display: block;
  width: 166px;
  height: 2px;
  background: #95a83f;
  position: absolute;
  z-index: 9;
  bottom: -20px;
}
.products-carousel-1.layout5 .shop-products {
  border: 1px solid #e5e5e5;
  border-right: none;
  margin: 0;
}
.products-carousel-1.layout5 .shop-products .item-col {
  padding-left: 0;
  padding-right: 0;
}
.products-carousel-1.layout5 .product-wrapper {
  padding-bottom: 42px;
}
.products-carousel-1.layout5 .product-wrapper .actions {
  display: none;
}
.products-carousel-1.layout5 .product-wrapper .product-name {
  font-size: 1.429em;
  margin-bottom: 10px;
}
.products-carousel-1.layout5 .product-wrapper .count-down {
  display: block;
  margin: 35px 0 0 0;
  text-align: center;
}
.products-carousel-1.layout5 .product-wrapper .count-down .countbox {
  background: none;
  background: #95a83f;
  margin: 0;
  padding: 7px 5px;
  position: static;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.products-carousel-1.layout5 .product-wrapper .count-down .timebox {
  color: #fff;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  line-height: 1;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  width: 80px;
}
.products-carousel-1.layout5 .product-wrapper .count-down .timebox:after {
  background: rgba(0,0,0,0.1);
  content: '';
  display: block;
  height: 32px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.products-carousel-1.layout5 .product-wrapper .count-down .timebox:last-child:after {
  display: none;
}
.products-carousel-1.layout5 .product-wrapper .count-down .timebox strong {
  color: #fff;
  display: block;
  font-size: .5em;
  font-weight: 300;
  margin-left: 3px;
  text-transform: uppercase;
}
.products-carousel-1.layout5 .product-wrapper .count-down .timebox strong:before {
  display: none;
}
.products-list-carousel.layout5 .wpb_text_column {
  margin-bottom: 20px;
}
.products-list-carousel.layout5 .wpb_text_column h3 {
  font-size: 2em;
  position: relative;
  letter-spacing: 0.05em;
}
.products-list-carousel.layout5 .wpb_text_column h3:after {
  content: "";
  display: block;
  width: 166px;
  height: 2px;
  background: #95a83f;
  position: absolute;
  z-index: 9;
  bottom: -20px;
}
.products-list-carousel.layout5 .slick-slider {
  margin: 0;
}
.products-list-carousel.layout5 .slick-slider button.slick-prev {
  left: 15px;
}
.products-list-carousel.layout5 .slick-slider button.slick-next {
  right: 15px;
}
.products-list-carousel.layout5 .shop-products {
  border-right: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
.products-list-carousel.layout5 .shop-products .item-col {
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  margin-bottom: 0;
  padding: 15px 25px;
}
.products-list-carousel.layout5 .shop-products .item-col .gridview {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.products-list-carousel.layout5 .shop-products .product-name {
  overflow: hidden;
  text-overflow: ellipsis;
}
.home-tabs.layout5 .home-tabs-title {
  list-style-type: none;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
}
.home-tabs.layout5 .home-tabs-title li {
  display: inline-block;
  margin: 0 23px;
  vertical-align: middle;
}
.home-tabs.layout5 .home-tabs-title li a {
  color: #4c4c4c;
  cursor: pointer;
  font-family: Lobster Two, Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: .05em;
  position: relative;
}
.home-tabs.layout5 .home-tabs-title li a:after {
  background: #95a83f;
  bottom: -16px;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  right: 50%;
  z-index: 9;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.home-tabs.layout5 .home-tabs-title li a:hover,
.home-tabs.layout5 .home-tabs-title li a.active {
  color: #95a83f;
}
.home-tabs.layout5 .home-tabs-title li a.active:after {
  left: -18px;
  right: -18px;
}
.home-tabs.layout5 .shop-products {
  border-right: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
.home-tabs.layout5 .shop-products .slick-track {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.home-tabs.layout5 .shop-products .item-col {
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  height: auto;
  margin-bottom: 0;
}
.home-tabs.layout5 .shop-products .product-wrapper .list-col8 {
  margin-bottom: 30px;
}
.fullbanner.layout5 {
  text-align: center;
}
.fullbanner.layout5 .wpb_column {
  padding: 30px 15px;
}
.fullbanner.layout5 .wpb_text_column {
  border: 1px solid rgba(255,255,255,0.3);
  display: table;
  height: 435px;
  margin: 0;
  padding: 0 70px;
  position: relative;
  width: 100%;
}
.fullbanner.layout5 .wpb_text_column:before,
.fullbanner.layout5 .wpb_text_column:after {
  content: '';
  display: block;
  height: 27px;
  position: absolute;
  width: 27px;
  z-index: 99;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}
.fullbanner.layout5 .wpb_text_column:before {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  left: 0;
  top: 0;
}
.fullbanner.layout5 .wpb_text_column:after {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  bottom: 0;
  right: 0;
}
.fullbanner.layout5 .wpb_text_column:hover:before,
.fullbanner.layout5 .wpb_text_column:hover:after {
  height: 100%;
  width: 100%;
}
.fullbanner.layout5 .wpb_text_column .wpb_wrapper {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  z-index: 201;
}
.fullbanner.layout5 h4 {
  color: #fff;
  font-size: 1.714em;
  margin-bottom: 32px;
}
.fullbanner.layout5 h4:after {
  background: #fff;
  content: '';
  display: block;
  height: 2px;
  margin: 14px auto 0 auto;
  width: 70px;
}
.fullbanner.layout5 p {
  color: #fff;
  line-height: 1.7;
  margin: 0;
}
.fullbanner.layout5 a {
  background: transparent;
  border: 2px solid #90815b;
  color: #90815b;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: .08em;
  margin-top: 40px;
  padding: 9px 20px;
  text-transform: uppercase;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.fullbanner.layout5 a:hover {
  background: #95a83f;
  border-color: #95a83f;
  color: #fff;
}
.fullbanner.layout5 a i {
  font-size: 16px;
  margin-left: 7px;
}
.newsletter-container.layout5 .row-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.newsletter-container.layout5 .newsletter-image * {
  height: 100%;
}
.products-carousel.layout6 .slick-slider {
  margin: 0;
  border-right: 1px solid #e5e5e5;
}
.products-carousel.layout6 .slick-slider .slick-track {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.products-carousel.layout6 .slick-slider .item-col {
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  height: auto;
  padding: 0;
}
.products-carousel.layout6 .vc_column-inner {
  padding: 0;
}
.products-carousel.layout6 .vc_row {
  margin: 0;
  padding: 0 15px;
}
.products-carousel.layout6 .wpb_text_column {
  margin-bottom: 0;
}
.products-carousel.layout6 h3 {
  font-size: 2em;
  margin-bottom: 0;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
}
.products-carousel.layout6 h3:after {
  background: #95a83f;
  bottom: -1px;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  width: 170px;
  z-index: 9;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  transform: translate(-50%);
}
.products-carousel.layout6 .product-wrapper .quickviewbtn,
.products-carousel.layout6 .product-wrapper .actions,
.products-carousel.layout6 .product-wrapper .ratings {
  display: none;
}
.products-carousel.layout6 .product-wrapper .product-name {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
  text-transform: none;
}
.products-carousel.layout6 .product-wrapper .product-name a {
  color: #4c4c4c;
}
.products-carousel.layout6 .product-wrapper .product-name a:hover {
  color: #95a83f;
}
.products-carousel.layout6 .product-wrapper .list-col4 {
  margin-bottom: 0;
  padding: 20px 25px;
}
.products-carousel.layout6 .product-wrapper .list-col8 {
  padding-bottom: 15px;
}
.home-tabs.layout6 .home-tabs-title {
  list-style-type: none;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
}
.home-tabs.layout6 .home-tabs-title li {
  display: inline-block;
  margin: 0 23px;
  vertical-align: middle;
}
.home-tabs.layout6 .home-tabs-title li a {
  color: #4c4c4c;
  cursor: pointer;
  font-family: Lobster Two, Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: .05em;
  position: relative;
}
.home-tabs.layout6 .home-tabs-title li a:after {
  background: #95a83f;
  bottom: -16px;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  right: 50%;
  z-index: 9;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.home-tabs.layout6 .home-tabs-title li a:hover,
.home-tabs.layout6 .home-tabs-title li a.active {
  color: #95a83f;
}
.home-tabs.layout6 .home-tabs-title li a.active:after {
  left: -18px;
  right: -18px;
}
.home-tabs.layout6 .shop-products {
  border-right: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
.home-tabs.layout6 .shop-products .slick-track {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.home-tabs.layout6 .shop-products .item-col {
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  height: auto;
  margin-bottom: 0;
}
.home-tabs.layout6 .shop-products .product-wrapper .list-col8 {
  margin-bottom: 30px;
}
.block1.layout6 .wpb_wrapper {
  position: relative;
}
.block1.layout6 .wpb_column:first-child .wpb_text_column {
  right: 0;
}
.block1.layout6 .wpb_column:last-child .wpb_text_column {
  left: 0;
  padding-left: 25px;
  padding-right: 0;
}
.block1.layout6 .wpb_single_image * {
  width: 100%;
}
.block1.layout6 .wpb_text_column {
  display: table;
  font-size: .857em;
  letter-spacing: .05em;
  line-height: 1.8;
  margin-bottom: 0;
  max-width: 48%;
  padding-right: 25px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 99;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.block1.layout6 .wpb_text_column .wpb_wrapper {
  display: table-cell;
  vertical-align: middle;
}
.block1.layout6 h5 {
  color: #95a83f;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.167em;
  letter-spacing: .05em;
  margin-bottom: 7px;
}
.block1.layout6 h4 {
  color: #6d604c;
  font-size: 2.833em;
  font-weight: normal;
  letter-spacing: .05em;
  line-height: 1;
  margin-bottom: 20px;
  padding-right: 100px;
}
.block1.layout6 a {
  background: #95a83f;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  padding: 7px 25px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.block1.layout6 a:hover {
  background: #748331;
}
.block2.layout6 {
  text-align: center;
}
.block2.layout6 .wpb_wrapper {
  display: inline-block;
  position: relative;
}
.block2.layout6 .wpb_text_column {
  font-size: 1.143em;
  margin-bottom: 0;
  position: absolute;
  left: 30px;
  top: 20px;
  color: #666;
  z-index: 99;
}
.block2.layout6 .wpb_single_image {
  border: 2px solid #95a83f;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.block2.layout6 h4 {
  color: #666666;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1em;
  max-width: 65%;
  margin-bottom: 8px;
}
.block2.layout6 strong {
  font-family: Lobster Two, Arial, Helvetica, sans-serif;
  color: #95a83f;
  font-size: 1.25em;
  font-weight: normal;
}
.block2.layout6 a {
  background: #95a83f;
  color: #fff;
  display: inline-block;
  margin-top: 9px;
  font-size: 0.875em;
  padding: 5px 25px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  font-weight: 500;
  text-transform: uppercase;
}
.block2.layout6 a:hover {
  background: #748331;
}
.block2.layout6 .wpb_column:first-child .wpb_single_image {
  border-color: #fa8929;
}
.block2.layout6 .wpb_column:first-child strong {
  color: #fa8929;
}
.block2.layout6 .wpb_column:first-child a {
  background: #fa8929;
}
.block2.layout6 .wpb_column:first-child a:hover {
  background: #eb6f05;
}
.block2.layout6 .wpb_column:nth-child(2) .wpb_single_image {
  border-color: #98ab3f;
}
.block2.layout6 .wpb_column:nth-child(2) strong {
  color: #98ab3f;
}
.block2.layout6 .wpb_column:nth-child(2) a {
  background: #98ab3f;
}
.block2.layout6 .wpb_column:nth-child(2) a:hover {
  background: #778631;
}
.block2.layout6 .wpb_column:nth-child(3) .wpb_single_image {
  border-color: #90815b;
}
.block2.layout6 .wpb_column:nth-child(3) strong {
  color: #90815b;
}
.block2.layout6 .wpb_column:nth-child(3) a {
  background: #90815b;
}
.block2.layout6 .wpb_column:nth-child(3) a:hover {
  background: #716547;
}
.block2.layout6 .wpb_column:nth-child(4) .wpb_single_image {
  border-color: #ffd74d;
}
.block2.layout6 .wpb_column:nth-child(4) strong {
  color: #ffd74d;
}
.block2.layout6 .wpb_column:nth-child(4) a {
  background: #ffd74d;
}
.block2.layout6 .wpb_column:nth-child(4) a:hover {
  background: #ffcc1a;
}
.fullbanner.layout6 .wpb_text_column {
  text-align: center;
}
.fullbanner.layout6 h4 {
  color: #6d604c;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.429em;
  letter-spacing: .5em;
  line-height: 1;
  margin: 0;
  display: inline-block;
}
.fullbanner.layout6 h4:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 2px;
  background: #6d604c;
}
.fullbanner.layout6 h2 {
  color: #95a83f;
  font-size: 7.143em;
  font-style: italic;
  line-height: 1;
  letter-spacing: 0.05em;
  margin-top: -6px;
}
.fullbanner.layout6 a {
  background: #fff;
  border: 2px solid #e5e5e5;
  color: #6d604c;
  display: inline-block;
  font-size: 1.286em;
  line-height: 1;
  padding: 12px 27px;
  text-transform: uppercase;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  margin-top: 18px;
}
.fullbanner.layout6 a:hover {
  background: #95a83f;
  border-color: #95a83f;
  color: #fff;
}
.fullbanner.layout6 a i {
  font-size: 1.273em;
  margin-left: 12px;
}
.fullbanner.layout6 .vc_row {
  margin-bottom: 0;
}
.shop-banner {
  margin-bottom: 45px;
}
