@-moz-keyframes rotateY1 {
  0% {
    transform: rotate3d(0,1,0,16deg);
    -webkit-transform: rotate3d(0,1,0,16deg);
    -moz-transform: rotate3d(0,1,0,16deg);
  }
  100% {
    -webkit-transform: rotate3d(0,1,0,180deg);
    -moz-transform: rotate3d(0,1,0,180deg);
    transform: rotate3d(0,1,0,180deg);
  }
}
@keyframes rotateY1 {
  0% {
    transform: rotate3d(0,1,0,16deg);
    -webkit-transform: rotate3d(0,1,0,16deg);
    -moz-transform: rotate3d(0,1,0,16deg);
  }
  100% {
    -webkit-transform: rotate3d(0,1,0,180deg);
    -moz-transform: rotate3d(0,1,0,180deg);
    transform: rotate3d(0,1,0,180deg);
  }
}
@-webkit-keyframes rotateY1 {
  0% {
    transform: rotate3d(0,1,0,16deg);
    -webkit-transform: rotate3d(0,1,0,16deg);
    -moz-transform: rotate3d(0,1,0,16deg);
  }
  100% {
    -webkit-transform: rotate3d(0,1,0,180deg);
    -moz-transform: rotate3d(0,1,0,180deg);
    transform: rotate3d(0,1,0,180deg);
  }
}
.rotateY1 {
  -webkit-animation: rotateY1 2s infinite;
  animation: rotateY1 2s infinite;
  -moz-animation: rotateY1 2s infinite;
}
@-moz-keyframes rotateX1 {
  0% {
    transform: rotate3d(1,0,0,16deg);
    -webkit-transform: rotate3d(1,0,0,16deg);
    -moz-transform: rotate3d(1,0,0,16deg);
  }
  100% {
    transform: rotate3d(1,0,0,180deg);
    -webkit-transform: rotate3d(1,0,0,180deg);
    -moz-transform: rotate3d(1,0,0,180deg);
  }
}
@keyframes rotateX1 {
  0% {
    transform: rotate3d(1,0,0,16deg);
    -webkit-transform: rotate3d(1,0,0,16deg);
    -moz-transform: rotate3d(1,0,0,16deg);
  }
  100% {
    transform: rotate3d(1,0,0,180deg);
    -webkit-transform: rotate3d(1,0,0,180deg);
    -moz-transform: rotate3d(1,0,0,180deg);
  }
}
@-webkit-keyframes rotateX1 {
  0% {
    transform: rotate3d(1,0,0,16deg);
    -webkit-transform: rotate3d(1,0,0,16deg);
    -moz-transform: rotate3d(1,0,0,16deg);
  }
  100% {
    transform: rotate3d(1,0,0,180deg);
    -webkit-transform: rotate3d(1,0,0,180deg);
    -moz-transform: rotate3d(1,0,0,180deg);
  }
}
.rotateX1 {
  -webkit-animation: rotateX1 2s infinite;
  animation: rotateX1 2s infinite;
  -moz-animation: rotateX1 2s infinite;
}
@keyframes hoverCircle {
  0% {
    transform: rotate3d(0,0,0,0);
    -webkit-transform: rotate3d(0,0,0,0);
    -moz-transform: rotate3d(0,0,0,0);
    left: -4px;
    top: -3px;
    right: -1px;
    bottom: -3px;
  }
  100% {
    transform: rotate3d(0,0.1,1,180deg);
    -webkit-transform: rotate3d(0,0.1,1,180deg);
    -moz-transform: rotate3d(0,0.1,1,180deg);
    left: -2px;
    top: -5px;
    right: -2px;
    bottom: -5px;
  }
}
@-webkit-keyframes hoverCircle {
  0% {
    transform: rotate3d(0,0,0,0);
    -webkit-transform: rotate3d(0,0,0,0);
    -moz-transform: rotate3d(0,0,0,0);
    left: -4px;
    top: -3px;
    right: -1px;
    bottom: -3px;
  }
  100% {
    transform: rotate3d(0,0.1,1,180deg);
    -webkit-transform: rotate3d(0,0.1,1,180deg);
    -moz-transform: rotate3d(0,0.1,1,180deg);
    left: -2px;
    top: -5px;
    right: -2px;
    bottom: -5px;
  }
}
.hoverCircle {
  -webkit-animation: hoverCircle 2s infinite;
  animation: hoverCircle 2s infinite;
  -moz-animation: hoverCircle 2s infinite;
}
@keyframes countdowntiming {
  0% {
    bottom: -50px;
    position: relative;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    bottom: 0px;
    position: relative;
    filter: alpha(opacity=100);
    opacity: 1;
  }
}
@-webkit-keyframes AutoRun {
  0% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: translate(-30px,30px);
    -moz-transform: translate(-30px,30px);
    transform: translate(-30px,30px);
  }
  50% {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
  }
  100% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: translate(30px,-30px);
    -moz-transform: translate(30px,-30px);
    transform: translate(30px,-30px);
  }
}
@keyframes AutoRun {
  0% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: translate(-30px,30px);
    -moz-transform: translate(-30px,30px);
    transform: translate(-30px,30px);
  }
  50% {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
  }
  100% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: translate(30px,-30px);
    -moz-transform: translate(30px,-30px);
    transform: translate(30px,-30px);
  }
}
.AutoRun {
  -webkit-animation: AutoRun 1500ms ease-in-out infinite;
  -moz-animation: AutoRun 1500ms ease-in-out infinite;
  -ms-animation: AutoRun 1500ms ease-in-out infinite;
  -o-animation: AutoRun 1500ms ease-in-out infinite;
  animation: AutoRun 1500ms ease-in-out infinite;
}
.visible-large {
  display: block;
}
.visible-small {
  display: none;
}
@media screen and (min-width: 1500px) {
  .header-container.header-3 {
    margin-left: -335px;
    width: auto;
    float: none;
  }
  .header-container.header-3 .search-icon {
    display: none;
  }
  .header-container.header-3 .header-search {
    margin: 33px 0;
  }
  .header-container.header-3 .main-menu-wrapper {
    position: fixed;
    left: 0;
    padding: 20px 10px 20px 75px;
    height: 100%;
    width: 335px;
    z-index: 9999;
  }
  .header-container.header-3 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul {
    padding: 0;
    margin: 0;
  }
  .header-container.header-3 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li {
    display: block;
    float: left;
    width: 100%;
    position: relative;
  }
  .header-container.header-3 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link {
    width: 100%;
    padding: 0;
  }
  .header-container.header-3 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link .link_content {
    float: none;
  }
  .header-container.header-3 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link .link_content .link_text {
    display: block;
    line-height: 60px;
  }
  .header-container.header-3 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > ul.mega_dropdown {
    left: 100%;
    top: 0;
    z-index: 99999;
  }
  .header-container.header-3 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > ul.mega_dropdown:after {
    content: "";
    clear: both;
    display: table;
  }
  .header-container.header-3 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.submenu_full_width.columns4 > ul.mega_dropdown {
    width: 1200px;
  }
  .header-container.header-3 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.submenu_full_width.columns3 > ul.mega_dropdown {
    width: 900px;
  }
  .header-container.header-3 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.submenu_full_width.columns2 > ul.mega_dropdown {
    width: 600px;
  }
  .header-container.header-3 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.menu-item-has-children > a.item_link .link_text:after {
    float: right;
    padding: 0 10px;
    content: "\f105";
    font-family: 'FontAwesome';
  }
  .header-container.header-3 .header .header-sticky.ontop .header-search {
    margin: 3px 0;
  }
  .header-container.header-3 .header .social-icons {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    z-index: 9999;
  }
  .header-container.header-3 .header .social-icons li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }
  .header-container.header-3 .header .social-icons li a {
    font-size: 24px;
    color: #666;
  }
  .header-container.header-3 .header .social-icons li a:hover {
    color: #252525;
  }
  .wrapper .page-wrapper.side-bar-menu-sticky {
    padding-left: 335px;
  }
}
@media screen and (max-width: 1499px) {
  .header-container.header-3 .header-search {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  .box-container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 1199px) {
  .wrapper .row-container {
    max-width: 970px;
  }
  .wrapper .vc_row {
    margin-left: 0;
    margin-right: 0;
  }
  body {
    font-size: 12px !important;
  }
  h1.logo {
    text-align: center;
  }
  .wrapper .slick-slider button {
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .wrapper .slick-slider button.slick-prev {
    left: 15px;
  }
  .wrapper .slick-slider button.slick-next {
    right: 15px;
  }
  .header-container .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link {
    padding: 0 15px;
  }
  .header-container .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link .link_text {
    font-size: 14px;
  }
  .header-container .logo .vc_figure,
  .header-container .logo .logo-inner {
    margin: auto;
  }
  .title1 h3 {
    font-size: 1.5em;
  }
  .home-tabs .title-container {
    position: static;
    margin-bottom: 30px;
    max-width: 940px;
  }
  .home-static2 .box-inner .text h2 {
    font-size: 2.8em;
  }
  .home-static2 .box-inner .text p {
    font-size: 1.5em;
  }
  .home-static5 .box-text {
    min-height: 470px;
  }
}
@media screen and (max-width: 1023px) {
  .header-container .widget_shopping_cart .widget_shopping_cart_content .mini_cart_content {
    display: block;
    height: 0;
    overflow: hidden;
  }
}
@media screen and (max-width: 991px) {
  .vc_column_container {
    width: 100% !important;
  }
  .wrapper .row-container {
    max-width: 750px;
  }
  .yith_magnifier_mousetrap {
    display: none;
  }
  .visible-large {
    display: none;
  }
  .visible-small {
    display: block;
  }
  .main-menu-wrapper {
    width: 100%;
  }
  .mobile-menu {
    background: #cc0000;
    float: left;
    height: 60px;
    margin: 0;
    position: relative;
    width: 100%;
  }
  .mobile-menu .mbmenu-toggler {
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: Nunito Sans, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 60px;
    line-height: 60px;
    padding: 0 12px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }
  .mobile-menu .mbmenu-toggler span.mbmenu-icon {
    display: block;
    float: right;
    margin-left: 5px;
    width: 22px;
  }
  .mobile-menu .mobile-menu-container {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.6);
    float: left;
    height: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 0 12px;
    position: absolute;
    top: 60px;
    width: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 99999;
  }
  .mobile-menu .mobile-menu-container.open {
    display: block;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu {
    float: left;
    margin: 5px 0;
    padding: 0;
    text-align: left;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li {
    float: left;
    list-style: none;
    margin: 0;
    position: relative;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > a {
    border-top: 1px solid #e5e5e5;
    color: #808080;
    display: block;
    float: left;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > a:hover {
    color: #cc0000;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li:first-child a {
    border-top: none;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li .fa {
    color: #808080;
    cursor: pointer;
    float: right;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
    z-index: 2;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li .fa:hover {
    color: #cc0000;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > ul.sub-menu > li > a {
    color: #808080;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > ul.sub-menu > li > a:hover {
    color: #cc0000;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li ul.sub-menu {
    float: left;
    margin: 0;
    padding: 0 0 0 10px;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li ul.sub-menu li {
    float: left;
    list-style: none;
    margin: 0;
    position: relative;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li ul.sub-menu li a {
    border-top: 1px solid #ddd;
    color: #808080;
    display: block;
    float: left;
    font-family: Nunito Sans, Arial, Helvetica, sans-serif;
    height: 40px;
    line-height: 40px;
    width: 100%;
  }
  .main-container {
    max-width: 100%;
    overflow: hidden;
  }
  #secondary .sidebar-border.left {
    border-right: none;
    padding-right: 0;
  }
  #secondary .sidebar-border.right {
    border-left: none;
    padding-left: 0;
  }
  .main-container.error404 .search-form-wrapper {
    padding: 80px 0;
  }
  .main-container.error404 .search-form-wrapper h1 {
    font-size: 100px;
    line-height: 100px;
  }
  .main-container.error404 .search-form-wrapper h2 {
    font-size: 20px;
  }
  .main-container.error404 .search-form-wrapper p {
    font-size: 16px;
  }
  .main-container.error404 .search-form-wrapper .form-input {
    width: 300px;
  }
  .main-container.error404 .search-form-wrapper a.button {
    margin-top: 40px;
  }
  .header-container .logo {
    background: none;
    border: 0;
  }
  .header-container .top-bar {
    text-align: center;
  }
  .header-container .box-right {
    text-align: center;
  }
  .header-container .header-padding {
    padding: 0;
  }
  .header-container .widget_shopping_cart .widget_shopping_cart_content .mini_cart_content {
    right: -85px;
  }
  .header-container .search-icon,
  .header-container .my-account,
  .header-container .widget_shopping_cart {
    border: 0;
  }
  .header-container .main-menu-wrapper:before,
  .header-container .main-menu-wrapper:after {
    display: none;
  }
  .header-container .header-search {
    width: 100%;
  }
  .header-container.header-2 {
    position: static;
    background: #222;
  }
  .home-tabs .title-container {
    max-width: 720px;
  }
  .top-categories .box-categories .box {
    text-align: center;
  }
  .top-categories .box-categories .box .box-inner {
    display: inline-block;
  }
  .home-static3 .box {
    text-align: center;
  }
  .home-static3 .box .box-inner {
    display: inline-block;
  }
  .home-static5 .box {
    text-align: center;
  }
  .home-static5 .box-image {
    display: inline-block;
  }
  .home-static5 .box-text {
    min-height: inherit;
    padding: 30px 15px 0;
  }
  .home-static5 .box-text h4 {
    margin: 0 auto 15px;
  }
  .show-more-products .shop-products .item-col {
    width: 33.33%;
  }
  .show-more-products .shop-products .item-col:nth-of-type(4n+1) {
    clear: none !important;
  }
  .show-more-products .shop-products .item-col:nth-of-type(3n+1) {
    clear: both !important;
  }
  .footer .logo-footer {
    text-align: center !important;
  }
  .footer .f-col:not(:last-child) {
    margin-bottom: 30px;
  }
  .footer .footer-top .newsletter-container {
    text-align: center;
  }
  .footer .footer-top .newsletter-container .mc4wp-form-fields .title-container {
    float: none;
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
  }
  .footer .footer-top .newsletter-container .mc4wp-form-fields .from-input {
    float: none;
  }
  .footer .footer-bottom .copyright,
  .footer .footer-bottom .payment {
    text-align: center;
  }
  .footer .footer-bottom .social-icons {
    text-align: center;
  }
  .footer .f-col {
    text-align: center;
  }
  .footer .footer-title h3:after {
    margin: 8px auto 0;
  }
  .footer .current {
    margin: 0;
    display: inline-block;
  }
  .footer .toogle-content {
    display: none;
    margin-top: 15px;
  }
}
@media screen and (max-width: 767px) {
  .front-page .vc_row {
    margin-left: 0;
    margin-right: 0;
  }
  .main-container .product-view .product .woocommerce-tabs ul.tabs li {
    margin: 0 0 25px 0;
    width: 100%;
  }
  .main-container .product-view .product .woocommerce-tabs ul.tabs li a {
    border: none;
    padding-bottom: 2px;
  }
  .main-container.contact-page .contact-input span {
    width: 100% !important;
  }
  .main-container.contact-page .contact-desc .wpb_text_column {
    padding: 0;
  }
  .main-container.contact-page .contact-desc .wpb_text_column h2 {
    font-size: 40px !important;
  }
  .main-container.error404 .search-form-wrapper .form-input {
    max-width: 95%;
  }
  .header-container {
    padding: 0 15px;
  }
  .header-container .logo {
    height: 90px;
  }
  .header-container .header-nav-container .wpb_text_column,
  .header-container .header-nav-container .widget_product_search {
    float: none;
    margin: 0;
  }
  .header-container .header-nav-container .widget_product_search {
    display: inline-block;
    margin-left: 50px;
  }
  .header-container .header-nav-container .switcher {
    display: block;
    text-align: center;
    margin: 0 0 20px;
  }
  .header-container .header-nav-container .switcher .language,
  .header-container .header-nav-container .switcher .currency {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  .header-container .header-text-container .wpb_text_column {
    margin-bottom: 20px;
  }
  .footer .footer-static {
    text-align: center;
  }
  .footer .footer-static .wpb_column {
    margin-bottom: 20px;
  }
  .footer .footer-static .wpb_column:last-child {
    margin-bottom: 0;
  }
  .footer .footer-static .wpb_text_column {
    min-width: 400px;
    display: inline-block;
    text-align: left;
  }
  .footer .footer-nav {
    border-bottom: none !important;
  }
  .footer .footer-nav .wpb_column .vc_column-inner {
    border-bottom: 1px solid #e5e5e5;
  }
  .footer .footer-nav .wpb_column.vc_col-xs-6:nth-child(2n) .vc_column-inner {
    border-right: none !important;
  }
  .footer .footer-copyright {
    text-align: center;
  }
  .footer .footer-copyright .wpb_text_column {
    margin-bottom: 30px;
  }
  .footer .footer-copyright .wpb_single_image {
    text-align: center;
  }
  .home-tabs .title-container {
    padding: 0 15px;
  }
  .home-static2 .box-inner .text h2 {
    font-size: 2em;
  }
  .home-static2 .box-inner .text p {
    font-size: 1.2em;
  }
  .show-more-products .shop-products .item-col {
    width: 50%;
  }
  .show-more-products .shop-products .item-col:nth-of-type(3n+1) {
    clear: none !important;
  }
  .show-more-products .shop-products .item-col:nth-of-type(2n+1) {
    clear: both !important;
  }
}
@media screen and (max-width: 639px) {
  .shop_table.cart th,
  .shop_table.cart td,
  .shop_table.cart tr {
    display: block;
  }
  .shop_table.cart th,
  .shop_table.cart td {
    border: none;
  }
  .shop_table.cart tr {
    border-bottom: 1px solid #e5e5e5;
  }
  .title2 {
    padding: 0;
    margin-top: 0;
  }
  .title2.layout2 {
    padding: 0;
  }
  .title2:before {
    display: none;
  }
  .header-container .header-text-container {
    text-align: center;
    padding-bottom: 70px;
  }
  .header-container .header-nav-container .switcher,
  .header-container .header-nav-container .widget_product_search {
    float: none;
  }
  .header-container .header-nav-container .widget_product_search {
    margin-left: 0;
  }
  .title1 h3:before,
  .title1 h3:after {
    display: none;
  }
  .main-container .shop-products .product-wrapper .count-down .timebox {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-container .shop-products.list-view .listview {
    display: block;
  }
}
@media screen and (max-width: 479px) {
  [class*='vc_col'] {
    width: 100% !important;
  }
  .shop_table.cart thead {
    display: none;
  }
  .shop_table.cart td,
  .shop_table.cart th {
    display: block;
  }
  .main-container .buttons-cart .button {
    margin: 15px 15px 15px 0;
  }
  .shop_content .shop-products .item-col {
    clear: none !important;
    width: 100%;
  }
  .main-container .product-view .single-product-image .thumbnails.slider {
    height: 100%;
  }
  .show-more-products .shop-products .item-col {
    width: 100%;
  }
  .show-more-products .shop-products .item-col:nth-of-type(2n+1) {
    clear: none !important;
  }
  .footer .footer-static .wpb_text_column {
    min-width: 0;
    text-align: center;
  }
  .footer .footer-static h5 {
    margin-bottom: 10px;
  }
}
