@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes countdowntiming {
  0% {
    bottom: -50px;
    position: relative;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    bottom: 0px;
    position: relative;
    filter: alpha(opacity=100);
    opacity: 1;
  }
}
.visible-large {
  display: block;
}
.visible-small {
  display: none;
}
@media screen and (min-width: 992px) {
  .products-carousel-1.layout5 {
    width: 32%;
  }
  .products-list-carousel.layout5 {
    width: 68%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .products-carousel-1.layout2 .shop-products .product-wrapper .actions li {
    margin: 0;
  }
  .products-carousel-1.layout2 .shop-products .product-wrapper .actions li .add_to_cart_inline a.button {
    width: 110px;
  }
}
@media screen and (max-width: 1199px) {
  .wrapper .row-container {
    max-width: 970px;
  }
  h1.logo {
    text-align: center;
  }
  .wrapper .slick-slider button {
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .wrapper .slick-slider button.slick-prev {
    left: 15px;
  }
  .wrapper .slick-slider button.slick-next {
    right: 15px;
  }
  .header-container .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link {
    padding: 0 12px;
  }
  .header-container .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link .link_text {
    font-size: 15px;
  }
  .footer .footer-static {
    text-align: center;
  }
  .footer .footer-static h5 {
    margin: 0 0 15px 0;
  }
  .footer.footer-2 .social-icons {
    text-align: center;
    margin-bottom: 30px;
  }
  .footer.footer-2 .newsletter-form.style2 .wpb_wrapper {
    float: none;
    text-align: center;
  }
  .footer.footer-2 .newsletter-form.style2 .wpb_wrapper .wpb_text_column {
    display: inline-block;
  }
  .footer.footer-2 .newsletter-form.style2 .wpb_wrapper .mc4wp-form:before {
    display: none;
  }
  .testimonials-container.style1 .testimonials .slick-slider button.slick-prev {
    left: 0;
  }
  .testimonials-container.style1 .testimonials .slick-slider button.slick-next {
    right: 0;
  }
  .products-list-carousel.layout2 .wpb_column {
    margin-bottom: 60px;
  }
  .products-list-carousel.layout2 .wpb_column:last-child {
    margin-bottom: 0;
  }
  .newsletter-container.layout5 .newsletter-form .vc_column-inner {
    padding: 30px !important;
  }
}
@media screen and (max-width: 991px) {
  .wrapper .row-container {
    max-width: 750px;
  }
  .yith_magnifier_mousetrap {
    display: none;
  }
  .visible-large {
    display: none;
  }
  .visible-small {
    display: block;
  }
  .main-menu-wrapper {
    width: 100%;
  }
  .mobile-menu {
    background: #95a83f;
    float: left;
    height: 60px;
    margin: 0;
    position: relative;
    width: 100%;
  }
  .mobile-menu .mbmenu-toggler {
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: PlayfairDisplay, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 60px;
    line-height: 60px;
    padding: 0 12px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }
  .mobile-menu .mbmenu-toggler span.mbmenu-icon {
    display: block;
    float: right;
    margin-left: 5px;
    width: 22px;
  }
  .mobile-menu .mobile-menu-container {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.6);
    float: left;
    height: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 0 12px;
    position: absolute;
    top: 60px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 99999;
  }
  .mobile-menu .mobile-menu-container.open {
    display: block;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu {
    float: left;
    margin: 5px 0;
    padding: 0;
    text-align: left;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li {
    float: left;
    list-style: none;
    margin: 0;
    position: relative;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > a {
    border-top: 1px solid #e5e5e5;
    color: #959595;
    display: block;
    float: left;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > a:hover {
    color: #95a83f;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li:first-child a {
    border-top: none;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li .fa {
    color: #959595;
    cursor: pointer;
    float: right;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
    z-index: 2;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li .fa:hover {
    color: #95a83f;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > ul.sub-menu > li > a {
    color: #959595;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > ul.sub-menu > li > a:hover {
    color: #95a83f;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li ul.sub-menu {
    float: left;
    margin: 0;
    padding: 0 0 0 10px;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li ul.sub-menu li {
    float: left;
    list-style: none;
    margin: 0;
    position: relative;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li ul.sub-menu li a {
    border-top: 1px solid #ddd;
    color: #959595;
    display: block;
    float: left;
    font-family: PlayfairDisplay, Arial, Helvetica, sans-serif;
    height: 40px;
    line-height: 40px;
    width: 100%;
  }
  .main-container {
    max-width: 100%;
    overflow: hidden;
  }
  #secondary .sidebar-border.left {
    border-right: none;
    padding-right: 0;
  }
  #secondary .sidebar-border.right {
    border-left: none;
    padding-left: 0;
  }
  .main-container.error404 .search-form-wrapper {
    padding: 80px 0;
  }
  .main-container.error404 .search-form-wrapper h1 {
    font-size: 100px;
    line-height: 100px;
  }
  .main-container.error404 .search-form-wrapper h2 {
    font-size: 20px;
  }
  .main-container.error404 .search-form-wrapper p {
    font-size: 16px;
  }
  .main-container.error404 .search-form-wrapper .form-input {
    width: 300px;
  }
  .main-container.error404 .search-form-wrapper a.button {
    margin-top: 40px;
  }
  .header-container .header-inner .row-container {
    display: block;
  }
  .header-container .header-inner .logo {
    text-align: center;
    margin-bottom: 30px;
  }
  .header-container .header-text-container .wpb_wrapper {
    float: none;
  }
  .header-container .widget_shopping_cart {
    position: absolute;
    right: 15px;
    top: -115px;
  }
  .header-container .header-nav-container {
    margin-left: 0;
    margin-right: 0;
  }
  .header-container .header-nav-container .vc_column-inner {
    border: none !important;
  }
  .main-container .shop-products .product-wrapper .count-down {
    font-size: 80%;
  }
  .products-carousel-1.layout1 .shop-products  .product-wrapper {
    max-width: 400px;
    margin: auto;
  }
  .testimonials-container.style1 .testimonials {
    padding: 0 15px;
  }
  .newsletter-form .vc_column-inner {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .newsletter-form.style2 input[type='email'] {
    display: block;
    margin: 10px 0 20px 0;
  }
  .newsletter-form.style3 .mc4wp-form-fields {
    text-align: center;
  }
  .newsletter-form.style3 input[type='email'] {
    display: block;
    margin: 25px auto;
  }
  .newsletter-form.style3 button[type='submit'] {
    margin: 0;
  }
  .fullbanner-2.layout3 .wpb_text_column,
  .fullbanner-1.layout4 .wpb_text_column,
  .fullbanner.layout5 .wpb_text_column {
    padding: 0 15px;
  }
  .products-carousel-1.layout3 .slick-slider button.slick-prev {
    left: 15px;
  }
  .products-carousel-1.layout3 .slick-slider button.slick-next {
    right: 15px;
  }
  .products-carousel-1.layout4 .slick-slider button.slick-prev {
    left: 15px;
  }
  .products-carousel-1.layout4 .slick-slider button.slick-next {
    right: 15px;
  }
  .products-carousel-1.layout5 {
    margin-bottom: 30px;
  }
  .testimonials-container.style2 .testimonials .slick-slider button.slick-prev {
    left: 0;
  }
  .testimonials-container.style2 .testimonials .slick-slider button.slick-next {
    right: 0;
  }
}
@media screen and (max-width: 767px) {
  .main-container .product-view .product .woocommerce-tabs ul.tabs li {
    margin: 0 0 25px 0;
    width: 100%;
  }
  .main-container .product-view .product .woocommerce-tabs ul.tabs li a {
    border: none;
    padding-bottom: 2px;
  }
  .main-container.contact-page .contact-input span {
    width: 100% !important;
  }
  .main-container.contact-page .contact-desc .wpb_text_column {
    padding: 0;
  }
  .main-container.contact-page .contact-desc .wpb_text_column h2 {
    font-size: 40px !important;
  }
  .main-container.error404 .search-form-wrapper .form-input {
    max-width: 95%;
  }
  .header-container .header-nav-container .wpb_text_column,
  .header-container .header-nav-container .widget_product_search {
    float: none;
    margin: 0;
  }
  .header-container .header-nav-container .widget_product_search {
    display: inline-block;
    margin-left: 50px;
  }
  .header-container .header-nav-container .switcher {
    display: block;
    text-align: center;
    margin: 0 0 20px;
  }
  .header-container .header-nav-container .switcher .language,
  .header-container .header-nav-container .switcher .currency {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  .header-container .widget_shopping_cart {
    top: -130px;
  }
  .header-container .header-text-container .wpb_text_column {
    margin-bottom: 20px;
  }
  .header-container.header-2 .header-middle .row-container {
    display: block;
  }
  .header-container.header-2 .header-middle .logo {
    margin: 30px 0;
    text-align: center;
  }
  .header-container.header-2 .header-middle .right .wpb_wrapper {
    float: none;
  }
  .header-container.header-2 .header-middle .switcher {
    float: left;
  }
  .header-container.header-2 .header-middle .widget_product_search {
    float: right;
  }
  .header-container.header-3 .widget_shopping_cart {
    left: 50%;
    right: auto;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    transform: translate(-50%);
  }
  .header-container.header-3 .header-middle {
    padding-top: 45px !important;
  }
  .header-container.header-3 .header-middle .row-container {
    display: block;
  }
  .header-container.header-3 .header-middle .logo {
    margin: 30px 0;
    text-align: center;
  }
  .header-container.header-3 .header-middle .right .wpb_wrapper {
    float: none;
  }
  .header-container.header-3 .header-middle .switcher {
    float: none;
    text-align: center;
    margin: 0 0 30px 0;
  }
  .header-container.header-3 .header-middle .switcher .language,
  .header-container.header-3 .header-middle .switcher .currency {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  .header-container.header-3 .header-middle .widget_product_search {
    float: none;
    text-align: center;
    margin: 0;
  }
  .header-container.header-3 .header-middle .widget_product_search .form-input {
    display: inline-block;
  }
  .header-container.header-3 .header-setting .wpb_wrapper {
    display: block;
    float: none;
  }
  .header-container.header-3 .header-policy {
    border-bottom: none !important;
  }
  .header-container.header-3 .header-policy .vc_row {
    display: block;
  }
  .header-container.header-3 .header-policy .vc_row .wpb_text_column {
    text-align: left;
    padding: 15px 20px;
  }
  .header-container.header-3 .header-policy .vc_row .wpb_column {
    border: 1px solid #e5e5e5;
    border-top: none;
  }
  .footer .footer-static {
    text-align: center;
  }
  .footer .footer-static .wpb_column {
    margin-bottom: 20px;
  }
  .footer .footer-static .wpb_column:last-child {
    margin-bottom: 0;
  }
  .footer .footer-static .wpb_text_column {
    min-width: 400px;
    display: inline-block;
    text-align: left;
  }
  .footer .footer-nav {
    border-bottom: none !important;
  }
  .footer .footer-nav .wpb_column .vc_column-inner {
    border-bottom: 1px solid #e5e5e5;
  }
  .footer .footer-nav .wpb_column.vc_col-xs-6:nth-child(2n) .vc_column-inner {
    border-right: none !important;
  }
  .footer .footer-copyright {
    text-align: center;
  }
  .footer .footer-copyright .wpb_text_column {
    margin-bottom: 30px;
  }
  .footer .footer-copyright .wpb_single_image {
    text-align: center;
  }
  .products-carousel-1.layout2 .slick-slider button.slick-prev {
    left: 15px;
    right: auto;
  }
  .products-carousel-1.layout2 .slick-slider button.slick-next {
    left: auto;
    right: 15px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .products-list-carousel.layout2 .shop-products .product-wrapper .list-col4 {
    width: 115px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 639px) {
  .shop_table.cart th,
  .shop_table.cart td,
  .shop_table.cart tr {
    display: block;
  }
  .shop_table.cart th,
  .shop_table.cart td {
    border: none;
  }
  .shop_table.cart tr {
    border-bottom: 1px solid #e5e5e5;
  }
  .header-container .header-text-container {
    text-align: center;
    padding-bottom: 70px;
  }
  .header-container .header-nav-container .switcher,
  .header-container .header-nav-container .widget_product_search {
    float: none;
  }
  .header-container .header-nav-container .widget_product_search {
    margin-left: 0;
  }
  .header-container .widget_shopping_cart {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .header-container .widget_shopping_cart .mini_cart_content {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .header-container .header-nav-container .wpb_text_column {
    margin-bottom: 15px;
  }
  .header-container.header-2 .header-policy .row-container {
    display: block;
  }
  .header-container.header-2 .header-policy .row-container .wpb_text_column {
    text-align: left;
    padding: 15px 20px;
  }
  .header-container.header-2 .header-policy .row-container .wpb_column {
    border: 1px solid #e5e5e5;
    border-top: none;
  }
  .header-container.header-2 .top-bar {
    padding-bottom: 85px;
    text-align: center;
  }
  .header-container.header-2 .top-bar .widget_shopping_cart {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .header-container.header-2 .header-middle .wpb_text_column {
    text-align: center;
  }
  .header-container.header-2 .header-middle .switcher {
    float: none;
    margin: 0 0 20px;
    text-align: center;
  }
  .header-container.header-2 .header-middle .switcher .language,
  .header-container.header-2 .header-middle .switcher .currency {
    display: inline-block;
    float: none;
    vertical-align: middle;
  }
  .header-container.header-2 .header-middle .widget_product_search {
    float: none;
    text-align: center;
    margin: 0;
  }
  .header-container.header-2 .header-middle .widget_product_search .form-input {
    display: inline-block;
  }
  .home-tabs.layout1 .home-tabs-title li {
    display: block;
    margin: 0 0 20px 0;
  }
  .home-tabs.layout1 .home-tabs-title li a:after {
    bottom: 0;
  }
  .home-tabs.layout4 .home-tabs-title li {
    display: block;
    margin: 0 0 20px 0;
  }
  .home-tabs.layout4 .home-tabs-title li a:after {
    bottom: 0;
  }
  .home-tabs.layout5 .home-tabs-title li {
    display: block;
    margin: 0 0 20px 0;
  }
  .home-tabs.layout5 .home-tabs-title li a:after {
    bottom: 0;
  }
  .main-container .shop-products .product-wrapper .count-down .timebox {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-container .shop-products.list-view .listview {
    display: block;
  }
}
@media screen and (max-width: 479px) {
  [class*='vc_col'] {
    width: 100% !important;
  }
  .shop_table.cart thead {
    display: none;
  }
  .shop_table.cart td,
  .shop_table.cart th {
    display: block;
  }
  .main-container .buttons-cart .button {
    margin: 15px 15px 15px 0;
  }
  .shop_content .shop-products .item-col {
    clear: none !important;
    width: 100%;
  }
  .footer .footer-static .wpb_text_column {
    min-width: 0;
    text-align: center;
  }
  .footer .footer-static h5 {
    margin-bottom: 10px;
  }
  .main-container .shop-products .product-wrapper .count-down .countbox {
    font-size: 70%;
    max-width: 100%;
  }
  .main-container .shop-products .product-wrapper .count-down .timebox {
    padding-left: 5px;
    padding-right: 5px;
  }
  .testimonials-container.style1 .testimonials {
    font-size: 80%;
  }
  .testimonials-container.style1 .testimonials .testimonials-text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .testimonials-container.style1 .testimonials .testimonials-text p:before {
    font-size: 70px;
    position: static;
    height: 45px;
    float: left;
  }
  .fullbanner-1.layout3 .vc_column-inner {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .testimonials-container.style2 .testimonials {
    font-size: 80%;
    padding: 0 15px;
  }
  .testimonials-container.style2 .testimonials .testimonials-text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .testimonials-container.style2 .testimonials .testimonials-text p:before {
    font-size: 70px;
    position: static;
    height: 45px;
    float: left;
  }
}
