@-moz-keyframes rotateY1 {
  0% {
    transform: rotate3d(0,1,0,16deg);
    -webkit-transform: rotate3d(0,1,0,16deg);
    -moz-transform: rotate3d(0,1,0,16deg);
  }
  100% {
    -webkit-transform: rotate3d(0,1,0,180deg);
    -moz-transform: rotate3d(0,1,0,180deg);
    transform: rotate3d(0,1,0,180deg);
  }
}
@keyframes rotateY1 {
  0% {
    transform: rotate3d(0,1,0,16deg);
    -webkit-transform: rotate3d(0,1,0,16deg);
    -moz-transform: rotate3d(0,1,0,16deg);
  }
  100% {
    -webkit-transform: rotate3d(0,1,0,180deg);
    -moz-transform: rotate3d(0,1,0,180deg);
    transform: rotate3d(0,1,0,180deg);
  }
}
@-webkit-keyframes rotateY1 {
  0% {
    transform: rotate3d(0,1,0,16deg);
    -webkit-transform: rotate3d(0,1,0,16deg);
    -moz-transform: rotate3d(0,1,0,16deg);
  }
  100% {
    -webkit-transform: rotate3d(0,1,0,180deg);
    -moz-transform: rotate3d(0,1,0,180deg);
    transform: rotate3d(0,1,0,180deg);
  }
}
.rotateY1 {
  -webkit-animation: rotateY1 2s infinite;
  animation: rotateY1 2s infinite;
  -moz-animation: rotateY1 2s infinite;
}
@-moz-keyframes rotateX1 {
  0% {
    transform: rotate3d(1,0,0,16deg);
    -webkit-transform: rotate3d(1,0,0,16deg);
    -moz-transform: rotate3d(1,0,0,16deg);
  }
  100% {
    transform: rotate3d(1,0,0,180deg);
    -webkit-transform: rotate3d(1,0,0,180deg);
    -moz-transform: rotate3d(1,0,0,180deg);
  }
}
@keyframes rotateX1 {
  0% {
    transform: rotate3d(1,0,0,16deg);
    -webkit-transform: rotate3d(1,0,0,16deg);
    -moz-transform: rotate3d(1,0,0,16deg);
  }
  100% {
    transform: rotate3d(1,0,0,180deg);
    -webkit-transform: rotate3d(1,0,0,180deg);
    -moz-transform: rotate3d(1,0,0,180deg);
  }
}
@-webkit-keyframes rotateX1 {
  0% {
    transform: rotate3d(1,0,0,16deg);
    -webkit-transform: rotate3d(1,0,0,16deg);
    -moz-transform: rotate3d(1,0,0,16deg);
  }
  100% {
    transform: rotate3d(1,0,0,180deg);
    -webkit-transform: rotate3d(1,0,0,180deg);
    -moz-transform: rotate3d(1,0,0,180deg);
  }
}
.rotateX1 {
  -webkit-animation: rotateX1 2s infinite;
  animation: rotateX1 2s infinite;
  -moz-animation: rotateX1 2s infinite;
}
@keyframes hoverCircle {
  0% {
    transform: rotate3d(0,0,0,0);
    -webkit-transform: rotate3d(0,0,0,0);
    -moz-transform: rotate3d(0,0,0,0);
    left: -4px;
    top: -3px;
    right: -1px;
    bottom: -3px;
  }
  100% {
    transform: rotate3d(0,0.1,1,180deg);
    -webkit-transform: rotate3d(0,0.1,1,180deg);
    -moz-transform: rotate3d(0,0.1,1,180deg);
    left: -2px;
    top: -5px;
    right: -2px;
    bottom: -5px;
  }
}
@-webkit-keyframes hoverCircle {
  0% {
    transform: rotate3d(0,0,0,0);
    -webkit-transform: rotate3d(0,0,0,0);
    -moz-transform: rotate3d(0,0,0,0);
    left: -4px;
    top: -3px;
    right: -1px;
    bottom: -3px;
  }
  100% {
    transform: rotate3d(0,0.1,1,180deg);
    -webkit-transform: rotate3d(0,0.1,1,180deg);
    -moz-transform: rotate3d(0,0.1,1,180deg);
    left: -2px;
    top: -5px;
    right: -2px;
    bottom: -5px;
  }
}
.hoverCircle {
  -webkit-animation: hoverCircle 2s infinite;
  animation: hoverCircle 2s infinite;
  -moz-animation: hoverCircle 2s infinite;
}
@keyframes countdowntiming {
  0% {
    bottom: -50px;
    position: relative;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    bottom: 0px;
    position: relative;
    filter: alpha(opacity=100);
    opacity: 1;
  }
}
@-webkit-keyframes AutoRun {
  0% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: translate(-30px,30px);
    -moz-transform: translate(-30px,30px);
    transform: translate(-30px,30px);
  }
  50% {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
  }
  100% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: translate(30px,-30px);
    -moz-transform: translate(30px,-30px);
    transform: translate(30px,-30px);
  }
}
@keyframes AutoRun {
  0% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: translate(-30px,30px);
    -moz-transform: translate(-30px,30px);
    transform: translate(-30px,30px);
  }
  50% {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
  }
  100% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: translate(30px,-30px);
    -moz-transform: translate(30px,-30px);
    transform: translate(30px,-30px);
  }
}
.AutoRun {
  -webkit-animation: AutoRun 1500ms ease-in-out infinite;
  -moz-animation: AutoRun 1500ms ease-in-out infinite;
  -ms-animation: AutoRun 1500ms ease-in-out infinite;
  -o-animation: AutoRun 1500ms ease-in-out infinite;
  animation: AutoRun 1500ms ease-in-out infinite;
}
.woocommerce .product-wrapper .onsale,
.woocommerce .single-product-image .onsale {
  display: block;
  background: #cc0000;
  box-shadow: none;
  font-size: 0.714em;
  font-weight: 700;
  right: 20px;
  left: auto;
  line-height: 20px;
  min-height: auto;
  min-width: auto;
  padding: 0 10px;
  position: absolute;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  top: 20px;
  z-index: 9;
  border-radius: 0;
}
.woocommerce .product-wrapper .onsale .sale-bg,
.woocommerce .single-product-image .onsale .sale-bg {
  display: none;
}
.woocommerce .product-wrapper .onsale .sale-text,
.woocommerce .single-product-image .onsale .sale-text {
  color: #ffffff;
}
.price-box-small {
  display: none;
}
.actions-listview {
  display: none;
}
.woocommerce .ratings,
.woocommerce .woocommerce-product-rating,
.woocommerce-page .ratings,
.woocommerce-page .woocommerce-product-rating {
  display: block;
  line-height: 0.86em;
  margin: 0 0 10px;
}
.woocommerce .ratings .star-rating,
.woocommerce .woocommerce-product-rating .star-rating,
.woocommerce-page .ratings .star-rating,
.woocommerce-page .woocommerce-product-rating .star-rating {
  display: inline-block;
  float: none;
  height: 13px;
  margin: 0;
  width: 73px;
}
.woocommerce .ratings .star-rating:before,
.woocommerce .woocommerce-product-rating .star-rating:before,
.woocommerce-page .ratings .star-rating:before,
.woocommerce-page .woocommerce-product-rating .star-rating:before {
  content: '\f006\f006\f006\f006\f006';
  color: #f9bb00;
  font-family: FontAwesome;
  font-size: 14px;
  letter-spacing: 2px;
}
.woocommerce .ratings .star-rating span,
.woocommerce .woocommerce-product-rating .star-rating span,
.woocommerce-page .ratings .star-rating span,
.woocommerce-page .woocommerce-product-rating .star-rating span {
  display: inline-block;
  height: 13px;
  width: 120px;
  padding-top: 13px;
}
.woocommerce .ratings .star-rating span:before,
.woocommerce .woocommerce-product-rating .star-rating span:before,
.woocommerce-page .ratings .star-rating span:before,
.woocommerce-page .woocommerce-product-rating .star-rating span:before {
  color: #f9bb00;
  content: '\f005\f005\f005\f005\f005';
  font-family: FontAwesome;
  font-size: 14px;
  letter-spacing: 2px;
}
#yith-wcwl-popup-message {
  background: #cc0000;
  border: none;
  border-radius: 0;
  color: #fff;
  padding: 0 20px;
}
.atc-notice-wrapper {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  display: none;
  left: 50%;
  margin-left: -160px;
  max-width: 100%;
  position: fixed;
  top: 40%;
  width: 320px;
  z-index: 1000;
}
.atc-notice-wrapper .close {
  color: #808080;
  font-size: 22px;
  opacity: 1;
  position: absolute;
  right: 5px;
  top: 5px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}
.atc-notice-wrapper .close:hover {
  color: #cc0000;
}
.atc-notice-wrapper h3 {
  border-bottom: 1px solid #e5e5e5;
  font-size: 16px;
  margin: 0 0 10px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}
.atc-notice-wrapper .product-wrapper {
  float: left;
  padding: 0 10px;
  width: 100%;
}
.atc-notice-wrapper .product-image {
  float: left;
  width: 25%;
}
.atc-notice-wrapper .product-info {
  float: left;
  padding-left: 20px;
  width: 75%;
}
.atc-notice-wrapper .product-info h4 {
  font-size: 16px;
  margin: 0 0 10px;
}
.atc-notice-wrapper .product-info .price {
  float: left;
  width: 100%;
}
.atc-notice-wrapper .product-info .price .special-price {
  color: #cc0000;
  font-size: 18px;
}
.atc-notice-wrapper .product-info .price .old-price {
  color: #808080;
  font-size: 14px;
  margin-left: 10px;
  text-decoration: line-through;
}
.atc-notice-wrapper .buttons {
  background: #e5e5e5;
  border-radius: 0 0 3px 3px;
  float: left;
  margin: 10px 0 0;
  padding: 10px;
  width: 100%;
}
.atc-notice-wrapper .buttons .button {
  background: #cc0000;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  float: right;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  text-shadow: none;
  text-transform: uppercase;
}
.atc-notice-wrapper .buttons .button:hover {
  background: #990000;
  color: #fff;
}
body.quickview {
  overflow: hidden;
}
.quickview-wrapper {
  background: rgba(0,0,0,0.7);
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  visibility: hidden;
  width: 100%;
  z-index: 12000;
}
.quickview-wrapper.open {
  opacity: 1;
  visibility: visible;
}
.quickview-wrapper.open .quick-modal {
  top: 0;
}
.quickview-wrapper .qvbtn {
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 32px;
  height: 50px;
  left: 30px;
  position: absolute;
  text-align: center;
  top: 30%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 50px;
}
.quickview-wrapper .qvbtn:hover {
  background: #cc0000;
}
.quickview-wrapper .qvbtn.qvnext {
  left: auto;
  right: 30px;
}
.quickview-wrapper .qvbtn i {
  line-height: 48px;
}
.quickview-wrapper .quick-modal {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  margin: 5% auto;
  max-width: 96%;
  min-height: 300px;
  padding: 20px;
  position: relative;
  top: -500px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 870px;
  z-index: 1000;
}
.quickview-wrapper .quick-modal .qvloading {
  background: #fff url('../images/loading.gif') no-repeat center center;
  display: none;
  height: 100%;
  left: 0;
  opacity: .7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.quickview-wrapper .quick-modal .closeqv {
  border: 1px solid #808080;
  border-radius: 3px;
  color: #808080;
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 28px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 30px;
  z-index: 2;
}
.quickview-wrapper .quick-modal .closeqv:hover {
  border: 1px solid #cc0000;
  color: #cc0000;
}
.quickview-wrapper #quickview-content {
  background: #fff;
}
.quickview-wrapper #quickview-content .product-images {
  float: left;
  width: 40%;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails {
  float: left;
  margin: 0;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails .slick-dots {
  bottom: auto;
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  position: static;
  text-align: center;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails .slick-dots li {
  display: inline-block;
  height: 13px;
  margin: 0 2px;
  width: 13px;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails .slick-dots li button {
  background: none;
  border: 2px solid #e5e5e5;
  border-radius: 100%;
  height: 100%;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  padding: 0;
  position: static;
  text-indent: -9999px;
  visibility: visible;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails .slick-dots li button:hover {
  background: #e5e5e5;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails .slick-dots li button:before {
  display: none;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails .slick-dots li.slick-active button {
  background: #e5e5e5;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails .slick-slide a {
  float: left;
  padding: 0 5px 5px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails .slick-slide a img {
  border: 1px solid #e5e5e5;
}
.quickview-wrapper #quickview-content .product-images .main-image {
  float: left;
  margin-bottom: 10px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-images .main-image img {
  box-shadow: none;
}
.quickview-wrapper #quickview-content .product-info {
  float: left;
  padding-left: 30px;
  width: 60%;
}
.quickview-wrapper #quickview-content .product-info h1 {
  font-size: 22px;
  font-weight: normal;
  margin: 0 0 20px;
}
.quickview-wrapper #quickview-content .product-info .price-box {
  float: left;
  font-weight: 700;
  margin: 0 0 12px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .price-box p {
  margin: 0;
}
.quickview-wrapper #quickview-content .product-info .price-box .special-price {
  color: #cc0000;
  font-size: 24px;
}
.quickview-wrapper #quickview-content .product-info .price-box .old-price {
  color: #808080;
  font-size: 18px;
  margin-left: 10px;
  text-decoration: line-through;
}
.quickview-wrapper #quickview-content .product-info .see-all {
  color: #808080;
  display: inline-block;
  margin-bottom: 40px;
  text-decoration: underline;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .see-all:hover {
  color: #cc0000;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart {
  border-bottom: 1px solid #e5e5e5;
  float: left;
  margin: 0 0 20px;
  padding: 0 0 38px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .product_title,
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .price-box {
  display: none;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .woocommerce-product-rating {
  float: left;
  margin: 0 0 20px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .woocommerce-product-rating .star-rating {
  color: #f9bb00;
  float: left;
  font-size: 10px;
  height: 12px;
  margin-right: 5px;
  margin-top: 3px;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .woocommerce-product-rating .star-rating:before {
  color: #b7b7b7;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .woocommerce-product-rating a.woocommerce-review-link {
  color: #808080;
  float: left;
  font-style: italic;
  line-height: 14px;
  text-decoration: underline;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .woocommerce-product-rating a.woocommerce-review-link:hover {
  color: #cc0000;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart {
  float: left;
  margin-bottom: 10px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .quantity {
  border: 1px solid #e5e5e5;
  float: left;
  height: 42px;
  margin-right: 5px;
  width: auto;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .quantity .input-text {
  border: none;
  color: #808080;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: 40px;
  width: 50px;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .button {
  background: #1a1a1a;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0 25px;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  vertical-align: middle;
  white-space: nowrap;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .button:hover {
  background: #cc0000;
  color: #fff;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .button.disabled,
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .button:disabled,
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .button[disabled] {
  color: #fff;
  padding: 0 20px !important;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .button.disabled:hover,
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .button:disabled:hover,
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .button[disabled]:hover {
  color: #cc0000 !important;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .variations {
  float: left;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .variations .variant {
  float: left;
  padding: 0 0 17px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .variations .label {
  display: block;
  font-size: 14px;
  padding: 0 0 5px;
  text-align: left;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .variations .label label {
  color: #808080;
  font-weight: normal;
  line-height: 27px;
  margin: 0;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .variations select {
  border: 1px solid #e5e5e5;
  height: 27px;
  line-height: 27px;
  margin-right: 10px;
  width: auto;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .variations .reset_variations {
  line-height: 27px;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .single_variation {
  float: left;
  margin-bottom: 15px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .single_variation .price {
  color: #808080;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .single_variation .price del {
  color: #808080;
  font-size: 18px;
  text-decoration: line-through;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .single_variation .price ins {
  color: #cc0000;
  font-size: 24px;
  text-decoration: none;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .product_meta {
  display: none;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .yith-wcwl-add-to-wishlist {
  color: #808080;
  float: left;
  font-size: 12px;
  margin: 0;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .yith-wcwl-add-to-wishlist .feedback {
  display: none;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .yith-wcwl-add-to-wishlist a {
  color: #808080;
  float: left;
  text-decoration: underline;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .yith-wcwl-add-to-wishlist a:hover {
  color: #cc0000;
}
.quickview-wrapper #quickview-content .product-info .quick-desc {
  border-bottom: 1px solid #e5e5e5;
  color: #808080;
  float: left;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 25px;
  padding: 0 0 15px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .quick-desc ul,
.quickview-wrapper #quickview-content .product-info .quick-desc ol {
  margin: 0 0 10px;
  padding: 0;
}
.quickview-wrapper #quickview-content .product-info .quick-desc ul li,
.quickview-wrapper #quickview-content .product-info .quick-desc ol li {
  list-style: none;
  margin: 0 0 5px;
}
.quickview-wrapper #quickview-content .product-info .quick-desc ul li:before,
.quickview-wrapper #quickview-content .product-info .quick-desc ol li:before {
  content: '\f00c';
  display: inline-block;
  font-family: FontAwesome;
  margin-right: 6px;
}
.quickview-wrapper #quickview-content .widget {
  float: left;
  width: 100%;
}
.quickview-wrapper #quickview-content .widget .widget-title {
  background: none;
  color: #808080;
  float: left;
  line-height: 30px;
  margin: 0 0 5px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}
.quickview-wrapper #quickview-content .widget .social-icons {
  float: left;
  margin: 0;
  padding: 0;
}
.quickview-wrapper #quickview-content .widget .social-icons li {
  float: left;
  line-height: 30px;
  list-style: none;
  margin-right: 10px;
}
.quickview-wrapper #quickview-content .widget .social-icons li .social-icon {
  border: 1px solid #e5e5e5;
  color: #808080;
  display: inline-block;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  width: 40px;
}
.quickview-wrapper #quickview-content .widget .social-icons li .social-icon:hover {
  color: #fff;
}
.quickview-wrapper #quickview-content .widget .social-icons li .social-icon.facebook:hover {
  background: #3b579d;
  border: 1px solid #3b579d;
}
.quickview-wrapper #quickview-content .widget .social-icons li .social-icon.twitter:hover {
  background: #3acaff;
  border: 1px solid #3acaff;
}
.quickview-wrapper #quickview-content .widget .social-icons li .social-icon.pinterest:hover {
  background: #cb2027;
  border: 1px solid #cb2027;
}
.quickview-wrapper #quickview-content .widget .social-icons li .social-icon.tumblr:hover {
  background: #304e6c;
  border: 1px solid #304e6c;
}
.quickview-wrapper #quickview-content .widget .social-icons li .social-icon.gplus:hover {
  background: #d11717;
  border: 1px solid #d11717;
}
.quickview-wrapper #quickview-content .widget .social-icons li .social-icon.linkedin:hover {
  background: #0097bd;
  border: 1px solid #0097bd;
}
.main-container .toolbar {
  margin: 0 0 30px;
  text-align: right;
  padding: 9px 15px;
}
.main-container .toolbar .view-mode {
  float: left;
  position: relative;
  z-index: 2;
}
.main-container .toolbar .view-mode label {
  display: none;
}
.main-container .toolbar .view-mode a {
  float: left;
  font-size: 0;
  line-height: 0;
  margin-right: 8px;
  text-align: center;
  color: #808080;
}
.main-container .toolbar .view-mode a:before {
  display: block;
  font-size: 25px;
  font-family: 'Pe-icon-7-stroke';
  line-height: 30px;
  content: "\e645";
}
.main-container .toolbar .view-mode a:hover,
.main-container .toolbar .view-mode a.active {
  color: #1a1a1a;
}
.main-container .toolbar .view-mode a.list:before {
  content: "\e636";
}
.main-container .toolbar .woocommerce-result-count {
  float: right;
  height: 30px;
  line-height: 30px;
  margin: 0 0 0 30px;
  font-size: 1.142em;
}
.main-container .toolbar .woocommerce-ordering {
  float: right;
  margin: 0;
  position: relative;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper {
  font-size: 1em;
  height: 28px;
  line-height: 28px;
  padding: 0 0 0 10px;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper label {
  float: left;
  margin-right: 10px;
  font-size: 1.142em;
  font-weight: 500;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper select {
  display: none;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container {
  font-size: 1em;
  padding: 0 0 0 15px;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-single {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 1.142em;
  color: #1a1a1a;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-single span {
  margin-right: 20px;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-single div {
  right: 15px;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-single div b {
  background: none !important;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-single div b:before {
  content: '\f0d7';
  font-family: FontAwesome;
  font-size: 12px;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container.chosen-with-drop .chosen-drop {
  left: auto;
  right: 0;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-drop {
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.14);
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  margin-top: 10px;
  width: 240px;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-drop ul {
  margin: 10px 0;
  padding: 0;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-drop ul li {
  font-size: .9em;
  margin: 0;
  padding: 10px 20px;
  text-align: left;
  text-transform: capitalize;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-drop ul li.highlighted {
  background: #ff0000;
}
.main-container .woocommerce-pagination {
  float: right;
  width: 100%;
}
.main-container .woocommerce-pagination ul.page-numbers {
  border: none;
  float: left;
  margin: 40px 0 0;
  text-align: right;
  width: 100%;
}
.main-container .woocommerce-pagination ul.page-numbers li {
  border: none;
  display: inline-block;
  float: none;
  vertical-align: middle;
}
.main-container .woocommerce-pagination ul.page-numbers li:not(:last-child) {
  margin-right: 8px;
}
.main-container .woocommerce-pagination ul.page-numbers li a,
.main-container .woocommerce-pagination ul.page-numbers li span {
  background: none;
  border: 1px solid #e5e5e5;
  color: #808080;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  height: 37px;
  line-height: 37px;
  padding: 0;
  width: 37px;
  text-align: center;
}
.main-container .woocommerce-pagination ul.page-numbers li a.current,
.main-container .woocommerce-pagination ul.page-numbers li a:hover,
.main-container .woocommerce-pagination ul.page-numbers li span.current,
.main-container .woocommerce-pagination ul.page-numbers li span:hover {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  color: #fff;
}
.main-container .woocommerce-pagination ul.page-numbers li a.next,
.main-container .woocommerce-pagination ul.page-numbers li a.prev,
.main-container .woocommerce-pagination ul.page-numbers li span.next,
.main-container .woocommerce-pagination ul.page-numbers li span.prev {
  font-size: 0;
  position: relative;
}
.main-container .woocommerce-pagination ul.page-numbers li a.next:before,
.main-container .woocommerce-pagination ul.page-numbers li a.prev:before,
.main-container .woocommerce-pagination ul.page-numbers li span.next:before,
.main-container .woocommerce-pagination ul.page-numbers li span.prev:before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 14px;
  vertical-align: baseline;
}
.main-container .woocommerce-pagination ul.page-numbers li a.prev:before,
.main-container .woocommerce-pagination ul.page-numbers li span.prev:before {
  content: '\f100';
}
.main-container .woocommerce-pagination ul.page-numbers li a.next:before,
.main-container .woocommerce-pagination ul.page-numbers li span.next:before {
  content: '\f101';
}
.main-container .shop-products {
  margin: 0 -15px;
}
.main-container .shop-products .item-col {
  margin: 0 0 20px;
  padding: 0 15px;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.main-container .shop-products .item-col.first {
  clear: both;
}
.main-container .shop-products .product-wrapper {
  height: 100%;
  position: relative;
  background: #fff;
}
.main-container .shop-products .product-wrapper:hover .product-image img.secondary_image {
  filter: alpha(opacity=100);
  opacity: 1;
}
.main-container .shop-products .product-wrapper:hover .product-image .shadow {
  filter: alpha(opacity=100);
  opacity: 1;
}
.main-container .shop-products .product-wrapper:hover .quickview-inner {
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
}
.main-container .shop-products .product-wrapper:hover .box-hover2 {
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.main-container .shop-products .product-wrapper .roadtip {
  top: -40px;
}
.main-container .shop-products .product-wrapper .list-col4 {
  position: relative;
}
.main-container .shop-products .product-wrapper .product-image {
  position: relative;
  overflow: hidden;
}
.main-container .shop-products .product-wrapper .product-image a {
  display: block;
}
.main-container .shop-products .product-wrapper .product-image img {
  box-shadow: none;
  float: none;
  margin: 0;
  width: 100%;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.main-container .shop-products .product-wrapper .product-image img.secondary_image {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}
.main-container .shop-products .product-wrapper .quickview-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: translate(0,100%);
  -moz-transform: translate(0,100%);
  -ms-transform: translate(0,100%);
  -o-transform: translate(0,100%);
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  z-index: 6;
}
.main-container .shop-products .product-wrapper .quickviewbtn {
  position: relative;
}
.main-container .shop-products .product-wrapper .quickviewbtn .quickview {
  background: #1a1a1a;
  border: 0;
  color: #ffffff;
  display: block;
  font-size: 0.857em;
  font-weight: 600;
  height: 41px;
  letter-spacing: 0;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.main-container .shop-products .product-wrapper .quickviewbtn .quickview:before {
  content: '\e63e';
  display: inline-block;
  font-family: 'Pe-icon-7-stroke';
  font-size: 16px;
  font-weight: 400;
  vertical-align: middle;
  margin-right: 8px;
}
.main-container .shop-products .product-wrapper .quickviewbtn .quickview:hover {
  background: #cc0000;
}
.main-container .shop-products .product-wrapper .product-name {
  font-size: 1.142em;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
}
.main-container .shop-products .product-wrapper .product-name a {
  color: #1a1a1a;
  display: block;
}
.main-container .shop-products .product-wrapper .product-name a:hover {
  color: #cc0000;
}
.main-container .shop-products .product-wrapper .ratings {
  text-align: center;
}
.main-container .shop-products .product-wrapper .actions {
  margin: 25px 0 0;
  padding: 0;
}
.main-container .shop-products .product-wrapper .actions li {
  display: inline-block;
  margin: 0 2px;
  vertical-align: middle;
}
.main-container .shop-products .product-wrapper .add-to-links {
  margin: 0;
}
.main-container .shop-products .product-wrapper .add_to_cart_inline {
  border: none !important;
  display: inline-block;
  margin: 0;
  padding: 0 !important;
  position: relative;
}
.main-container .shop-products .product-wrapper .add_to_cart_inline del,
.main-container .shop-products .product-wrapper .add_to_cart_inline ins,
.main-container .shop-products .product-wrapper .add_to_cart_inline .amount {
  display: none;
}
.main-container .shop-products .product-wrapper .add_to_cart_inline .add-to-cart {
  position: relative;
}
.main-container .shop-products .product-wrapper .add_to_cart_inline a.button {
  font-size: 1em;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  text-transform: uppercase;
  height: 48px;
  line-height: 48px;
}
.main-container .shop-products .product-wrapper .add_to_cart_inline a.button:hover,
.main-container .shop-products .product-wrapper .add_to_cart_inline a.button.added {
  background: #cc0000;
}
.main-container .shop-products .product-wrapper .add_to_cart_inline a.button.added:hover {
  color: #990000;
}
.main-container .shop-products .product-wrapper .add_to_cart_inline a.button.added:after {
  display: none;
}
.main-container .shop-products .product-wrapper .add_to_cart_inline a.button.loading:after {
  top: 0;
}
.main-container .shop-products .product-wrapper .add_to_cart_inline a.added_to_cart {
  display: none;
}
.main-container .shop-products .product-wrapper .yith-wcwl-add-to-wishlist {
  margin: 0;
}
.main-container .shop-products .product-wrapper .yith-wcwl-add-to-wishlist .show {
  position: relative;
  width: 100%;
}
.main-container .shop-products .product-wrapper .yith-wcwl-add-to-wishlist .show .feedback {
  display: none;
}
.main-container .shop-products .product-wrapper .yith-wcwl-add-to-wishlist a {
  background: none;
  border: 1px solid #e5e5e5;
  color: #808080;
  display: block;
  font-size: 0;
  font-weight: 400;
  height: 48px;
  letter-spacing: 0;
  line-height: 46px;
  width: 48px;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.main-container .shop-products .product-wrapper .yith-wcwl-add-to-wishlist a:before {
  content: '\e642';
  display: inline-block;
  font-family: 'Pe-icon-7-stroke';
  font-size: 18px;
}
.main-container .shop-products .product-wrapper .yith-wcwl-add-to-wishlist a:hover {
  background: #1a1a1a;
  border-color: #1a1a1a;
  color: #fff;
}
.main-container .shop-products .product-wrapper .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:hover,
.main-container .shop-products .product-wrapper .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:hover {
  background: #1a1a1a;
  border-color: #1a1a1a;
  color: #fff;
}
.main-container .shop-products .product-wrapper .compare-button a.compare {
  background: none;
  border: 1px solid #e5e5e5;
  color: #808080;
  display: block;
  font-size: 0;
  font-weight: 400;
  height: 48px;
  letter-spacing: 0;
  line-height: 46px;
  width: 48px;
  padding: 0;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.main-container .shop-products .product-wrapper .compare-button a.compare:before {
  content: '\e61b';
  display: inline-block;
  font-family: 'Pe-icon-7-stroke';
  font-size: 18px;
}
.main-container .shop-products .product-wrapper .compare-button a.compare:hover,
.main-container .shop-products .product-wrapper .compare-button a.compare.added {
  background: #1a1a1a;
  border-color: #1a1a1a;
  color: #fff;
}
.main-container .shop-products .product-wrapper .compare-button a.compare.added:hover {
  background: #000000;
}
.main-container .shop-products .product-wrapper .count-down {
  width: 100%;
}
.main-container .shop-products .product-wrapper .count-down .countbox {
  display: inline-block;
  background: #cc0000;
  padding: 7px 15px 7px 40px;
  border-radius: 20px;
  position: relative;
}
.main-container .shop-products .product-wrapper .count-down .countbox:before {
  content: "\f017";
  font-family: 'FontAwesome';
  font-size: 1.54em;
  display: block;
  position: absolute;
  color: #fff;
  left: 15px;
}
.main-container .shop-products .product-wrapper .count-down .timebox {
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  position: relative;
  line-height: 1;
}
.main-container .shop-products .product-wrapper .count-down .timebox:not(:last-child) {
  margin-right: 5px;
}
.main-container .shop-products .product-wrapper .count-down .timebox:not(:last-child):after {
  content: ":";
  display: inline-block;
  margin-left: 5px;
}
.main-container .shop-products .product-wrapper .count-down .timebox strong {
  display: inline-block;
  font-weight: 600;
  margin-left: 3px;
  line-height: 1;
  text-transform: uppercase;
}
.main-container .shop-products .product-wrapper .box-hover2 {
  display: none;
  position: absolute;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  background: rgba(255,255,255,0.8);
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 8;
}
.main-container .shop-products .product-wrapper .box-hover2 .box-hover-inner {
  margin: auto;
}
.main-container .shop-products.grid-view .listview {
  display: none;
}
.main-container .shop-products.grid-view .row-product {
  float: left;
  width: 100%;
  position: relative;
}
.main-container .shop-products.grid-view .product-wrapper:hover .box-hover {
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  filter: alpha(opacity=100);
  opacity: 1;
}
.main-container .shop-products.grid-view .product-wrapper .gridview {
  text-align: center;
  position: relative;
  padding: 20px 10px;
  overflow: hidden;
}
.main-container .shop-products.grid-view .product-wrapper .product-desc {
  display: none;
}
.main-container .shop-products.grid-view .product-wrapper .box-hover {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 10px;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  -webkit-transform: translate(0,-100%);
  -moz-transform: translate(0,-100%);
  -ms-transform: translate(0,-100%);
  -o-transform: translate(0,-100%);
}
.main-container .shop-products.grid-view .product-wrapper .box-hover .add_to_cart_inline a.button {
  background: none;
  color: #989898;
  height: 34px;
  line-height: 34px;
}
.main-container .shop-products.grid-view .product-wrapper .box-hover .add_to_cart_inline a.button:hover,
.main-container .shop-products.grid-view .product-wrapper .box-hover .add_to_cart_inline a.button.added {
  color: #cc0000;
}
.main-container .shop-products.grid-view .product-wrapper .box-hover .product-name {
  margin-bottom: 0;
}
.main-container .shop-products.grid-view .product-wrapper .box-hover .product-name a {
  color: #808080;
}
.main-container .shop-products.grid-view .product-wrapper .box-hover .product-name a:hover {
  color: #cc0000;
}
.main-container .shop-products.list-view .gridview {
  display: none;
}
.main-container .shop-products.list-view .item-col {
  padding: 0;
  width: 100%;
  margin: 0 0 30px;
  position: relative;
}
.main-container .shop-products.list-view .product-wrapper .list-col4 {
  margin-bottom: 0;
}
.main-container .shop-products.list-view .product-wrapper .product-image .box-hover {
  display: none;
}
.main-container .shop-products.list-view .product-wrapper .product-name {
  margin-bottom: 15px;
  text-align: left;
  text-transform: none;
  font-size: 1.714em;
}
.main-container .shop-products.list-view .product-wrapper .ratings {
  margin-bottom: 15px;
  text-align: left;
}
.main-container .shop-products.list-view .product-wrapper .price-box {
  margin-bottom: 20px;
  text-align: left;
  font-size: 1.714em;
}
.main-container .shop-products.list-view .product-wrapper .product-desc {
  font-size: 1.142em;
  margin-top: 30px;
}
.main-container .product-view {
  float: left;
  width: 100%;
}
.main-container .product-view .single-product-image {
  float: left;
  margin-bottom: 40px;
  padding-left: 122px;
  position: relative;
  margin-right: -30px;
}
.main-container .product-view .single-product-image .onsale {
  display: none;
}
.main-container .product-view .single-product-image .images {
  float: left;
  margin: 0;
  max-width: 670px;
  padding: 0;
  position: relative;
  width: 100%;
}
.main-container .product-view .single-product-image .images .yith_magnifier_zoom_wrap a img {
  box-shadow: none;
}
.main-container .product-view .single-product-image .images .yith_magnifier_zoom_wrap .yith_magnifier_lens {
  background: #fff;
}
.main-container .product-view .single-product-image .images .yith_magnifier_zoom_wrap .yith_magnifier_mousetrap {
  cursor: move !important;
}
.main-container .product-view .single-product-image .images .zoom_in_marker {
  background: none;
  border: 4px double #808080;
  border-radius: 5px;
  bottom: 10px;
  color: #808080;
  cursor: pointer;
  display: none;
  font-size: 20px;
  height: 50px;
  left: 10px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 50px;
  z-index: 10000;
}
.main-container .product-view .single-product-image .images .zoom_in_marker:hover {
  border: 4px double #cc0000;
  color: #cc0000;
}
.main-container .product-view .single-product-image .images.nothumb {
  float: left;
  padding: 0;
  width: 100%;
}
.main-container .product-view .single-product-image .thumbnails.slider {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 30px 0;
}
.main-container .product-view .single-product-image .thumbnails.slider .thumbnails-inner {
  position: relative;
}
.main-container .product-view .single-product-image .thumbnails.slider .caroufredsel_wrapper {
  margin: 0;
}
.main-container .product-view .single-product-image .thumbnails.slider .caroufredsel_wrapper ul {
  margin: auto;
}
.main-container .product-view .single-product-image .thumbnails.slider .caroufredsel_wrapper ul li {
  padding: 5px 0;
  overflow: hidden;
  width: 110px;
  margin: 0;
}
.main-container .product-view .single-product-image .thumbnails.slider .caroufredsel_wrapper ul li a {
  display: block;
  margin: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.main-container .product-view .single-product-image .thumbnails.slider #slider-prev,
.main-container .product-view .single-product-image .thumbnails.slider #slider-next {
  display: block !important;
  width: 30px;
  height: 30px;
  font-size: 0;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  background: #fff;
  color: #333;
  line-height: 0;
  text-align: center;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.main-container .product-view .single-product-image .thumbnails.slider #slider-prev:hover,
.main-container .product-view .single-product-image .thumbnails.slider #slider-next:hover {
  color: #cc0000;
}
.main-container .product-view .single-product-image .thumbnails.slider #slider-prev i,
.main-container .product-view .single-product-image .thumbnails.slider #slider-next i {
  font-size: 24px;
  line-height: 30px;
}
.main-container .product-view .single-product-image .thumbnails.slider #slider-prev {
  top: 0;
}
.main-container .product-view .single-product-image .thumbnails.slider #slider-next {
  bottom: 0;
  top: auto;
}
.main-container .product-view .summary.single-product-info {
  float: left;
  margin: 0 0 40px;
  width: 100%;
  padding-left: 30px;
}
.main-container .product-view .summary.single-product-info .product-nav {
  float: right;
  margin: -5px 0 0 0;
}
.main-container .product-view .summary.single-product-info .product-nav .next-prev {
  float: right;
}
.main-container .product-view .summary.single-product-info .product-nav .next-prev a {
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  color: #d1d1d1;
  display: block;
  float: left;
  font-size: 15px;
  height: 30px;
  line-height: 28px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: 9999px;
  width: 30px;
}
.main-container .product-view .summary.single-product-info .product-nav .next-prev a:after {
  content: '\f104';
  display: block;
  font-family: FontAwesome;
  height: 28px;
  left: 0;
  position: absolute;
  text-indent: 0;
  top: 0;
  width: 28px;
}
.main-container .product-view .summary.single-product-info .product-nav .next-prev a:hover {
  background: #cc0000;
  border-color: #cc0000;
  color: #fff;
}
.main-container .product-view .summary.single-product-info .product-nav .next-prev .prev {
  float: left;
}
.main-container .product-view .summary.single-product-info .product-nav .next-prev .next {
  float: left;
  margin-left: 5px;
}
.main-container .product-view .summary.single-product-info .product-nav .next-prev .next a:after {
  content: '\f105';
}
.main-container .product-view .summary.single-product-info h1.product_title {
  font-size: 1.714em;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: 400;
}
.main-container .product-view .summary.single-product-info .roadtip {
  top: -40px;
}
.main-container .product-view .summary.single-product-info .price {
  color: #989898;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 1.714em;
  margin-bottom: 20px;
}
.main-container .product-view .summary.single-product-info .price .old-price {
  float: left;
  margin-right: 10px;
}
.main-container .product-view .summary.single-product-info .price .old-price .amount {
  color: #b8b8b8;
  font-weight: 400;
  text-decoration: line-through;
}
.main-container .product-view .summary.single-product-info .stock-status {
  color: #cc0000;
  float: left;
  margin: 0 0 20px;
  width: 100%;
}
.main-container .product-view .summary.single-product-info .stock-status p {
  margin: 0;
}
.main-container .product-view .summary.single-product-info .woocommerce-product-rating {
  margin: 0 0 20px;
}
.main-container .product-view .summary.single-product-info .woocommerce-product-rating .woocommerce-review-link {
  color: #808080;
  font-weight: 300;
}
.main-container .product-view .summary.single-product-info .woocommerce-product-rating .woocommerce-review-link:hover {
  color: #cc0000;
}
.main-container .product-view .summary.single-product-info .woocommerce-product-details__short-description {
  color: #808080;
  float: left;
  margin: 0 0 20px;
  width: 100%;
  font-size: 1.142em;
}
.main-container .product-view .summary.single-product-info .stock {
  color: #808080;
  font-size: 1em;
  font-style: italic;
  text-transform: capitalize;
  width: 100%;
  margin-top: 10px;
}
.main-container .product-view .summary.single-product-info .stock.in-stock:before,
.main-container .product-view .summary.single-product-info .stock.out-of-stock:before {
  color: #81ca33;
  content: '\f058';
  float: left;
  font-family: FontAwesome;
  font-size: 14px;
  margin: 0 8px 0 0;
}
.main-container .product-view .summary.single-product-info .stock.out-of-stock:before {
  color: #fa0001;
}
.main-container .product-view .summary.single-product-info .cart {
  float: left;
  margin: 0 0 30px;
  width: 100%;
}
.main-container .product-view .summary.single-product-info .cart .variations {
  float: left;
  margin: 0 0 20px 0;
  width: 50%;
}
.main-container .product-view .summary.single-product-info .cart .variations .variant {
  float: left;
  margin: 0;
  width: 100%;
}
.main-container .product-view .summary.single-product-info .cart .variations label {
  line-height: 35px;
}
.main-container .product-view .summary.single-product-info .cart .variations .label {
  color: #1a1a1a;
  float: left;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: left;
}
.main-container .product-view .summary.single-product-info .cart .variations .value {
  padding: 0;
}
.main-container .product-view .summary.single-product-info .cart .variations .value select {
  border: 1px solid #e5e5e5;
  padding: 5px 5px 5px 15px;
  width: 100%;
}
.main-container .product-view .summary.single-product-info .cart .variations .reset_variations {
  color: #808080;
  float: left;
  position: absolute;
}
.main-container .product-view .summary.single-product-info .cart .variations .reset_variations:hover {
  color: #cc0000;
}
.main-container .product-view .summary.single-product-info .cart .single_variation_wrap {
  float: left;
  width: 100%;
}
.main-container .product-view .summary.single-product-info .cart .single_variation_wrap .single_variation {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
.main-container .product-view .summary.single-product-info .cart .single_variation_wrap .variations_button {
  float: left;
}
.main-container .product-view .summary.single-product-info .cart .single_variation_wrap .price {
  border-bottom: 2px solid #1a1a1a;
  border-top: 2px solid #1a1a1a;
  color: #1a1a1a;
  float: left;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin: 0;
  padding: 8px 0;
}
.main-container .product-view .summary.single-product-info .cart .single_variation_wrap .price ins {
  display: inline-block;
  text-decoration: none;
}
.main-container .product-view .summary.single-product-info .cart .single_variation_wrap .price del {
  color: #808080;
  display: inline-block;
  font-size: 20px;
  text-decoration: line-through;
}
.main-container .product-view .summary.single-product-info .cart .single_variation_wrap .price del .amount {
  margin-right: 10px;
}
.main-container .product-view .summary.single-product-info .cart .quantity {
  float: left;
  margin-right: 15px;
}
.main-container .product-view .summary.single-product-info .cart .quantity .input-text {
  background: none;
  border: none;
  color: #4c4c4c;
  font-size: 20px;
  font-weight: 400;
  height: 45px;
  padding: 0;
  width: 80px;
  border: 1px solid #e5e5e5;
  padding: 0 0 0 10px;
  line-height: 43px;
}
.main-container .product-view .summary.single-product-info .cart .button {
  border: 0;
  font-size: 1.07em;
  font-weight: 600;
  height: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0 25px;
  text-transform: uppercase;
}
.main-container .product-view .summary.single-product-info .cart .group_table .quantity-row {
  float: left;
  margin-right: 10px;
}
.main-container .product-view .summary.single-product-info .cart .group_table .label {
  font-size: 1em;
}
.main-container .product-view .summary.single-product-info .cart .group_table .label label a {
  color: #1a1a1a;
  display: block;
  margin-top: 20px;
}
.main-container .product-view .summary.single-product-info .cart .group_table .label label a:hover {
  color: #cc0000;
}
.main-container .product-view .summary.single-product-info .cart .group_table .price {
  font-size: 15px;
  font-weight: 700;
}
.main-container .product-view .summary.single-product-info .compare {
  background: none;
  border: none;
  float: left;
  font-size: 1em;
  overflow: visible;
  padding: 0;
  position: relative;
  height: 45px;
}
.main-container .product-view .summary.single-product-info .compare .roadtip {
  font-weight: normal;
  text-transform: capitalize;
}
.main-container .product-view .summary.single-product-info .compare span.comparetip {
  background: none;
  border: 1px solid #e5e5e5;
  color: #808080;
  display: block;
  font-size: 0;
  font-weight: 400;
  height: 45px;
  letter-spacing: 0;
  line-height: 45px;
  text-align: center;
  width: 45px;
}
.main-container .product-view .summary.single-product-info .compare span.comparetip:before {
  content: '\e61b';
  display: inline-block;
  font-family: 'Pe-icon-7-stroke';
  font-size: 18px;
}
.main-container .product-view .summary.single-product-info .compare:hover {
  background: #1a1a1a;
  border-color: #1a1a1a;
  color: #fff;
}
.main-container .product-view .summary.single-product-info .compare:hover span.comparetip {
  background: #1a1a1a;
  border-color: #1a1a1a;
  color: #fff;
}
.main-container .product-view .summary.single-product-info .compare.added {
  background: #1a1a1a;
  border-color: #1a1a1a;
  color: #fff;
  font-size: 0;
  width: 48px;
  text-align: center;
  height: 48px;
}
.main-container .product-view .summary.single-product-info .compare.added:before {
  content: '\e61b';
  display: inline-block;
  font-family: 'Pe-icon-7-stroke';
  font-size: 18px;
}
.main-container .product-view .summary.single-product-info .clear {
  clear: none;
}
.main-container .product-view .summary.single-product-info .yith-wcwl-add-to-wishlist {
  float: left;
  margin: 0 15px 0 0;
  position: relative;
}
.main-container .product-view .summary.single-product-info .yith-wcwl-add-to-wishlist a {
  background: none;
  border: 1px solid #e5e5e5;
  color: #808080;
  display: block;
  font-size: 0;
  font-weight: 400;
  height: 45px;
  letter-spacing: 0;
  line-height: 45px;
  text-align: center;
  width: 45px;
  border-radius: 0;
}
.main-container .product-view .summary.single-product-info .yith-wcwl-add-to-wishlist a:before {
  content: '\e642';
  display: inline-block;
  font-family: 'Pe-icon-7-stroke';
  font-size: 18px;
}
.main-container .product-view .summary.single-product-info .yith-wcwl-add-to-wishlist a:hover {
  background: #1a1a1a;
  border-color: #1a1a1a;
  color: #fff;
}
.main-container .product-view .summary.single-product-info .yith-wcwl-add-to-wishlist .ajax-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.main-container .product-view .summary.single-product-info .yith-wcwl-add-to-wishlist .feedback {
  display: none;
}
.main-container .product-view .summary.single-product-info .share_buttons {
  float: left;
  padding: 20px 0;
  width: 100%;
}
.main-container .product-view .summary.single-product-info .share_buttons .stButton,
.main-container .product-view .summary.single-product-info .share_buttons .stMainServices {
  height: auto;
}
.main-container .product-view .summary.single-product-info .share_buttons .stButton .stFb,
.main-container .product-view .summary.single-product-info .share_buttons .stButton .stTwbutton,
.main-container .product-view .summary.single-product-info .share_buttons .stButton .stArrow,
.main-container .product-view .summary.single-product-info .share_buttons .stButton .stButton_gradient,
.main-container .product-view .summary.single-product-info .share_buttons .stMainServices .stFb,
.main-container .product-view .summary.single-product-info .share_buttons .stMainServices .stTwbutton,
.main-container .product-view .summary.single-product-info .share_buttons .stMainServices .stArrow,
.main-container .product-view .summary.single-product-info .share_buttons .stMainServices .stButton_gradient {
  height: auto;
}
.main-container .product-view .single-product-sharing {
  float: left;
  width: 100%;
  margin-top: 20px;
}
.main-container .product-view .single-product-sharing .widget-title {
  display: inline-block;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-right: 15px;
}
.main-container .product-view .single-product-sharing ul.social-icons {
  display: inline-block;
  list-style: none;
  padding: 0;
}
.main-container .product-view .single-product-sharing ul.social-icons li {
  display: inline-block;
  margin-right: 15px;
  position: relative;
}
.main-container .product-view .single-product-sharing ul.social-icons li a {
  color: #a9a9a9;
  display: block;
  line-height: 33px;
  text-align: center;
}
.main-container .product-view .single-product-sharing ul.social-icons li a:hover {
  color: #1a1a1a;
}
.main-container .product-view .single-product-sharing ul.social-icons li a i {
  line-height: 33px;
}
.main-container .product-view .product .woocommerce-tabs {
  margin: 0 0 40px;
  position: relative;
}
.main-container .product-view .product .woocommerce-tabs:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs {
  background: none;
  border-bottom: 1px solid #e5e5e5;
  float: left;
  margin-bottom: 0;
  padding: 0;
  overflow: inherit;
  text-align: left;
  width: 100%;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs:before {
  display: none;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li {
  background: none;
  border: none;
  box-shadow: none;
  display: block;
  list-style: none;
  margin: 0 25px 0 0;
  position: relative;
  padding: 0;
  float: left;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li:before,
.main-container .product-view .product .woocommerce-tabs ul.tabs li:after {
  display: none;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li:first-child {
  padding-left: 0;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li a {
  border: none;
  color: #808080;
  display: block;
  font-size: 1.57em;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 1 !important;
  padding: 0 0 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li a:before {
  display: none;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li a:after {
  background: #1a1a1a;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  z-index: 999;
  margin: auto;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li a:hover {
  color: #1a1a1a;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li a:hover:after {
  width: 50px;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li.active a {
  background: none;
  color: #1a1a1a;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li.active a:after {
  width: 50px;
}
.main-container .product-view .product .woocommerce-tabs .panel {
  border-radius: 0;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: none;
  color: #959595;
  float: left;
  line-height: 2;
  min-height: 160px;
  padding: 30px 0;
  width: 100%;
  margin: 0;
}
.main-container .product-view .product .woocommerce-tabs .panel > h2 {
  display: none;
}
.main-container .product-view .product .woocommerce-tabs .panel p:last-child {
  margin: 0;
}
.main-container .product-view .product .woocommerce-tabs .panel .shop_attributes {
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: none;
  border-top: 1px solid #e5e5e5;
}
.main-container .product-view .product .woocommerce-tabs .panel .shop_attributes th {
  color: #1a1a1a;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}
.main-container .product-view .product .woocommerce-tabs .panel .shop_attributes td {
  border: none;
  border-right: 1px solid #e5e5e5;
  padding: 8px;
}
.main-container .product-view .product .woocommerce-tabs .panel h2 {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-size: 1.143em;
  font-weight: normal;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.main-container .product-view .product .woocommerce-tabs .panel h3 {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews h3 {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-size: 1.23em;
  font-weight: 700;
  margin: 0 0 20px;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments {
  margin: 0 auto;
  max-width: 650px;
  width: 100%;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments h2 {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-size: 1.385em;
  font-weight: 700;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist {
  margin: 0 0 25px;
  padding: 0;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist li .avatar {
  background: none;
  border: none;
  padding: 0;
  width: 60px;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist li .comment-text {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin-left: 80px;
  position: relative;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist li .comment-text:before {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  content: '';
  display: block;
  height: 10px;
  left: -6px;
  position: absolute;
  top: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10px;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist li .comment-text p.meta {
  font-size: 1.077em;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist li .comment-text .description {
  font-size: 1em;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist li .comment-text strong {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist li .comment-text .star-rating {
  color: #f9bb00;
  font-size: 12px;
  height: 16px;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper {
  margin: 0 auto;
  max-width: 650px;
  width: 100%;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form label {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0 0 5px;
  width: 100%;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form textarea {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  height: 80px;
  padding: 10px;
  width: 100%;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a {
  border: none;
  color: #f9bb00;
  line-height: 14px;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a:after {
  color: #afafaf;
  font-family: FontAwesome;
  font-weight: normal;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a.star-1:after {
  content: '\f006';
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a.star-2:after {
  content: '\f006\f006';
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a.star-3:after {
  content: '\f006\f006\f006';
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a.star-4:after {
  content: '\f006\f006\f006\f006';
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a.star-5:after {
  content: '\f006\f006\f006\f006\f006';
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a.active:after,
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a:hover:after {
  color: #f9bb00;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .form-submit #submit {
  background: #1a1a1a;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0 25px;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  vertical-align: middle;
  white-space: nowrap;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .form-submit #submit:hover {
  background: #cc0000;
  color: #fff;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .form-submit #submit.disabled,
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .form-submit #submit:disabled,
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .form-submit #submit[disabled] {
  color: #fff;
  padding: 0 20px !important;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .form-submit #submit.disabled:hover,
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .form-submit #submit:disabled:hover,
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .form-submit #submit[disabled]:hover {
  color: #cc0000 !important;
}
.main-container .product-view .product_meta {
  margin: 0 0 50px;
  background: #f5f5f5;
  text-align: center;
  padding: 25px 0;
}
.main-container .product-view .product_meta .chosen-container,
.main-container .product-view .product_meta .wcml_currency_switcher {
  display: none;
}
.main-container .product-view .product_meta .sku_wrapper,
.main-container .product-view .product_meta .posted_in,
.main-container .product-view .product_meta .tagged_as {
  color: #808080;
  display: inline-block;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-size: 1.142em;
  font-weight: 400;
  margin-right: 10px;
  text-transform: capitalize;
}
.main-container .product-view .product_meta .sku_wrapper a:hover,
.main-container .product-view .product_meta .posted_in a:hover,
.main-container .product-view .product_meta .tagged_as a:hover {
  color: #cc0000;
}
.main-container .product-view .product_meta .sku_wrapper a,
.main-container .product-view .product_meta .sku_wrapper span,
.main-container .product-view .product_meta .posted_in a,
.main-container .product-view .product_meta .posted_in span,
.main-container .product-view .product_meta .tagged_as a,
.main-container .product-view .product_meta .tagged_as span {
  color: #808080;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: none;
}
.main-container .product-view .upsells_products_widget,
.main-container .product-view .related_products_widget {
  float: left;
  margin-bottom: 80px;
  width: 100%;
}
.main-container .product-view .upsells_products_widget:last-of-type,
.main-container .product-view .related_products_widget:last-of-type {
  margin-bottom: 0;
}
.main-container .product-view .upsells_products_widget .widget-title,
.main-container .product-view .related_products_widget .widget-title {
  font-size: 2em;
  letter-spacing: .05em;
  margin-bottom: 35px;
  text-align: center;
}
.main-container .product-view .upsells_products_widget .widget-title span,
.main-container .product-view .related_products_widget .widget-title span {
  color: #808080;
  display: inline-block;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1;
  padding: 0 0 20px;
  position: relative;
  text-decoration: none;
  text-shadow: none;
}
.main-container .product-view .upsells_products_widget .widget-title span:after,
.main-container .product-view .related_products_widget .widget-title span:after {
  background: #cc0000;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: -20px;
  position: absolute;
  right: -20px;
  z-index: 1;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}
.main-container .product-view .upsells_products_widget .upsells.products,
.main-container .product-view .related_products_widget .upsells.products {
  border: none;
  box-shadow: none;
  float: left;
  width: 100%;
}
.main-container .product-view .upsells_products_widget .shop-products,
.main-container .product-view .related_products_widget .shop-products {
  margin-bottom: 0;
}
.main-container .product-view .upsells_products_widget .shop-products .slick-list,
.main-container .product-view .related_products_widget .shop-products .slick-list {
  padding: 0;
}
.main-container .product-view .upsells_products_widget .shop-products .item-col,
.main-container .product-view .related_products_widget .shop-products .item-col {
  width: 300px;
}
.main-container .product-view .upsells_products_widget .shop-products .item-col.first,
.main-container .product-view .related_products_widget .shop-products .item-col.first {
  clear: none;
}
.main-container .product-view .related_products_widget {
  margin-bottom: 10px;
}
.main-container .woocommerce .woocommerce-cart-form {
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.main-container .woocommerce form h3 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.main-container .woocommerce form label {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  margin: 0 0 5px;
}
.main-container .woocommerce form label[for='rememberme'] {
  margin-left: 15px;
}
.main-container .woocommerce form fieldset {
  float: left;
  margin: 20px 0;
  width: 100%;
}
.main-container .woocommerce form fieldset legend {
  border-bottom: none;
  color: #cc0000;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0 0 10px;
  padding: 0;
  text-transform: uppercase;
}
.main-container .woocommerce form abbr.required {
  text-decoration: none;
}
.main-container .woocommerce form.checkout_coupon,
.main-container .woocommerce form.login,
.main-container .woocommerce form.register {
  background: #fff;
}
.main-container .woocommerce .woocommerce-MyAccount-navigation {
  background: #fff;
  border: 1px solid #e5e5e5;
}
.main-container .woocommerce .woocommerce-MyAccount-navigation ul {
  margin: 0;
  padding: 15px 35px;
}
.main-container .woocommerce .woocommerce-MyAccount-navigation ul li {
  border-bottom: 1px solid #e5e5e5;
  list-style-type: none;
  padding: 6px 0;
  vertical-align: middle;
}
.main-container .woocommerce .woocommerce-MyAccount-navigation ul li:last-child {
  border-bottom: none;
}
.main-container .woocommerce table.my_account_orders th,
.main-container .woocommerce table.my_account_orders td {
  border-bottom: none;
  text-align: center !important;
}
.main-container .woocommerce table.my_account_orders tr th,
.main-container .woocommerce table.my_account_orders tr td {
  padding: 10px 20px;
}
.main-container table.shop_table {
  background: #fff;
  border: 0;
  border-radius: 0 !important;
  color: #4c4c4c;
  margin: 0 0 50px;
}
.main-container table.shop_table tr {
  border-bottom: 1px solid #e5e5e5;
}
.main-container table.shop_table th {
  border-bottom: 1px solid #e5e5e5;
  border-top: none;
  border-right: 0;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-size: 1.142em;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}
.main-container table.shop_table td {
  border-top: 0;
  border-right: none;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 500;
  font-size: 1.142em;
  padding: 25px 10px;
  text-align: center;
  vertical-align: middle;
}
.main-container table.shop_table td.product-thumbnail {
  text-align: center;
}
.main-container table.shop_table td.product-thumbnail a {
  border: 1px solid #e5e5e5;
  display: inline-block;
}
.main-container table.shop_table td.product-thumbnail img {
  width: 125px;
}
.main-container table.shop_table td.product-name {
  text-align: left;
}
.main-container table.shop_table td.product-name a {
  color: #1a1a1a;
}
.main-container table.shop_table td.product-name a:hover {
  color: #cc0000;
}
.main-container table.shop_table td.product-name .variation {
  color: #808080;
  font-size: 12px;
  margin: 5px 0 0;
}
.main-container table.shop_table td.product-name .variation dt {
  float: none;
  font-weight: 700;
  display: inline-block;
}
.main-container table.shop_table td.product-name .variation dd {
  display: inline-block;
  float: none;
  margin: 0 0 3px;
  padding: 0;
}
.main-container table.shop_table td.product-price {
  color: #1a1a1a;
}
.main-container table.shop_table td.product-price .old-price {
  color: #aeaeae;
  font-size: .9em;
  margin-left: 10px;
  text-decoration: line-through;
}
.main-container table.shop_table td.product-remove {
  text-align: center;
}
.main-container table.shop_table td.product-add-to-cart .button.add_to_cart {
  margin: 0 25px;
}
.main-container table.shop_table .table-bottom .actions {
  border: 0;
  padding: 10px 0;
}
.main-container table.shop_table .order .order-actions {
  text-align: center;
}
.main-container table.shop_table .cart_item:hover {
  background: #f9f9f9;
}
.main-container table.shop_table a.remove {
  background: none;
  color: #acacac !important;
  display: inline-block;
  font-size: 20px;
}
.main-container table.shop_table a.remove:hover {
  color: #cc0000 !important;
}
.main-container table.shop_table .quantity {
  height: 35px;
  margin: auto;
  width: 68px;
}
.main-container table.shop_table .quantity .input-text {
  background: none;
  border: 2px solid #e5e5e5;
  border-radius: 0;
  color: #4c4c4c;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
}
.main-container table.shop_table .cart-subtotal th,
.main-container table.shop_table .shipping th,
.main-container table.shop_table .order-total th {
  font-size: 14px;
}
.main-container .buttons-cart {
  float: right;
  margin: 0 0 35px !important;
}
.main-container .buttons-cart .button {
  float: left;
  margin-left: 15px;
}
.main-container .buttons-cart .continue {
  float: left;
}
.main-container .return-to-shop .button {
  margin: 15px 0 0 0;
}
.main-container .coupon {
  float: left;
  margin: 0 0 30px !important;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 0 20px 20px;
}
.main-container .coupon h3 {
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.142em;
  margin: 0 -20px 20px;
  font-weight: 700;
  line-height: 30px;
  padding: 10px 20px;
  text-transform: uppercase;
}
.main-container .coupon p {
  color: #808080;
  font-size: 13px;
  margin-bottom: 20px;
}
.main-container .coupon label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
  text-transform: uppercase;
  width: 100%;
}
.main-container .coupon .input-text {
  border: 1px solid #e5e5e5;
  float: left;
  height: 42px;
  margin: 0 0 22px;
  max-width: 100%;
  padding: 0 0 0 10px;
  width: 100%;
}
.main-container .cart_totals {
  float: left;
  margin: 0 0 30px !important;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 0 20px 20px;
}
.main-container .cart_totals h2 {
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.142em;
  margin: 0 -20px 20px;
  font-weight: 700;
  line-height: 30px;
  padding: 10px 20px;
  text-transform: uppercase;
}
.main-container .cart_totals table.shop_table {
  border: none;
  float: right;
  margin: 0 0 10px 0;
  text-align: right;
}
.main-container .cart_totals table.shop_table th {
  border: none;
  font-weight: 400;
  padding: 0;
  text-align: left;
  text-transform: capitalize;
  vertical-align: top;
}
.main-container .cart_totals table.shop_table td {
  background: none !important;
  border: none;
  padding: 0 0 12px;
  text-align: right;
  vertical-align: top;
}
.main-container .cart_totals table.shop_table td .amount {
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
  font-size: 1.4em;
}
.main-container .cart_totals table.shop_table td label {
  display: inline;
  margin: 0;
  text-transform: none;
  white-space: normal;
}
.main-container .cart_totals table.shop_table .shipping {
  text-align: left;
}
.main-container .cart_totals table.shop_table .shipping ul#shipping_method:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.main-container .cart_totals table.shop_table .shipping ul#shipping_method li {
  float: left;
  margin: 0 0 10px;
  padding: 0;
  text-align: right;
  text-indent: 0;
  width: 100%;
}
.main-container .cart_totals table.shop_table .shipping ul#shipping_method li .shipping_method {
  margin: 0;
  position: relative;
  top: 2px;
}
.main-container .cart_totals table.shop_table .shipping ul#shipping_method li .amount {
  margin-left: 10px;
  text-align: left;
}
.main-container .cart_totals table.shop_table .order-total {
  margin: 15px 0 0 0;
}
.main-container .cart_totals table.shop_table .order-total th {
  border-top: 1px solid #e5e5e5;
  padding: 10px 0;
  text-transform: capitalize;
  white-space: nowrap;
  font-weight: 700;
  font-size: 2em;
}
.main-container .cart_totals table.shop_table .order-total .amount {
  font-size: 1.8em;
  font-weight: 700;
  white-space: nowrap;
}
.main-container .cart_totals table.shop_table .order-total td {
  border-top: 1px solid #e5e5e5;
  padding: 10px 0;
}
.main-container .cart_totals .wc-proceed-to-checkout {
  float: left;
  padding: 0;
  width: 100%;
  text-align: right;
}
.main-container .cart_totals .wc-proceed-to-checkout .button {
  background: #cc0000;
  border-color: #cc0000;
  color: #fff;
  margin: 0 !important;
}
.main-container .cart_totals .wc-proceed-to-checkout .button:hover {
  background: #990000;
  border-color: #990000;
}
.main-container .shipping-calculator-form {
  background: #f2f2f2;
  border-radius: 3px;
  float: right;
  margin-top: 20px;
  max-width: 100%;
  padding: 10px;
}
.main-container .shipping-calculator-form .form-row {
  margin-bottom: 10px;
  padding: 0;
}
.main-container .shipping-calculator-form input,
.main-container .shipping-calculator-form select {
  background: #fff;
  border: none;
  height: 32px;
  padding: 0 0 0 10px;
}
.main-container .cart-form {
  position: relative;
}
.main-container .cart-form .loading {
  background-color: #fff;
  background-image: url('../images/loader.gif');
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
  height: 100%;
  left: 0;
  opacity: .7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.main-container .cart-form.loading .loading {
  display: block;
}
.main-container .cross-sells {
  float: left;
  margin-bottom: 30px;
  width: 100% !important;
}
.main-container .cross-sells h3 {
  font-size: 14px;
  font-weight: 400;
}
.main-container .cross-sells .cross-carousel {
  float: left;
  width: 100%;
}
.main-container .cross-sells .shop-products .item-col {
  margin: 0;
}
.main-container .cross-sells .shop-products .item-col.first {
  clear: none;
}
.main-container .cross-sells .shop-products .item-col .product-wrapper .product-image .price-rate {
  bottom: 50px;
}
.main-container .cross-sells .shop-products .item-col .product-wrapper .product-image .price-rate .price-box {
  display: none;
}
.main-container .cross-sells .shop-products .item-col .product-wrapper .product-image .actions {
  display: none;
}
.main-container .cross-sells .shop-products .item-col .product-wrapper h2.product-name {
  font-weight: 400;
  margin: 10px 0 0;
  text-transform: none;
}
.main-container .cross-sells .shop-products .slick-dots li {
  margin: 0 2px;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields,
.main-container .woocommerce-checkout .woocommerce-shipping-fields {
  margin: 0 0 30px;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields h3,
.main-container .woocommerce-checkout .woocommerce-shipping-fields h3 {
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.4em;
  font-weight: 400;
  margin: 0 0 20px;
  padding-bottom: 10px;
  text-transform: none;
  width: 100%;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields h3 label,
.main-container .woocommerce-checkout .woocommerce-shipping-fields h3 label {
  margin-right: 5px;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields h3#ship-to-different-address input#ship-to-different-address-checkbox,
.main-container .woocommerce-checkout .woocommerce-shipping-fields h3#ship-to-different-address input#ship-to-different-address-checkbox {
  margin: 8px 0 0 0;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields h3#ship-to-different-address span,
.main-container .woocommerce-checkout .woocommerce-shipping-fields h3#ship-to-different-address span {
  margin-left: 20px;
  cursor: pointer;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields .form-row,
.main-container .woocommerce-checkout .woocommerce-shipping-fields .form-row {
  margin: 0 0 40px;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields label,
.main-container .woocommerce-checkout .woocommerce-shipping-fields label {
  color: #1a1a1a;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  margin: 0 0 5px;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields .input-text,
.main-container .woocommerce-checkout .woocommerce-shipping-fields .input-text {
  height: 42px;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields select,
.main-container .woocommerce-checkout .woocommerce-shipping-fields select {
  border: 1px solid #e5e5e5;
  height: 42px;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields #order_comments,
.main-container .woocommerce-checkout .woocommerce-shipping-fields #order_comments {
  height: 90px;
  padding: 15px;
}
.main-container .woocommerce-checkout .woocommerce-account-fields .create-account input#createaccount {
  margin: 8px 0px 0px 0px;
}
.main-container .woocommerce-checkout .woocommerce-account-fields .create-account span {
  margin-left: 20px;
}
.main-container .order-box {
  background: #f2f2f2;
  padding: 30px 40px 45px;
}
.main-container #order_review_heading {
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.4em;
  font-weight: 400;
  margin: 0 0 20px;
  padding-bottom: 10px;
  text-transform: capitalize;
  width: 100%;
}
.main-container #order_review .shop_table {
  background: none;
  border: none;
}
.main-container #order_review .shop_table th,
.main-container #order_review .shop_table td {
  border-bottom: 1px solid #d8d8d8;
  border-right: none;
  border-top: none;
  font-size: 14px;
  padding: 15px 0;
  text-align: center;
}
.main-container #order_review .shop_table .shipping th,
.main-container #order_review .shop_table .shipping td {
  vertical-align: top;
}
.main-container #order_review .shop_table .shipping #shipping_method {
  width: 250px;
}
.main-container #order_review .shop_table .shipping #shipping_method li {
  float: left;
  margin: 0 0 10px;
  padding: 0;
  text-indent: 0;
  width: 100%;
}
.main-container #order_review .shop_table .shipping #shipping_method li .shipping_method {
  position: relative;
  top: 2px;
}
.main-container #order_review .shop_table .order-total th,
.main-container #order_review .shop_table .order-total td {
  border-bottom: none;
  font-size: 18px;
}
.main-container #order_review .shop_table .order-total th .amount,
.main-container #order_review .shop_table .order-total td .amount {
  color: #cc0000;
}
.main-container #order_review #payment {
  background: none;
}
.main-container #order_review #payment a.about_paypal {
  margin-left: 15px;
}
.main-container #order_review #payment .payment_methods {
  border: none;
  padding: 0;
}
.main-container #order_review #payment .payment_methods li {
  margin: 0 0 15px;
}
.main-container #order_review #payment .payment_methods label {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
}
.main-container #order_review #payment .payment_methods .payment_box {
  background: none;
  box-shadow: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-shadow: none;
  width: 100%;
}
.main-container #order_review #payment .payment_methods .payment_box:after,
.main-container #order_review #payment .payment_methods .payment_box:before {
  display: none;
}
.main-container #order_review #payment .payment_methods .input-radio {
  position: relative;
  top: 2px;
}
.main-container #order_review #payment .place-order {
  margin: 0;
  padding: 0;
}
.main-container #order_review #payment .place-order #place_order {
  background: #cc0000;
  font-size: 14px;
  height: 50px;
  margin: 0;
}
.main-container #order_review #payment .place-order #place_order:hover {
  background: #990000;
}
.main-container .checkout_coupon {
  border: none;
  padding: 0;
}
.main-container .checkout_coupon .form-row {
  float: left;
  margin: 0;
  width: auto;
}
.main-container .checkout_coupon .input-text {
  height: 36px;
  width: 170px;
}
.main-container .checkout_coupon .button {
  background: #1a1a1a;
  border: none;
  border-radius: 0;
  color: #fff;
  margin-left: 6px;
}
.main-container .checkout_coupon .button:hover {
  background: #000000;
}
.main-container .checkout-login form.login {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  margin: 0 0 20px;
}
.main-container .checkout-login form.login .form-row {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.main-container .checkout-login form.login label {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}
.main-container .checkout-login form.login #rememberme {
  margin: 0 3px 0 15px;
}
.main-container .checkout-login form.login .lost_password {
  float: left;
  margin: 10px 0 0;
}
.main-container .checkout-login form.login .input-text {
  border: 1px solid #e5e5e5;
  height: 36px;
  margin: 0 0 14px;
  max-width: 100%;
  padding: 0 0 0 10px;
  width: 370px;
}
.main-container .checkout-done > p:first-child {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.35;
}
.main-container .checkout-done > p:first-child:before {
  content: '\f00c';
  display: inline-block;
  font-family: FontAwesome;
  margin-right: 8px;
}
.main-container .checkout-done h2,
.main-container .checkout-done h2.title {
  font-size: 14px;
  margin: 50px 0 15px;
  padding-bottom: 0;
  text-transform: uppercase;
}
.main-container .checkout-done h3 {
  font-size: 13px;
  margin: 0 0 20px;
  padding: 0 0 0;
  width: 100%;
}
.main-container .checkout-done .order_summary {
  background: #f2f2f2;
  float: left;
  font-size: 15px;
  margin: 20px 0 30px;
  padding: 25px;
  width: 100%;
}
.main-container .checkout-done .order_summary strong {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-top: 5px;
}
.main-container .checkout-done .order_summary li {
  margin: 0;
  padding-left: 10px;
}
.main-container .checkout-done .bacs_details {
  padding: 0;
}
.main-container .checkout-done .shop_table {
  border: none;
  max-width: 650px;
  table-layout: fixed;
}
.main-container .checkout-done .shop_table tr:first-child th,
.main-container .checkout-done .shop_table tr:first-child td {
  border-top: 1px solid #e5e5e5 !important;
}
.main-container .checkout-done .shop_table th {
  font-weight: 700;
}
.main-container .checkout-done .shop_table .product-name a {
  color: #cc0000;
}
.main-container .checkout-done .shop_table thead th,
.main-container .checkout-done .shop_table thead td {
  border-bottom: none;
}
.main-container .checkout-done .shop_table .order_item td {
  border-bottom: none;
}
.main-container .checkout-done .shop_table tfoot th {
  font-weight: 400;
  padding-right: 30px;
  text-align: right;
}
.main-container .checkout-done .shop_table th,
.main-container .checkout-done .shop_table td {
  border: 1px solid #e5e5e5;
  border-right: none;
  border-top: none;
  font-size: 14px;
  padding: 15px 0;
}
.main-container .checkout-done .shop_table tr th:last-child,
.main-container .checkout-done .shop_table tr td:last-child {
  border-right: 1px solid #e5e5e5;
}
.main-container .customer_login form.login,
.main-container .customer_login form.register {
  border: none;
  float: left;
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
}
.main-container .customer_login form.login .form-fields,
.main-container .customer_login form.register .form-fields {
  border-bottom: none;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  float: left;
  padding: 20px 25px;
  width: 100%;
}
.main-container .customer_login form.login .form-fields h2,
.main-container .customer_login form.register .form-fields h2 {
  border-bottom: 1px solid #e5e5e5;
  font-size: 18px;
  margin: 0 0 15px;
  padding: 0 0 5px;
  text-transform: uppercase;
}
.main-container .customer_login form.login .form-fields .form-row,
.main-container .customer_login form.register .form-fields .form-row {
  margin: 0 0 8px;
  padding: 0;
}
.main-container .customer_login form.login .form-action,
.main-container .customer_login form.register .form-action {
  background: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-top: none;
  float: left;
  padding: 15px 10px;
  width: 100%;
}
.main-container .customer_login form.login .form-action .lost_password,
.main-container .customer_login form.register .form-action .lost_password {
  float: left;
  line-height: 36px;
  margin: 0;
}
.main-container .customer_login form.login .form-action label,
.main-container .customer_login form.register .form-action label {
  float: right;
  font-weight: normal;
  line-height: 36px;
  margin: 0 20px 0 0;
}
.main-container .customer_login form.login .form-action label #rememberme,
.main-container .customer_login form.register .form-action label #rememberme {
  margin-right: 3px;
  margin-top: 0;
  position: relative;
  top: 1px;
}
.main-container .customer_login form.login .form-action .button,
.main-container .customer_login form.register .form-action .button {
  float: right;
}
.main-container .recent-orders-title {
  font-size: 18px;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.main-container .address-box {
  float: left;
  margin: 0 0 30px;
  width: 100%;
}
.main-container .address-box.recent-orders,
.main-container .address-box.my-address {
  border: none;
  padding: 0;
}
.main-container .address-box h2,
.main-container .address-box h2.title {
  font-size: 18px;
  text-transform: uppercase;
}
.main-container .address-box table.shop_table {
  font-size: 14px;
}
.main-container .address-box table.shop_table th,
.main-container .address-box table.shop_table td {
  text-align: center;
  vertical-align: middle;
}
.main-container .address-box table.shop_table .order-number {
  border-left: none;
}
.main-container .address-box table.shop_table .button {
  margin: 0;
  padding: 0 30px;
}
.main-container .address-box table.shop_table.order_details th,
.main-container .address-box table.shop_table.order_details .product-name {
  text-align: left;
}
.main-container .address-box table.shop_table.order_details td,
.main-container .address-box table.shop_table.order_details .product-total {
  text-align: right;
}
.main-container .address-box table.shop_table.order_details .product-name {
  border-left: none;
}
.main-container .address-box table.shop_table.order_details tfoot th {
  border-left: none;
  border-top: none;
}
.main-container .address-box .lost_reset_password {
  float: left;
  width: 100%;
}
.main-container .address-box .lost_reset_password .form-row .button {
  float: left;
}
.main-container .addresses {
  line-height: 2;
}
.main-container .addresses .title h3 {
  border-bottom: 1px solid #e5e5e5;
  font-size: 16px;
  margin: 0 0 10px;
  padding: 15px 0;
  width: 100%;
}
.main-container .addresses address {
  line-height: 2;
}
.main-container .myaccount_user {
  color: #666;
  margin: 0 0 30px;
  padding: 0;
}
.main-container .myaccount_user a {
  text-decoration: underline;
}
.main-container #yith-wcwl-form .wishlist_table {
  border-right: none;
}
.main-container #yith-wcwl-form .wishlist_table tr td.product-stock-status span.wishlist-in-stock {
  color: #cc0000;
}
.main-container #yith-wcwl-form .yith-wcwl-share ul {
  margin: 0;
  padding: 0;
}
